{% extends 'Web/Combustible/combustible_base.html' %}
{% block procesos%}active{% endblock %}
{% block collapseProcesos %}show{% endblock collapseProcesos %}
{% block estaciones %}collapse-item active{% endblock  %}
{% block content %}
{% load static %}
<div id="wrapper">
  <div class="container-fluid">

    <ul class="nav nav-tabs" id="myTab" data-tabs="tabs">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="estaciones-tab" data-toggle="tab" data-target="#estaciones" type="button"
          role="tab" aria-controls="estaciones" aria-selected="true">Estaciones de Servicio</button>
      </li>
      <!-- <li class="nav-item" role="presentation">
        <button class="nav-link" id="estacionesxprod-tab" data-toggle="tab" data-target="#estacionesxprod" type="button"
          role="tab" aria-controls="estacionesxprod" aria-selected="false">Asignar productos</button>
      </li> -->
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="productos-tab" data-toggle="tab" data-target="#productos" type="button" role="tab"
          aria-controls="productos" aria-selected="false">Productos</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="estaciones" role="tabpanel" aria-labelledby="estaciones-tab">
        <div class="card">

          <div class="card-body">
            <div class="row mb-3">
              <div class="col-lg-10"></div>
              <div class="col-lg-2"> <button id="btn-add-estacion" class="btn btn-primary">Nueva Estación</button></div>
            </div>
                <table class="table  table-hover table-bordered" id="tabla_lista_estaciones" style="width: 100%;">
                  <thead>
                    <th style="width: 50%;">Codigo</th>
                    <th style="width: 25%;"> Nombre</th>
                    <th style="width: 10%;"> Estado</th>
                    <th style="width: 15%;"></th>
                  </thead>
                </table>
  
  
            </div>
        </div>


      </div>

      <div class="tab-pane fade" id="productos" role="tabpanel" aria-labelledby="productos-tab">
        <div class="card">

          <div class="card-body">
          <div class="row mb-3">
            <div class="col-lg-10"></div>
            <div class="col-lg-2"> <button id="btn-add-producto" class="btn btn-primary">Nuevo Producto</button></div>
          </div>
              <table class="table  table-hover table-bordered" id="tabla_lista_productos" style="width: 100%;">
                <thead>
                  <th style="width: 50%;">Producto</th>
                  <th style="width: 25%;"> Unidad</th>
                  <th style="width: 10%;"> Estado</th>
                  <th style="width: 15%;"></th>
                </thead>
              </table>


          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock content %}

{% block bottom_scripts %}
<script>
  function clean_fields(input) {
    $(input).val('');
  }


  let tabla_producto
  let objeto
  let data_producto
  let data2 = {
    id: "",
    producto: {
      id: "",
      descripcion: "",
      estado:true,
    },
    precio: 0.00
  }
  // let tabla_producto_eess
  // let objeto2 = {
  //   items: [],
  //   list: function () {
  //     tabla_producto_eess = $("#tabla_productos_eess").DataTable({
  //       searching: false,
  //       ordering: false,
  //       paging: false,
  //       info: false,
  //       data: this.items,
  //       destroy: true,
  //       language: {
  //       "url": "{% static 'language.json' %}"
  //     },
  //       columns: [{
  //           "data": 'id',
  //           className: null
  //         },
  //         {
  //           "data": 'producto.id',
  //           className: "middle"
  //         },

  //         {
  //           "data": "precio",
  //           className: "middle"

  //         },

  //         {
  //           "data": null,
  //           className: "middle"
  //         },
  //       ],
  //       columnDefs: [{
  //           "targets": [0],
  //           "visible": false,
  //         },
  //         {
  //           targets: [1],
  //           render: function (data, type, row) {
  //             let $select = $('<select name="producto"  class="form form-select ">' +
  //               ' <option value="0">Seleccione...</option>' +
  //               '{% for i in producto  %}' +
  //               '<option value="{{i.id}}">{{i.descripcion}}</option>' +
  //               '{% endfor %}' +
  //               '</select>');
  //             $select.find('option[value="' + data + '"]').attr('selected', 'selected');
  //             return $select[0].outerHTML
  //           }
  //         },
  //         {
  //           targets: [2],
  //           render: function (data, type, row) {
  //             return `<input type="number" name="precio" step="0.01" min="0.00" class="form form-control" value="${data}">`;
  //           }
  //         },
  //         {
  //           targets: [3],
  //           render: function (data, type, row) {

  //             if (data.producto.id != "") {
  //               return `<button class="btn btn-success btn-remove"><i class="fas fa-check"></i></button>`;

  //             } else {
  //               return `<button class="btn btn-primary btn-add"><i class="fas fa-plus"></i></button>`;
  //             }
  //           }
  //         },
  //       ],

  //       initComplete: function (settings, json) {
  //         $(function () {
  //           $(".btn-remove").on("click", function () {
  //             var tr = tabla_producto_eess.cell($(this).closest("td", "li")).index()

  //             let a = confirmar(function () {
  //               objeto2.items.splice(tr.row, 1)
  //               objeto2.list()

  //             }, "¿Desea eliminar este producto de la lista?", function () {

  //             })


  //           })
  //           $(".btn-remove").hover(function () {

  //               $(this).children().remove()
  //               $(this).append('<i class="fas fa-times"></i>').css("width", "42px")
  //               $(this).removeClass("btn-success").addClass("btn-danger");
  //             }, function () {
  //               $(this).children().remove()
  //               $(this).append('<i class="fas fa-check"></i>')
  //               $(this).removeClass("btn-danger").addClass("btn-success");
  //             }

  //           )

  //           $("input[name='precio']").on("change keyup", function (e) {
  //             e.preventDefault()
  //             var cant = $(this).val();
  //             var tr = tabla_producto_eess.cell($(this).closest("td", "li")).index()
  //             if ($(this).val() == "") {
  //               $("#update_products").prop("disabled", true)
  //               $(this).addClass("is-invalid")
  //             } else {
  //               $("#update_products").prop("disabled", false)
  //               $(this).removeClass("is-invalid")
  //               let a = 0
  //               $.each($(".form"), function (index, value) {
  //                 if ($(value).hasClass("is-invalid")) {
  //                   a = a + 1
  //                   $("#update_products").prop("disabled", true)
  //                 }
  //               });
  //               if (a == 0) {
  //                 if (typeof objeto2.items[tr.row] !== "undefined") {
  //                   objeto2.items[tr.row].precio = cant;
  //                 }
  //                 $("#update_products").prop("disabled", false)

  //               }
  //             }
  //           })
  //           $("select[name='producto']").on("change", function (e) {
  //             e.preventDefault()
  //             console.log("aea")
  //             $(this).removeClass("is-invalid")
  //             var cant = $(this).val();
  //             var tr = tabla_producto_eess.cell($(this).closest("td", "li")).index()
  //             if ($(this).val() == "0") {
  //               $("#update_products").prop("disabled", true)
  //               $(this).addClass("is-invalid")
  //             } else {
  //               let errorc = 0
  //               for (let i = 0; i < settings.aoData.length - 1; i++) {
  //                 console.log(settings.aoData[i])
  //                 if (settings.aoData[i]._aData.producto.id == cant && i != tr.row) {
  //                   alerta(1500, "error", "Ese producto ya se encuentra en la tabla")
  //                   $(this).addClass("is-invalid")
  //                   errorc = 1
  //                   break
  //                 }
  //               }

  //               let a = 0
  //               $.each($(".form"), function (index, value) {
  //                 if ($(value).hasClass("is-invalid")) {
  //                   a = a + 1
  //                   $("#update_products").prop("disabled", true)
  //                 }
  //               });
  //               if (a == 0 && errorc == 0) {
  //                 $("#update_products").prop("disabled", false)

  //                 if (typeof objeto2.items[tr.row] !== "undefined") {
  //                   objeto2.items[tr.row].producto.id = cant;
  //                 }

  //               }
  //             }

  //           })
  //           $("td").on("click", ".btn-add", function (e) {
  //             let error = 0
  //             var tr = tabla_producto_eess.cell($(this).closest("td", "li")).index()
  //             let producto = $("td:eq(0)", tabla_producto_eess.row(tr.row).node()).children()
  //             console.log(producto)
  //             let precio = $("td:eq(1)", tabla_producto_eess.row(tr.row).node()).children()
  //             data2.producto.id = producto.val()
  //             data2.precio = precio.val()
  //             data2.id = ""

  //             function valid(that, name, mensaje = "Revise los campos") {
  //               let ele = $(that).parent().parent().find(name)
  //               if (ele.val() == "0" || ele.val() == "") {
  //                 error = 1
  //                 ele.addClass("is-invalid")
  //                 ele.on("change input", function () {
  //                   ele.removeClass("is-invalid")
  //                 })
  //                 alerta(1500, "error", mensaje)
  //                 $(this).prop("disabled", false)

  //               }
  //             }

  //             valid(this, "[name='precio']")
  //             valid(this, "[name='producto']")

  //             if (error == 0) {
  //               $(this).prop("disabled", false)
  //               objeto2.items.push(data2)
  //               data2 = {
  //                 id: "",
  //                 producto: {
  //                   id: "",
  //                   descripcion: ""
  //                 },
  //                 precio: 0.00,

  //               }
  //               $(this).children().remove()
  //               $(this).append('<i class="fas fa-check"></i>')
  //               $(this).removeClass("btn-primary").addClass("btn-success")
  //               $(this).removeClass("btn-add").addClass("btn-remove")
  //               $(this).hover(function () {

  //                   $(this).children().remove()
  //                   $(this).append('<i class="fas fa-times"></i>').css("width",
  //                     "42px")
  //                   $(this).removeClass("btn-success").addClass("btn-danger");
  //                 }, function () {
  //                   $(this).children().remove()
  //                   $(this).append('<i class="fas fa-check"></i>')
  //                   $(this).removeClass("btn-danger").addClass("btn-success");
  //                 }

  //               )
  //               objeto2.list()
  //               console.log(objeto2)
  //             }
  //           })
  //         })
  //       }
  //     });
  //     tabla_producto_eess.row.add(data2).draw()

  //   }
  // }

  // $("#prod_eess").on("change", function () {
  //   if($(this).val()!=0){
  //     fetch("../../combustible/get-products/" + $(this).val() + "/").then(data => data.json()).then(res => {
  //     console.log(res)
  //     objeto2.items = res.data
  //     objeto2.list()
  //     $("#update_products").prop("disabled",false)

  //   })

  //   }else{
  //     tabla_producto_eess.clear().draw()
  //     $("#update_products").prop("disabled",true)
  //   }
  // })
  // $("#update_products").on("click", function () {
  //   $("#loadingCharge").css("visibility", "visible")
  //   $("#spinner").css("visibility", "visible")
  //   fetch("../get-products/" + $("#prod_eess").val() + "/", {
  //     method: "POST",
  //     headers: {
  //       'X-CSRFToken': csrftoken
  //     },
  //     body: JSON.stringify(objeto2.items)
  //   }).then(data => data.json()).then(res => {
  //     if (res.status == 200) {
  //       $("#loadingCharge").css("visibility", "hidden")
  //       $("#spinner").css("visibility", "hidden")
  //       notificacion(1500, "Genial!", "success", "Estación actualizada!")
  //       $("#prod_eess").trigger("change")
  //     }
  //   })

  // })

  $("#btn-add-departamento").on("click", function () {
    jc = $.confirm({
      title: "Registrar Departamento",
      type: 'dark',
      theme: "material",
      content: 'URL: {% url "Web:departamento"%}',
      icon: 'fas fa-plus-circle',
      animation: 'left',
      closeAnimation: 'right',
      columnClass: "col-lg-6 col-md-6 col-md-offset-3",
      containerFluid: true,
      typeAnimated: true,
      buttons: {
        guardar: {
          btnClass: 'btn-success',
          keys: ['enter', 'shift'],
          action: function () {
            this.$content.find(".btn").trigger("click")

            return false;
          }
        },
        cancel: function () {}
      },

    })
  })
  let lista_estaciones = $("#tabla_lista_estaciones").DataTable({
    ordering:false,
         processing: "true",

    ajax: {
      url: "{% url 'Web:estaciones' %}",
      type: "POST",
      data: {
        "action": "searchData"
      },
      dataSrc: ""
    },
    "lengthMenu": [
      [5, 10, 25, 50, -1],
      [5, 10, 25, 50, "All"]
    ],
    language: {
      "url": "{% static 'language.json' %}",
    },
    columns: [

      {
        "data": 'codigo',
        className: "middle text-center"
      },     
      {
        "data": 'descripcion',
        className: "middle text-center"
      },
     
      {
          "data": 'estado',
          className: "estado middle  text-center",
          render: function (data, type, row) {
            if (data) {
              return '<i class="fa fa-check-circle text-success" aria-hidden="true"></i>';
            } else {
              return '<i class="fas fa-times-circle text-danger"></i>';
            }
          }
        },     
   {
        "data": null,
        className: "middle text-center",
   
      },      

    ],
    columnDefs:[
    {
               
               targets: [-1],
        render: function (row, data, index) {
                 var buttons ='<button class="btn btn-warning btn-sm btn-edit-estacion"><i class="fa fa-edit"></i>Editar</button>'+
                   '<button class="btn btn-danger btn-sm btn-delete-estacion"><i class="fa fa-ban"></i></button>';
     
                 return buttons;
     
               },
              
           },
    ]
  })
  let modal_estacion_create
  let modal_estacion_edit
  document.getElementById('btn-add-estacion').addEventListener("click", function (e) {
      e.preventDefault()
      let url = "{% url 'Web:estacion-create' %}";
     modal_estacion_create= $.confirm({
        title: "Nueva Estación",
        content: "URL:{% url 'Web:estacion-create' %}",
        columnClass: 'col-xl-10 col-lg-10 col-md-12 col-sm-10',
        icon: "fa fa-plus-circle",
        type: "dark",
        theme: "material",
        animateFromElement: true,
        buttons: {
          guardar: {
            btnClass: 'btn-success',
            keys: ['enter', 'shift'],
            action: function () {
              this.$content.find(".btn-add-estacion").trigger("click")
              return false;
            }
          },
          cancel: function () {}
        },

        onContentReady: function () {
          // when content is fetched & rendered in DOM
          this.$content.find('form').on('submit', function (e) {
            e.preventDefault();
          });;
        },
      });
    });
    $(document).on("click", '.btn-edit-estacion', function (e) {

      e.preventDefault()
      var tr = lista_estaciones.cell($(this).closest("td")).index();
      var data = lista_estaciones.row(tr.row).data();
      modal_estacion_edit = $.confirm({
        title: "Editar Estación",
        content: "URL:../estacion/update/" + data.id+"/",
        columnClass: 'col-xl-10 col-lg-10 col-md-12 col-sm-10',
        icon: "fa fa-edit",
        type: "orange",
        scrollToPreviousElement: true,
        scrollToPreviousElementAnimate: true,

        buttons: {
          Confirm: {
            text: 'Guardar cambios',
            btnClass: 'btn-orange',

            action: function url(e) {
              this.$content[0].ownerDocument.getElementById("btn_edit_estacion").click()
              return false;
            }
          },

          cancel: function () {

          },
        },
        onContentReady: function () {
          // when content is fetched & rendered in DOM
          this.$content.find('form').on('submit', function (e) {
            e.preventDefault();
          });;
        },


      });


    });
        $(document).on("click", '.btn-delete-estacion', function (e) {

      e.preventDefault()
      var tr = lista_estaciones.cell($(this).closest("td")).index();
      var data = lista_estaciones.row(tr.row).data();

        confirmar(function(){
          $("#loadingCharge").css("visibility", "visible")
      $("#spinner").css("visibility", "visible")
          fetch("../estacion/delete/" + data.id+"/", {
                method: "POST",
                headers: {
                  'X-CSRFToken': csrftoken
                }}).then(data=>data.json()).then(response=>{
                  
      $("#loadingCharge").css("visibility", "hidden")
      $("#spinner").css("visibility", "hidden")
                  if(response.status==200){

                    lista_estaciones.ajax.reload()
                    notificacion(1500, "Genial!","success", "Estacion eliminada!")

                  }

                })
        },"¿Desea eliminar esta Estación?",function () {})

      });
  let lista_productos = $("#tabla_lista_productos").DataTable({
    ordering:false,
         processing: "true",

    ajax: {
      url: "{% url 'Web:productos' %}",
      type: "POST",
      data: {
        "action": "searchData"
      },
      dataSrc: ""
    },
    "lengthMenu": [
      [5, 10, 25, 50, -1],
      [5, 10, 25, 50, "All"]
    ],
    language: {
      "url": "{% static 'language.json' %}",
    },
    columns: [

      {
        "data": 'descripcion',
        className: "middle text-center"
      },
      {
        "data": null,
        className: "middle text-center",
        render: function (data, type, row) {
          return `${row.unidad.descripcion} (${row.unidad.abrev})`
        }
      }, 
      {
          "data": 'estado',
          className: "estado middle  text-center",
          render: function (data, type, row) {
            if (data) {
              return '<i class="fa fa-check-circle text-success" aria-hidden="true"></i>';
            } else {
              return '<i class="fas fa-times-circle text-danger"></i>';
            }
          }
        },     
   {
        "data": null,
        className: "middle text-center",
   
      },      

    ],
    columnDefs:[
    {
               
               targets: [-1],
        render: function (row, data, index) {
                 var buttons ='<button class="btn btn-warning btn-sm btn-edit-producto"><i class="fa fa-edit"></i>Editar</button>'+
                   '<button class="btn btn-danger btn-sm btn-delete-producto"><i class="fa fa-ban"></i></button>';
     
                 return buttons;
     
               },
              
           },
    ]
  })
  let modal_producto_create
  let modal_producto_edit
   document.getElementById('btn-add-producto').addEventListener("click", function (e) {
      e.preventDefault()
      let url = "{% url 'Web:producto-create' %}";
     modal_producto_create= $.confirm({
        title: "Nuevo Producto",
        content: "URL:{% url 'Web:producto-create' %}",
        columnClass: 'col-xl-5 col-lg-5 col-md-12 col-sm-10',
        icon: "fa fa-plus-circle",
        type: "dark",
        theme: "material",
        animateFromElement: true,
        buttons: {
          guardar: {
            btnClass: 'btn-success',
            keys: ['enter', 'shift'],
            action: function () {
              this.$content.find(".btn-add-producto").trigger("click")
              return false;
            }
          },
          cancel: function () {}
        },

        onContentReady: function () {
          // when content is fetched & rendered in DOM
          this.$content.find('form').on('submit', function (e) {
            e.preventDefault();
          });;
        },
      });
    });
    $(document).on("click", '.btn-edit-producto', function (e) {

      e.preventDefault()
      var tr = lista_productos.cell($(this).closest("td")).index();
      var data = lista_productos.row(tr.row).data();
      modal_producto_edit = $.confirm({
        title: "Editar Producto",
        content: "URL:../producto/update/" + data.id+"/",
        columnClass: 'col-xl-5 col-lg-5 col-md-12 col-sm-10',
        icon: "fa fa-edit",
        type: "orange",
        scrollToPreviousElement: true,
        scrollToPreviousElementAnimate: true,

        buttons: {
          Confirm: {
            text: 'Guardar cambios',
            btnClass: 'btn-orange',

            action: function url(e) {
              this.$content[0].ownerDocument.getElementById("btn_edit_producto").click()
              return false;
            }
          },

          cancel: function () {

          },
        },
        onContentReady: function () {
          // when content is fetched & rendered in DOM
          this.$content.find('form').on('submit', function (e) {
            e.preventDefault();
          });;
        },


      });


    });
        $(document).on("click", '.btn-delete-producto', function (e) {

      e.preventDefault()
      var tr = lista_productos.cell($(this).closest("td")).index();
      var data = lista_productos.row(tr.row).data();

        confirmar(function(){
          $("#loadingCharge").css("visibility", "visible")
      $("#spinner").css("visibility", "visible")
          fetch("../producto/delete/" + data.id+"/", {
                method: "POST",
                headers: {
                  'X-CSRFToken': csrftoken
                }}).then(data=>data.json()).then(response=>{
                  
      $("#loadingCharge").css("visibility", "hidden")
      $("#spinner").css("visibility", "hidden")
                  if(response.status==200){

                    lista_productos.ajax.reload()
                    notificacion(1500, "Genial!","success", "Producto eliminado!")

                  }

                })
        },"¿Desea eliminar esta Producto?",function () {})

      });
  $("#create_producto").on("click", function () {
    let error = 0
    if ($("#descripcion_producto").val() == "") {
      error = 1
      $("#descripcion_producto").addClass("is-invalid").on("input", function () {
        $("#descripcion_producto").removeClass("is-invalid")
      })
    }
    if ($("#unidad").val() == "0") {
      error = 1
      $("#unidad").addClass("is-invalid").on("change", function () {
        $("#unidad").removeClass("is-invalid")
      })
    }
    if (error == 0) {
      $("#loadingCharge").css("visibility", "visible")
      $("#spinner").css("visibility", "visible")
      let data = new FormData(document.getElementById("form_producto"))

      fetch($("#form_producto").attr("action"), {
        method: "POST",
        headers: {
          "X-CSRFToken": csrftoken
        },
        body: data
      }).then(data => data.json()).then(response => {
        console.log(response)
        if (response.status == 200) {
          $("#loadingCharge").css("visibility", "hidden")
          $("#spinner").css("visibility", "hidden")
          alerta(2000, "success", "Producto registrado!", "top-end")
          lista_productos.ajax.reload()
          objeto.list()
          $("descripcion_producto").val("")
          $("unidad").val(0)

        } else {
          if (response.form.descripcion) {
            $("#descripcion_producto").addClass("is-invalid").on("input", function () {
              $("#descripcion_producto").removeClass("is-invalid")
            })
            $("#descripcion_producto").next().text(response.form.descripcion[0])
          }

        }
      })
    }
  })
  $("#estaciones-tab").on("click", function () {
    window.localStorage.setItem("tab", 1)
  })
  $("#estacionesxprod-tab").on("click", function () {
    window.localStorage.setItem("tab", 2)
  })
  $("#productos-tab").on("click", function () {
    window.localStorage.setItem("tab", 3)
  })
  let tab = window.localStorage.getItem("tab")

  function select_tab(input) {
    $(input).click()
  }
  if (tab != null) {
    if (tab == 1) select_tab("#estaciones-tab")
    if (tab == 2) select_tab("#estacionesxprod-tab")
    if (tab == 3) select_tab("#productos-tab")
  }
</script>
{% endblock bottom_scripts %}