<form action="{% url 'Web:producto' %}" id="form_producto" class="formName" novalidate>
    <div class="form-group">
        <label for="">Descripción</label>
        <input type="text" name="descripcion" id="descripcion" class="form-control">
        <div class="invalid-feedback">
            Este campo es requerido
        </div>
    </div>
    <button type="button" class="btn d-none btn-producto">as</button>
</form>

<script>
    $(".btn-producto").on("click", function () {
        let error = 0
        if ($("#descripcion").val() == "") {
            error = 1
            $("#descripcion").addClass("is-invalid").on("input", function () {
                $("#descripcion").removeClass("is-invalid")
            })
        }
        if (error == 0) {
            let data = new FormData(document.getElementById("form_producto"))

            fetch($("#form_producto").attr("action"), {
                method: "POST",
                headers: {
                    "X-CSRFToken": csrftoken
                },
                body: data
            }).then(data => data.json()).then(response => {
                console.log(response)
                if (response.status == 200) {
                    jc.close();
                    alerta(2000, "success", "Producto registrado!", "top-end")
                    let opt = document.createElement("option")
                    opt.value = response.id
                    opt.textContent = response.descripcion
                    opt.selected = true
                    document.getElementById("producto").append(opt)

                } else {
                    if (response.form.descripcion) {
                        $("#descripcion").addClass("is-invalid").on("input", function () {
                            $("#descripcion").removeClass("is-invalid")
                        })
                        $("#descripcion").next().text(response.form.descripcion[0])
                    }

                }
            }) 
        }
    })
</script>