<div class="container">

{% if obj %}
 <form class="row g-3 needs-validation" action="{% url 'Web:producto-update' obj.pk %}" id="form_producto" novalidate>

{% else %}
 <form class="row g-3 needs-validation" action="{% url 'Web:producto-create' %}" id="form_producto" novalidate>
{% endif %}
    
              <div class="col-md-12">
                <label class="form-label">Descripción</label>
                <input type="text" name="descripcion" id="descripcion_producto" class="form-control" value="{{obj.descripcion}}">
                <div class="invalid-feedback">
                  Este campo es requerido
                </div>
              </div>

              <div class="col-md-12">
                <label class="form-label">Unidad de Medida</label>
                <div class="input-group">
                  <select class="form-select" name="unidad" id="unidad_producto">
                    <option value="0">Seleccione...</option>
                    {% for i in unidad  %}
                    <option value="{{ i.id }}" {% if obj.unidad.id == i.id %}selected{% endif %}>{{ i.descripcion }}</option>
                    {% endfor %}

                  </select>
                  <button class="btn btn-primary" type="button" id="btn-add-unidad"><i class="fa fa-plus"
                      aria-hidden="true"></i></button>
                  <div class="invalid-feedback">
                    Este campo es requerido.
                  </div>
                </div>

              </div>
              <div class="col-2">
                <label for="" class="invisible">Submit</label>
                <button type="button" class="btn btn-block btn-primary d-none btn-add-producto" id="btn_edit_producto">Guardar</button>
              </div>

            </form>
</div>

<script>
  $("#btn-add-unidad").on("click", function () {
    jc = $.confirm({
      title: "Registrar Unidad de Medida",
      type: 'dark',
      theme: "material",
      content: 'URL: ../unidad-medida/',
      icon: 'fas fa-plus-circle',
      animation: 'left',
      closeAnimation: 'right',
      columnClass: "col-lg-6 col-md-6 col-md-offset-3",
      containerFluid: true,
      typeAnimated: true,
      buttons: {
        guardar: {
          btnClass: 'btn-success',
          keys: ['enter', 'shift'],
          action: function () {
            this.$content.find(".btn").trigger("click")

            return false;
          }
        },
        cancel: function () {}
      },

    })
  }) 
    $(".btn-add-producto").on("click", function (e) {
        console.log(e)
        let error = 0
        if ($("#descripcion_producto").val() == "") {
            error = 1
            $("#descripcion_producto").addClass("is-invalid").on("input", function () {
                $("#descripcion_producto").removeClass("is-invalid")
            })
        }     if ($("#unidad_producto").val() == "0") {
            error = 1
            $("#unidad_producto").addClass("is-invalid").on("input", function () {
                $("#unidad_producto").removeClass("is-invalid")
            })
        }
        if (error == 0) {
                       
                    {% if obj %}
                        modal_producto_edit.showLoading();
                     {%else %}
                     modal_producto_create.showLoading();
                    {% endif %}
            let data = new FormData(document.getElementById("form_producto"))

            fetch($("#form_producto").attr("action"), {
                method: "POST",
                headers: {
                    "X-CSRFToken": csrftoken
                },
                body: data
            }).then(data => data.json()).then(response => {
                     {% if obj %}
                        modal_producto_edit.hideLoading();
                     {%else %}
                     modal_producto_create.hideLoading();
                    {% endif %}
                if (response.status == 200) {
                    
                    {% if obj %}
                        modal_producto_edit.close();
                         alerta(2000, "success", "Producto actualizado!", "top-end")
                     {%else %}
                     modal_producto_create.close();
                    alerta(2000, "success", "Producto registrado!", "top-end")
                    {% endif %}
                        
                    lista_productos.ajax.reload()
                  objeto.list()

                } else {
                    if (response.form.descripcion) {
                        $("#descripcion_producto").addClass("is-invalid").on("input", function () {
                            $("#descripcion_producto").removeClass("is-invalid")
                        })
                        $("#descripcion_producto").next().text(response.form.descripcion[0])
                    }

                }
            }) 
        }
    })
</script>