{% extends 'Web/combustible/combustible_base.html' %}
{% block reportes%}active{% endblock %}
{% block collapseReportes %}show{% endblock collapseReportes %}
{% block rend_viaje %}collapse-item active{% endblock  %}
{% block content %}
{% load static %}
<div id="wrapper">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
        <h5><i class="fas fa-car"></i>&nbsp;Reporte de Rendimiento por Viaje</h5> 
        <button id="clean_filters" class="btn btn-danger">Remover
          Filtros</button>
        </div>
            <div class="card-body">
               <div class="row g-3">
                <div class="col-3">
                  <label for="">Fecha</label>
                  <input type="text" name="date_ranger" class="form-control" id="date_ranger" autocomplete="off">
      
                </div>
                    <div class="col-2">
                     <label for="">Marca</label>
                            <select name="marca" id="marca" class="form-select">
                              <option value="0">Seleccione...</option>
                        {% for i in marca  %}
                                <option value="{{ i.id }}">{{ i.descripcion }}</option>
                        {% endfor %}  
                            </select>       
                    </div> 
                    <div class="col-2">
                     <label for="">Modelo</label>
                            <select name="modelo" id="modelo" class="form-select">
                              <option value="0">Seleccione...</option>
                       
                            </select>       
                    </div>
                    <div class="col-2">
                        <label for="">Placa</label>
                        <select name="placa" id="placa" class="form-select">
                        <option value="0">Seleccione...</option>
                        {% for i in placa  %}
                                <option value="{{ i.id }}">{{ i.placa }}</option>
                        {% endfor %}
                        </select>
                            
                    </div>
                    <div class="col-3">
                          <label for="">Empresa</label>
                            <select name="empresa" id="empresa" class="form-select">
                              <option value="0">Seleccione...</option>
                        {% for i in empresa  %}
                                <option value="{{ i.id }}">{{ i.nombre }}</option>
                        {% endfor %}  
                            </select>              
                    </div>
                   
                </div>
                      <br>
                <div class="table-responsive">
                    <table  class="table table-bordered display responsive nowrap" id="reporte_rendimiento_flota" style="width:100%">
                        <thead>
                        <th>Placa</th>
                        <th> Marca</th>
                        <th>Modelo</th>
                        <th>Año</th>
                        <th>Fecha</th>
                        <th>Empresa</th>
                        <th>Conductor</th>
                        <th>Tramos/Vuelta</th>     
                        <th>Galones</th>
                        <th>Precio P.</th>
                        <th>KM</th>
                        <th>Monto</th>
                        <th>Recorr.</th>
                        <th>Rend.Real</th>
                        <th>Rend.Obj.</th>
                        <th>Consum</th>
                        <th>Delta</th>
                        <th>Ahorro</th>
                      </thead>
                      <tbody>
          
          
                      </tbody>
          
          
                    </table>
                  </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block bottom_scripts %}
<script>
  $(document).ready(function () {
    let date_range = null
  let date_now = new moment().format('YYYY-MM-DD');
  let        parameters = {
    marca: "",
    modelo: "",
    placa: "",
    empresa: "",
    start_date: "",
    end_date: "",
  }
    $("#clean_filters").on("click",function () {
       parameters = {
    marca: "",
    modelo: "",
    placa: "",
    empresa: "",
    start_date: "",
    end_date: "",
  }
  $("#placa").val(0)
  $("#marca").val(0)
  $("#empresa").val(0)
  $("#date_ranger").val("")
  $("#modelo").val(0)
    load()
    console.log(parameters)
    })
  load()



  $("#placa").on("change", function () {
    ($(this).val() == 0) ? parameters.placa = "": parameters.placa = $(this).val()
    load()

  })
  $("#marca").on("change", function () {
    ($(this).val() == 0) ? parameters.marca = "": parameters.marca = $(this).val()
    load()

  if(  $('#marca').val()==""){

    $('#modelo').prop("disabled",false)
           $('#modelo').empty();       }else{
    $('#modelo').empty();
    $('#modelo').append($("<option>", {value: "",text: " Seleccione... "}));              
    $.ajax({
      'url' : '/catalogos/render-option-vehiculo',
      'type' : 'GET',
      'data' : {'id_marca' : $('#marca').val()},
      'success' : function(data) {
       $.each(data, function( index, valuex ) {
          $('#modelo').append($("<option>", {value: valuex.id ,text: valuex.descripcion}));              
       });
         $('#modelo').removeAttr("disabled")
      },
      'error' : function(request,error){
        //alert("Request: "+JSON.stringify(request));
      }
    });}
  })
  $("#empresa").on("change", function () {
    
    ($(this).val() == 0) ? parameters.empresa = "": parameters.empresa = $(this).val()
    load()

  })
  $("#modelo").on("change", function () {
    ($(this).val() == 0) ? parameters.modelo = "": parameters.modelo = $(this).val()
    load()

  })
  
  function load() {
 
     var tabla_flota = $("#reporte_rendimiento_flota").DataTable({
      ordering:false,
      processing: "true",
      responsive: true,
      destroy: true,
      "lengthMenu": [
        [10, 25, 50, -1],
        [10, 25, 50, "All"]
      ],
      language: {
        "url": "{% static 'language.json' %}",
      
 
      },
      ajax: {
        url: window.location.pathname,
        type: "POST",
        data: parameters,
        dataSrc: function (json) {
         json = JSON.parse(json);
         return json;
     },
      },
      columns: [


        {
          "data": 'placa__placa',
          className: "middle"
        },
        {
          "data": "placa__modelo_vehiculo__marca_vehiculo__descripcion",

          className: "middle"
        },


        {
          "data": "placa__modelo_vehiculo__descripcion",
          className: "middle"

        },
        {
          "data": 'placa__ano',

          className: "middle"

        },
        {
          "data": 'abast__viaje__fecha_fin',
          className: "middle"
        },
        {
          "data": 'placa__empresa__nombre',
          className: "middle"
        },


        {
          "data": "conductor",
          className: "middle"
        },
        {
          "data": "tramo",
          className: "middle"
        },
        {
          "data": "vol_total",
          className: "middle"
        },
        {
          "data": null,
          className: "middle"
        },
       {
          "data": "km_total",
          className: "middle"
        },
       
        {
          "data": "monto_total",
          className: "middle"
        },
        {
          "data": "recorrido_total",
          className: "middle"
        },
        {
          "data": null,
          className: "middle"
        },
        {
          "data": null,
          className: "middle"
        },
        {
          "data": null,
          className: "middle"
        },  
        {
          "data": null,
          className: "middle"
        }, {
          "data": null,
          className: "middle"
        },

      ],
        buttons: [
        {
          extend: "excelHtml5",
          text: "<i class='fas fa-file-excel'></i>&nbsp;Exportar a Excel",
          titleAttr: "excel",
          className: "btn btn-success"
        },
        {
          extend: "pdfHtml5",
          text: "<i class='fas fa-file-pdf'></i>&nbsp;Exportar a PDF",
          titleAttr: "PDF",
          className: "btn btn-danger",
          download: "open",
          orientation: "landscape",
          pageSize: "LEGAL",

        },
        {
          extend: "print",
          text: "<i class='fas fa-print'></i>&nbsp;Imprimir",
          className: "btn btn-secondary",
          download: "open",
          orientation: "landscape",
          pageSize: "LEGAL",

        }
      ],
      columnDefs: [

        {
          targets: [4],
          render: function (data, type, row) {
            if (data == undefined) {
              return ""
            } else {
              return data
            }
          }
        }, {
          targets: [9],
          render: function (data, type, row) {
            return parseFloat(row.monto_total / row.vol_total).toFixed(2)
          }
        },
  
        {
          targets: [13],
          render: function (data, type, row) {
            console.log(row)
            return parseFloat(row.recorrido_total / row.vol_total).toFixed(2)
          }
        },
        {
          targets: [14],
          render: function (data, type, row) {
           
              return parseFloat(row.r_obj_total / row.g_obj_total).toFixed(2)

      
          }
        },


      ],
      "initComplete": function (settings, json) {
        for (let index = 0; index < settings.aoData.length; index++) {
          let recorrido = $("td:eq(12)", tabla_flota.row(index).node()).text()
          let volumen = $("td:eq(8)", tabla_flota.row(index).node()).text()
          let precio = $("td:eq(9)", tabla_flota.row(index).node()).text()
          let real = $("td:eq(13)", tabla_flota.row(index).node()).text()
        let objetivo = $("td:eq(14)", tabla_flota.row(index).node()).text()
          $("td:eq(15)", tabla_flota.row(index).node()).html((parseInt(recorrido) / parseFloat(objetivo)).toFixed(
            2))
          $("td:eq(16)", tabla_flota.row(index).node()).html((parseInt(real) - parseFloat(objetivo)).toFixed(2))
          let delta = $("td:eq(16)", tabla_flota.row(index).node()).text()
         
          $("td:eq(17)", tabla_flota.row(index).node()).html(((parseFloat(delta) * parseFloat(volumen) /
              parseFloat(real)) *
            parseFloat(precio)).toFixed(3))
        }
         tabla_flota.buttons().container()
            .appendTo('#reporte_rendimiento_flota_wrapper .col-md-6:eq(0)');

        // console.log( $("td:eq(15)", tabla_flota.row(1).node()))
        //   $("td:eq(16)", tabla_flota.row(tr.row).node()).html('$' + vent.items
        //           .products[tr.row].sub_total.toFixed(2)) 
      }

    })
  }
  $('input[name="date_ranger"]').daterangepicker({
    autoUpdateInput: false,

    locale: {
      format: 'YYYY-MM-DD'
    },
    opens: 'right'
  }).on("apply.daterangepicker", function (ev, picker) {
    $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));

    date_range = picker;

    parameters.start_date = date_range.startDate.format("YYYY-MM-DD")
    parameters.end_date = date_range.endDate.format("YYYY-MM-DD")
    load()

  }).on('cancel.daterangepicker', function (ev, picker) {
    date_range = picker;
    $(this).val("");
    parameters.start_date = ""
    parameters.end_date = ""

    load();
  });
  });
    
</script>
{% endblock bottom_scripts %}