{% extends 'Web/Combustible/combustible_base.html' %}
{% block reportes%}active{% endblock %}
{% block collapseReportes %}show{% endblock collapseReportes %}
{% block rend_abast %}collapse-item active{% endblock  %}
{% block content %}
{% load static %}
<div id="wrapper">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5><i class="fas fa-car"></i>&nbsp;Reporte de Rendimiento por Abastecimiento de Flota</h5>
        <button id="clean_filters" class="btn btn-danger">Remover
          Filtros</button>
      </div>
      <div class="card-body">
        <div class="row g-3">

          <div class="col-3">
            <label for="">Fecha</label>
            <input type="text" name="date_ranger" class="form-control" id="date_ranger" autocomplete="off">

          </div>
          <div class="col-2">
            <label for="">Placa</label>
            <select name="placa" id="placa" class="form-select">
              <option value="0">Seleccione...</option>
              {% for i in placa  %}
              <option value="{{ i.id }}">{{ i.placa }}</option>
              {% endfor %}
            </select>

          </div>
          <div class="col-4">
            <label for="">Ruta</label>
            <select name="ruta" id="ruta" class="form-select">
              <option value="0">Seleccione...</option>
              {% for i in ruta  %}
              <option value="{{ i.tramo }}">{{ i.tramo }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-3">
            <label for="">Empresa</label>
            <select name="empresa" id="empresa" class="form-select">
              <option value="0">Seleccione...</option>
              {% for i in empresa  %}
              <option value="{{ i.id }}">{{ i.nombre }}</option>
              {% endfor %}
            </select>
          </div>


        </div>
        <br>
        <div class="table-responsive">
          <table class="table table-bordered display responsive nowrap" id="tabla_rendimiento_eess" style="width:100%">
            <thead>
              <th> Marca</th>
              <th>Modelo</th>
              <th>Año</th>
              <th>Fecha</th>
              <th>Empresa</th>
              <th>Placa</th>
              <th>Conductor</th>
              <th>Ruta</th>
              <th>Volumen</th>
              <th>Precio</th>
              <th>Monto</th>
              <th>Km</th>
              <th>Recorr.</th>
              <th>Rend.Real</th>
              <th>Rend.Obj.</th>
              <th>Consum</th>
              <th>Delta</th>
              <th>Ahorro</th>
            </thead>
            <tbody>


            </tbody>


          </table>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}

{% block bottom_scripts %}
<script>
  $("#clean_filters").on("click", function () {
    parameters = {
      start_date: "",
      end_date: "",
      placa: "",
      ruta: "",
      empresa: "",

    }
    $("#date_ranger").val("")

    $("#placa").val(0)
    $("#ruta").val(0)
    $("#empresa").val(0)
    load()
  })
  let parameters = {
    start_date: "",
    end_date: "",
    placa: "",
    ruta: "",
    empresa: "",

  }
  load()

  $("#placa").on("change", function () {
    ($(this).val() == 0) ? parameters.placa = "": parameters.placa = $(this).val()
    load()
  })
  $("#ruta").on("change", function () {
    ($(this).val() == 0) ? parameters.ruta = "": parameters.ruta = $(this).val()
    load()
  })
  $("#empresa").on("change", function () {
    ($(this).val() == 0) ? parameters.empresa = "": parameters.empresa = $(this).val()
    load()
  })

  $('input[name="date_ranger"]').daterangepicker({
    autoUpdateInput: false,

    locale: {
      format: 'YYYY-MM-DD'
    },
    opens: 'right'
  }).on("apply.daterangepicker", function (ev, picker) {
    $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));

    date_range = picker;

    parameters.start_date = date_range.startDate.format("YYYY-MM-DD")
    parameters.end_date = date_range.endDate.format("YYYY-MM-DD")
    load()

  }).on('cancel.daterangepicker', function (ev, picker) {
    date_range = picker;
    $(this).val("");
    parameters.start_date = ""
    parameters.end_date = ""

    load();
  });

  function load() {
    let tabla_rend = $("#tabla_rendimiento_eess").DataTable({
      processing: "true",
      "ordering": false,
      responsive: true,
      destroy: true,
      deferRender: true,

      "lengthMenu": [
        [10, 25, 50, -1],
        [10, 25, 50, "All"]
      ],

      language: {
        "url": "{% static 'language.json' %}"
      },
      ajax: {
        url: window.location.pathname,
        type: "POST",
        data: parameters,
        dataSrc: ""
      },
      lengthChange: false,
      buttons: [{
          extend: "excelHtml5",
          text: "<i class='fas fa-file-excel'></i>&nbsp;Exportar a Excel",
          titleAttr: "excel",
          className: "btn btn-success"
        },
        {
          extend: "pdfHtml5",
          text: "<i class='fas fa-file-pdf'></i>&nbsp;Exportar a PDF",
          titleAttr: "PDF",
          className: "btn btn-danger",
          download: "open",
          orientation: "landscape",
          pageSize: "LEGAL",

        },
        {
          extend: "print",
          text: "<i class='fas fa-print'></i>&nbsp;Imprimir",
          className: "btn btn-secondary",
          download: "open",
          orientation: "landscape",
          pageSize: "LEGAL",

        }
      ],
      columns: [


        {
          "data": "placa.marca",
          className: "middle"
        },


        {
          "data": "placa.modelo",
          className: "middle"

        },
        {
          "data": "placa.ano",
          className: "middle"

        },
        {
          "data": 'abast.fecha',
          className: "middle"
        },
        {
          "data": "placa.empresa",
          className: "middle"
        },

        {
          "data": "placa.placa",
          className: "middle"
        },

        {
          "data": 'conductor',
          className: "middle"
        },
        {
          "data": "abast.tramo",
          className: "middle"
        },


        {
          "data": "volumen",
          className: "middle"
        },
        {
          "data": "abast.precio",
          className: "middle"
        },
        {
          "data": "total",
          className: "middle"
        },

        {
          "data": "km",
          className: "middle"
        },
        {
          "data": "recorrido",
          className: "middle"
        },
        {
          "data": null,
          className: "middle"
        },
        {
          "data": null,
          className: "middle"
        },
        {
          "data": null,
          className: "middle"
        },
        {
          "data": null,
          className: "middle"
        }, {
          "data": null,
          className: "middle"
        },
      ],
      columnDefs: [

        {
          targets: [4],
          render: function (data, type, row) {
            console.log(row)
            if (data == undefined) {
              return ""
            } else {
              return data
            }
          }
        }, {
          targets: [7],
          render: function (data, type, row) {
            console.log(row.tramo_relleno)
            if (row.tramo_relleno != null) {
              return row.tramo_relleno + "/" + data
            }
            return data

          }
        },
        {
          targets: [8],
          render: function (data, type, row) {
            if (row.volumen_relleno != null) {
              return (parseFloat(row.volumen) + parseFloat(row.volumen_relleno)).toFixed(2)
            } else {
              return data

            }
          }
        },
        {
          targets: [9],
          render: function (data, type, row) {
            if (row.volumen_relleno != null) {
              return ((parseFloat(row.total_relleno) + parseFloat(row.total)) / (parseFloat(row.volumen) +
                parseFloat(row.volumen_relleno))).toFixed(2)
            }
            return data
          }
        },
        {
          targets: [10],
          render: function (data, type, row) {
            console.log(row)
            if (row.total_relleno != null) {
              return (parseFloat(row.total) + parseFloat(row.total_relleno)).toFixed(2)
            }
            return data
          }
        },
        {
          targets: [11],
          render: function (data, type, row) {

            return parseFloat(data).toFixed(2)
          }
        }, {
          targets: [12],
          render: function (data, type, row) {
            console.log(row)
            if (row.recorrido_relleno != null) {
              return (parseFloat(row.recorrido_relleno) + parseFloat(row.recorrido)).toFixed(2)
            } else {
              return data

            }
          }
        },
        {
          targets: [13],
          render: function (data, type, row) {
            if (row.recorrido_relleno != null) {
              return ((parseFloat(row.recorrido_relleno) + parseFloat(row.recorrido))/(parseFloat(row.volumen) +
                parseFloat(row.volumen_relleno))).toFixed(2)
            } else {
              return (row.recorrido/parseFloat(row.volumen)).toFixed(2);

            }
          }
        },

        {
          targets: [14],
          render: function (data, type, row) {

            return parseFloat(row.recorrido_obj / row.gal_obj).toFixed(2)
          }

        },
     {
          targets: [15],
          render: function (data, type, row) {
            if (row.recorrido_relleno != null) {
              return parseFloat(row.recorrido+row.recorrido_relleno /( parseFloat(row.recorrido_obj / row.gal_obj))).toFixed(2)

            }else{
              return parseFloat(row.recorrido /( parseFloat(row.recorrido_obj / row.gal_obj))).toFixed(2)

            }
          }

        },  
        {
          targets: [16],
          render: function (data, type, row) {

            return parseFloat( (row.recorrido/parseFloat(row.volumen))-parseFloat(row.recorrido_obj / row.gal_obj)).toFixed(2)
          }

        },  
        {
          targets: [17],
          render: function (data, type, row) {
            let delta=row.recorrido/parseFloat(row.volumen)-parseFloat(row.recorrido_obj / row.gal_obj)
            let volumen
            let real=row.recorrido/parseFloat(row.volumen)
            let precio
            if (row.volumen_relleno != null) {
              volumen=parseFloat(row.volumen) + parseFloat(row.volumen_relleno)
            } else {
              volumen=row.volumen

            }
            if (row.volumen_relleno != null) {
              precio= (parseFloat(row.total_relleno) + parseFloat(row.total)) / (parseFloat(row.volumen) +
                parseFloat(row.volumen_relleno))
            }else{
              precio=row.abast.precio
            }
            return parseFloat((delta*volumen/real)*precio).toFixed(2)
          }

        },


      ],

      "initComplete": function (settings, json) {
        tabla_rend.buttons().container()
            .appendTo('#tabla_rendimiento_eess_wrapper .col-md-6:eq(0)');
    
      }
    })
  }
</script>
{% endblock bottom_scripts %}