
{% extends 'Web/login.html' %}

{% block contentLogin %}
  <div class="container d-flex align-items-center flex-wrap justify-content-center" style="height:540px" >

<p>
  Te hemos enviado por correo electrónico las instrucciones para establecer tu contraseña, si existe una cuenta con el correo electrónico que has introducido. Deberías recibirlas en breve.
  Si no recibes un correo electrónico, asegúrate de que has introducido la dirección con la que te registraste y comprueba tu carpeta de correo no deseado.

</p>
<a class="btn btn-primary btn-block" href="{% url 'Web:login' %}">Volver</a>


</div>
{% endblock %}