{% extends 'Web/login.html' %}

{% block contentLogin %}
  {% if validlink %}
  <div class="container d-flex align-items-center flex-wrap justify-content-center" style="height:540px" >

    <form method="post">
        <h3>Cambiar contraseña</h3>

      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-primary" type="submit">Cambiar contraseña</button>
    </form>
  {% else %}
    <p>
      El enlace para restablecer la contraseña no es válido, posiblemente porque ya se ha utilizado.
      Por favor, solicite un nuevo restablecimiento de contraseña.
    </p>
  {% endif %}
{% endblock %}