
{% extends 'Web/login.html' %}
{% block contentLogin %}
<div class="container d-flex align-items-center flex-wrap justify-content-center" style="height:540px" >
  <form method="post" class="">
    <h3>Olvidé mi contraseña</h3>

    {% csrf_token %}
    <div class="form-row mb-2">
     <label for="id_email">Correo electrónico:</label>
     <input type="email" name="email" autocomplete="email" class="form-control" maxlength="254" required="" id="id_email">
    </div>

    <div class="form-row">
        <button type="submit" class="btn btn-primary btn-block">Recuperar contraseña </button>   
     <a class="btn btn-secondary btn-block" href="{% url 'Web:login' %}">Volver </a>
</div>

  </form>
</div>

{% endblock %}