{% load l10n %}
<div class="container">
    {% if obj.repuesto %}
                
            <span style="position:absolute;right: 0;" class="badge rounded-pill bg-success">Repuesto</span>

        {% endif %} 
    <div class="form-row">
    
            
        <div class="form-group col-lg-6">
            <label for="">Código</label>

            <input disabled type="text" class="form-control" value="{{obj.codigo}}">
        </div>
        <div class="form-group col-lg-6">
            <label for="">Posicion</label>

            <input disabled type="text" class="form-control" value="{{obj.posicion}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-lg-6">
            <label for="">Marca del Neumático</label>
            <input disabled type="text" class="form-control" value="{{obj.modelo_llanta.marca_llanta.descripcion}}">
        </div>
        <div class="form-group col-lg-6">
            <label for="">Modelo del Neumático</label>
            <input disabled type="text" class="form-control" value="{{obj.modelo_llanta}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-lg-12">
            <label for="">Medida del Neumático</label>
            <input disabled type="text" class="form-control" value="{{obj.medida_llanta}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-lg-12">
            <label for="">Estado del Neumático</label>
            <input disabled type="text" class="form-control" value="{% if obj.estado == '1' %}NUEVO{%else%}REENCAUCHADO{% endif %}">

            {% comment %} <input disabled type="text" class="form-control" value="{% if obj.estado == '1' %}BAJA{% elif obj.estado == '2' %}USADO{% elif obj.estado == '3' %}REPARACIÓN{% elif obj.estado == '4' %}ALMACÉN{% elif obj.estado == '5' %}EVALUACIÓN{% elif obj.estado == '6' %}TALLER MNTTO{% elif obj.estado == '7' %}REENCAUCHADO{% elif obj.estado == '8'  %}REPARADO{%elif obj.estado == '9' %}NUEVO{% endif %}"> {% endcomment %}
        </div>  
    </div>
    <div class="form-row">
        {% comment %} <div class="form-group col-lg-6">
            <label for="">Cubierta</label>
            <input disabled type="text" class="form-control"
                value="{% if obj.cubierta.categoria == '1' %}Nuevo{%else%}Reencauchado{% endif %}">
        </div> {% endcomment %}
        <div class="form-group col-lg-12">
            <label for="">Fecha</label>
            <input disabled type="text" class="form-control" value="{{obj.fech_ren}}">


        </div>


    </div>
    <div class="form-row">
        <div class="form-group col-lg-6">
            <label for="">Costo</label>
            <input disabled type="text" value="{{obj.costo | unlocalize }}" class="form-control">
        </div>
        <div class="form-group col-lg-6">
            <label for="">Km.</label>
            <input disabled type="text" class="form-control" value="{{obj.km  | unlocalize}}"></div>
    </div>
    <div class="form-row">
        <div class="form-group col-lg-6">
            <label for="">Altura inicial</label>
            <input disabled type="text" class="form-control" value="{{obj.a_inicial  | unlocalize}}">
        </div>
        {% comment %} <div class="form-group col-lg-4">
            <label for="">Altura promedio</label>
            <input disabled type="text" class="form-control" value="{{obj.a_promedio  | unlocalize}}"></div> {% endcomment %}
        <div class="form-group col-lg-6">
            <label for="">Altura final</label>
            <input disabled type="text" class="form-control" value="{{obj.a_final  | unlocalize}}"></div>
    </div>
    
    {% if obj.cubierta.categoria == "2"  %}      

    <div class="form-row">
        <div class="form-group col-lg-4">
            <label for="">Nro. Reecauchado</label>
            <input disabled type="text" class="form-control" value="{{obj.cubierta.nro_ren}}">
        </div>
        <div class="form-group col-lg-8">
            <label for="">Renovadora</label>
            <input disabled type="text" class="form-control" value="{{obj.cubierta.renovadora }}">
        </div>

    </div>
    <div class="form-row">

        <div class="form-group col-lg-6">
            <label for="">Modelo renovación</label>
            <input disabled type="text" class="form-control" value="{{obj.cubierta.modelo_renova }}"></div>
        <div class="form-group col-lg-6">
            <label for="">Ancho banda</label>
            <input disabled type="text" class="form-control" value="{{obj.cubierta.ancho_banda}}"></div>
    </div>
    {%endif%}
</div>
