
table.dataTable tbody th,
table.dataTable tbody td {
  padding: 3px 3px;
  /* e.g. change 8x to 4px here */
}

.sliders {

}

#outer-dropzone {
  height: 140px;
}

#inner-dropzone {
  height: 60px;
}

.llanta {
  background-color: #0d6efd;
}

.repuesto {
  background-color: seagreen;

}

.dropzone,.dropzone-2 {
  background-color: #29e;
  border: solid 4px black;
  font-size: 0.7em;
  border-radius: 4px;
  /* margin: 10px auto 30px; */
  margin: 10px 0;
  padding: 10px;
  width: 60px;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  /* border-color: #fff; */
  border-style: solid;
}

.drag-drop,.drag-drop-2 {
  /* display: inline-block; */
  /* min-width: 30px;
  padding: 1.5em; */
  /* margin: 1rem 0 0 1rem; */
  height: 50px;
  width: 50px;
  color: #fff;
  border: solid 1px black;
  /* max-width: 30px; */
  touch-action: none;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  border-radius: 4px;
  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}
.drag-drop-2.can-drop {
  color: #000;
  background-color: #4e4;
}

.img {

  grid-column: 1 / 21;
  grid-row: 1/10
}

  .container-drag{

    display: grid;
    grid-template-columns: repeat(21, 1fr) ; 
    grid-template-rows: repeat(10,50px);
    
    
    }
 
.grid {
  display: grid;


  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(10  ,50px);

}
.grid-estado {
  grid-column-start: 18;
  grid-row-start: 1;
}

.grid-icon {
  font-size: 3em;
  margin-bottom: 0.4em;
}    
.bordeado{
  border: 1px solid black;
  height: 50px;
  width: 50px;
  border-radius: 4px;
  background-color: white;
}

.activate{
  color:rgba(255,255,255,.8) !important

  }
  .activoIcon{
    color:rgba(255,255,255,.3) !important

  }
  li:hover .activo {
  color: white !important;
 
} 
  li:hover .activoIcon {
    color: white !important;

} 
.img-vehiculo{
  height: 140px;
  width: 100%;
  object-fit: contain;
}

#myImg {
  cursor: pointer;
  transition: 0.3s;
  display: block;

}

#myImg:hover {
  transform: scale(1.05);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content-vehiculo {
  margin: auto;
  display: block;
  max-width: 80%;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 600px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content-vehiculo, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.out {
animation-name: zoom-out;
animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(1)}
  to {-webkit-transform:scale(2)}
}

@keyframes zoom {
  from {transform:scale(0.4)}
  to {transform:scale(1)}
}

@keyframes zoom-out {
  from {transform:scale(1)}
  to {transform:scale(0)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.img2{
  grid-column: 1 / 22;
  grid-row: 8/18;
  }
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
      width: 100%;
  }
}  .img2{
    
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;

 width: auto;

   
  }