{% extends 'Web/base.html' %}
{% load static %}
{% block content %}  
<style>
  input[type=checkbox] {
      transform: scale(2.5);
  }
</style>  
<div id="wrapper">
        <div class="container-fluid">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
            	<div class="row">
                <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-edit"></i> 
                  Agregar llanta a Vehículo con placa {{vehiculo.placa}}
            	</div>
            </div>
            <form method="post" action="" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="card-body">
              <div class="row">
              	<div class="col-lg-2">Marca de la Llanta</div>
                <div class="col-lg-4">{{form.marca}}</div>
                <div class="col-lg-2">Modelo de la Llanta</div>
                <div class="col-lg-4">{{form.modelo_llanta}}</div>
              </div>
              <br>
              <div class="row">
              	<div class="col-lg-2">Medida</div>
                <div class="col-lg-4">{{form.medida_llanta}}</div>
              </div>
              <br>
              <div class="row">
              	<div class="col-lg-2">Ubicación</div>
                <div class="col-lg-4">{{form.ubicacion}}</div>
                <div id="labelAlmacen" class="col-lg-2" {% if form.ubicacion.value == 1 %} style="display: block;" {% else %} style="display: none;" {% endif %}>Almacen</div>
                <div id="valueAlmacen" class="col-lg-4" {% if form.ubicacion.value == 1 %} style="display: block;" {% else %} style="display: none;" {% endif %}>{{form.almacen}}</div>
              </div>
              <br>
              <div class="row">
              	<div class="col-lg-2">Costo</div>
                <div class="col-lg-4">{{form.costo}}</div>
                <div class="col-lg-2">Km</div>
                <div class="col-lg-3">{{form.km}}</div>
              </div>
              <br>
              <div class="row">
              	<div class="col-lg-2">Estado</div>
                <div class="col-lg-4">{{form.estado}}</div>
              </div>
              <br>
              <div class="row">
              	<div class="col-lg-2">Observaciones</div>
                <div class="col-lg-10">{{form.obs}}</div>
              </div>
         
			
            </div>
            <div class="card-footer text-muted">
                <button type="submit" class="btn btn-primary">Grabar</button>
                <a href="{% url 'Web:ver-vehiculo' vehiculo.pk %}" class="btn btn-secondary">Cancelar</a>
            </div>
          	</form>
          </div>				
        </div>
</div>
{% endblock %}
{% block bottom_scripts %}

<script type="text/javascript" charset="utf-8">
$('#id_marca  option[value="{{instance.modelo_llanta.marca_llanta.pk}}"]').prop("selected", true);
function actualizar_modelo(){
    $('#id_modelo_llanta').empty();
    $('#id_modelo_llanta').append($("<option>", {value: "",text: " --------- "}));              
    $.ajax({
      'url' : '/render-option-llanta',
      'type' : 'GET',
      'async': false,
      'data' : {'id_marca' : $('#id_marca').val()},
      'success' : function(data) {
       $.each(data, function( index, valuex ) {
          $('#id_modelo_llanta').append($("<option>", {value: valuex.id ,text: valuex.descripcion}));              
       });
      },
      'error' : function(request,error){
        //alert("Request: "+JSON.stringify(request));
      }
    });
}
$('#id_ubicacion').change(function() {
      //alert($(this).val());
      if( $(this).val()==1 ){
        $('#labelAlmacen').show();
        $('#valueAlmacen').show();
      }else{
        $('#labelAlmacen').hide();
        $('#valueAlmacen').hide();
      }
    });

</script>
{% endblock %}
