{% load static %}
{% load base_extras %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>VG 365</title>

  <!-- Custom fonts for this template-->
  <!--link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  
  <!---->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
  <link href="{% static 'css/jquery.datetimepicker.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/sb-1.0.1/datatables.min.css" />

<link href='https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap5.min.css' rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

</head>
<style>
  {% comment %} input, textarea, select {
  margin: 2px 0;
  padding: 2px 3px;
  vertical-align: middle;
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
} {% endcomment %}
select[multiple] {
  /* Allow HTML size attribute to override the height in the rule above. */
  height: auto;
  min-height: 150px;
}

textarea, .vTextField {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 6px;
  margin-top: 0;
}
  table.dataTable tbody th,
  table.dataTable tbody td {
    padding: 3px 3px;
    /* e.g. change 8x to 4px here */
  }
  .middle{
  vertical-align: middle !important;
}

  .swal2-container {
    z-index: 999999999;
  }
#content{
  flex: 1 0 auto;
}
{% comment %} select {
  height: 30px;
} {% endcomment %}
</style>
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    
    {% block sidebar %}
    <ul class="navbar-nav sidebar sidebar-dark " id="accordionSidebar"  style="width: 0 !important;"></ul>

    {% endblock sidebar %}
      
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

         
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto w-100" style="display: grid;grid-template-columns: repeat(8,1fr);">
              
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            
            {% block inicio %}
            {% endblock inicio %}
              

            <!-- Nav Item - Messages -->
            <!-- <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <span class="badge badge-danger badge-counter">7</span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li> -->

            <!-- <div class="topbar-divider d-none d-sm-block"></div> -->

            <!-- Nav Item - User Information -->
            
            {% block titleheader %}
            <li class="nav-item dropdown no-arrow" style="grid-column: 1/4;" >
              <a class="nav-link" role="button" aria-expanded="false">
               <img src="{% static 'img/logo.png' %}" width="30%" alt="">
              </a>
           
            </li>
            {% endblock titleheader %}
              
          
            <li class="nav-item dropdown no-arrow" style="grid-column-start: 8;">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{request.user.persona}}</span>
                <img class="img-profile rounded-circle" src="{{ request.user.persona.get_image }}" >
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                  Cambiar Clave
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Cerrar Sesión
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->
        <!-- Begin Page Content --><!-- /.container-fluid -->
     
      <style>
        .item-lock{
          height:120px;
          border: 1px white;
          border-radius: 10px;
          background-color:#d7dbdd;

        }
     
    
        .position-1{
         grid-row: 2/3;
         grid-column: 2/3;
        }
        .position-2{
         grid-row: 2/3;
         grid-column: 3/4;
        }
        .position-3{
          grid-row: 2/3;
         grid-column: 4/5;
        }
        .position-4{
          grid-row: 2/3;
         grid-column: 5/6;
        }
        .position-5{
          grid-row: 3/4;
          grid-column: 2/3;
        }
        .position-6{
          grid-row: 3/4;
          grid-column: 3/4;
        }
        .grid-index{
          display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap:   20px;
    
        }
        .justify-self-center{
          justify-self: center;
        }
      </style>
      
      {% block content %}
           <div class="grid-index">
            <div style="grid-column: 2/4; align-self: flex-end;">
               <label for="" class="">Seleccione el Módulo al que va acceder:</label>
 
              </div>
              {% if 'auth.view_seguridad' in perm %}

            <div class="position-1">
             <div class="shadow  item-lock justify-self-center">
              <a class="nav-link d-flex  text-white align-items-center justify-content-center h-100" href="{% url 'Web:seguridad' %}">
                <img width="60%" height="100%" src="{% static 'img/iconos/seguridad.png' %}" alt="">
              </a>
              <label  style="color: #014782;font-weight: bold;" class="w-100 text-center">Seguridad</label>

             </div>
          </div>
            {%endif%}
            {% if 'auth.view_catalogos' in perm %} 

            <div class="position-2">
              <div class="shadow  item-lock justify-self-center">
                <a class="nav-link d-flex  text-white align-items-center justify-content-center h-100" href="{% url 'Web:catalogos' %}">
                  <img width="60%" height="100%" src="{% static 'img/iconos/catalogos.png' %}" alt="">


                </a>
                <label  style="color: #014782;font-weight: bold;" class="w-100 text-center">Catálogos</label>
  
               </div>
            </div>
            {%endif%}
            {% if 'auth.view_procesos' in perm %} 

            <div class="position-3">
              <div class="shadow  item-lock justify-self-center">
                <a class="nav-link d-flex  text-white align-items-center justify-content-center h-100" href="{% url 'Web:operaciones' %}">
                  <img width="60%" height="100%" src="{% static 'img/iconos/neumaticos.png' %}" alt="">



                </a>
                <label  style="color: #014782;font-weight: bold;" class="w-100 text-center ">Neumáticos</label>
  
               </div>
            </div>
            {%endif%}
            <div class="position-4">
              <div class="shadow  item-lock justify-self-center">
                <a class="nav-link d-flex  text-white align-items-center justify-content-center h-100" href="{% url 'Web:reportes' %}">
                  <img width="60%" height="100%" src="{% static 'img/iconos/reportes.png' %}" alt="">


                </a>
                <label for="" class="w-100 text-center"  style="color: #014782;font-weight: bold;">Reportes</label>
  
               </div>
            </div>
         
          
           
           </div>
      {% for i in messages  %}

        
      {% endfor %}
        
	    {% endblock %}
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer"  style="background-color: #014782;   padding: 0.88rem 0 !important; ">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <strong class="text-white">Copyright &copy; 2021 Sistema de Gestión de Vehículos</strong>       
             </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cerrar Sesión</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Esta seguro de salir del Sistema?.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="{% url 'Web:logout' %}">Salir</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<script src="https://cdn.jsdelivr.net/npm/interactjs@1.10.5/dist/interact.min.js"></script>

<script type="module" src="https://cdn.interactjs.io/v1.9.20/actions/drag/index.js"></script>
<script type="module" src="https://cdn.interactjs.io/v1.9.20/auto-start/index.js"></script>
<script type="module" src="https://cdn.interactjs.io/v1.9.20/actions/resize/index.js"></script>
<script type="module" src="https://cdn.interactjs.io/v1.9.20/modifiers/index.js"></script>
<script type="module" src="https://cdn.interactjs.io/v1.9.20/dev-tools/index.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
  <script src="https://kit.fontawesome.com/0c4e8d2c3f.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/sb-1.0.1/datatables.min.js"></script>
<script src="http://cdn.datatables.net/plug-ins/1.10.15/dataRender/datetime.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script src="{% static "js/jquery.datetimepicker.full.min.js" %}"></script>
    <script src="{% static 'js/marca.js' %}"></script>
    <script src="{% static 'js/validaciones.js' %}"></script>
    <script src="{% static 'js/hoja_movimientos.js' %}"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js "></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
  {% block bottom_scripts %}{% endblock %}
  <script>
    $(document).ready(function () {
      $("#accordionSidebar>li").each(function(index) {
        if($(this).hasClass("active")){}
        else{
          $(this).on("click",function(){
         if($(this).find("div.collapse").hasClass("show")){
         
          $(this).find(".nav-link").addClass("activate")
          $(this).find(".nav-link>i").addClass("activoIcon")
         
         }
       else{ 
        $(this).find(".nav-link").removeClass("activate")
       }
     })
        }
  
      });
      
     
    
        
    });
       const notificacion=(time,title,type,message)=>   {
    Swal.fire({
        title: title,
        timer: time,
        timerProgressBar: true,
        icon: type,
        showConfirmButton: false,
        text: message,
        
    })
  }
    {% if messages %}
    var html_message=""
    var tipo=[]

      {% for mensaje in messages %}
        html_message+='{{mensaje|striptags}}'
            tipo+="{{mensaje.tags}}"
           
        {%endfor%}
        if(tipo=="login success"){
          const Toast = Swal.mixin({
  toast: true,
  position: 'top',
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

Toast.fire({
  icon: 'success',
  title: html_message
})
        }else if(tipo=="success"){
          notificacion(2000,"Genial!","success",html_message)

        }
        else{
        notificacion(2000,"Ha ocurrido un error!","error",html_message)
        }
    
      
     
    {%endif%}


function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
$(document).on("mouseenter", ".item-lock", function(){

var $this = $(this);  
TweenMax.to($this, 0.4, {scale:1.1});

}).on("mouseleave", ".item-lock", function(){

var $this = $(this);  
TweenMax.to($this,0.4, {scale:1});

});
  </script>
</body>

</html>
