    <div class="container-fluid">
    {% load base_extras %}
    {% load static %}
{% load l10n %}
            <div class="row no-gutters align-items-center">
                <div class="col">
                    <table class="table  table-hover" id="tablaSearch" style="width: 100%;">
                        <thead>
                            <th>#</th>
                                 <th>Descripción</th>
                               
                            <th class="all">Acciones</th>
                        </thead>
                        <tbody>
                            {% for item in obj %}
                            <tr>
                                <td class="id">{{item.id}}</td>
                                 <td>{{item.descripcion}}</td>
                        
                                <td>
                                    <button
                                        onclick="seleccionarRenovadora({{item.id}},'{{item.descripcion}}')"
                                        class="btn btn-warning" id="btnselect"><i
                                            class="far fa-hand-pointer"></i></button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
{% block bottom_scripts %}
<script>
    $(document).ready(function () {
        $("#tablaSearch").DataTable({
      responsive: true,
            "lengthMenu": [
                [5, 10, 25, 50, -1],
                [5, 10, 25, 50, "All"]
            ],
               language:{
                    "url": "{% static 'language.json' %}",

          },
        })
 

       });

       
    function seleccionarRenovadora(id,  descripcion) {
        console.log("aea")
        $("#id_renova").val(descripcion)
                $("#id_renovadora").val(id)

        searchrenova.close()
        

    }
</script>
{% endblock bottom_scripts %}