{% extends 'Web/base.html' %}
{% block blockProcesos%}nav-item active{% endblock  %}
{% block collapseProcesos %}collapse show{% endblock  %}
{% block inspeccion %}collapse-item active{% endblock  %}
{% block content %}

<div id="wrapper">
  <div class="container-fluid">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div class="row align-items-center">
          <div class="col-lg-3 ">

            <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-list"></i> Inspección de llantas</h6>
          </div>
          {% comment %} {% if 'Web.add_persona' in perm %}

          <div class="offset-lg-7 col-lg-2">
            <button id="btn-add-persona" class="btn btn-secondary"><i class="fa fa-file-o"></i> Nueva Persona</button>
          </div>
          {% endif %} {% endcomment %}
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-2"><label for="" class="form-label">Placa:</label></div>
          <div class="col-lg-3">
            <select name="" id="inspeccion-vehiculos" class="form-select">
              <option value="">Seleccione vehículo...</option>
              {% for i in placa %}
              <option value="{{i.id}}">{{i.placa}}</option>
              {% endfor %}

            </select>
          </div>
          <div class="col-lg-2"><a class="btn btn-success" id="inspeccion-url" href="#">Ver detalles</a></div>
        </div>
        <form method="GET" action="" id="frmlist">
          {% csrf_token %}

          <div class="table-responsive">
            <table class="table  table-hover dt-responsive" id="tablaInspeccion" style="width: 100%;">
              <thead>
                <tr>
                  <th style="width: 10%;">Codigo</th>

                  <th style="width: 5%;">Pos</th>
                  <th style="width: 9%;">Cubierta</th>
  
                  <th style="width: 7%;">Rem1</th>
                  <th style="width: 7%;">Rem2</th>
                  <th style="width: 7%;">Rem3</th>
                  <th style="width: 5%;">Promedio</th>
                  <th style="width: 5%;">Pres.Ini</th>
                  <th style="width: 5%;">Pres.Fin</th>
                  <th style="width: 20%;">Observación</th>
                  <th style="width: 20%;"> Accion a tomar</th>
                  <th style="width: 0%;"> Repuesto</th>

                </tr>
              </thead>



            </table>
          </div>
        </form>

      </div>
    </div>
  </div>

</div>
{% endblock content %}
{% block bottom_scripts %}

<script>

  $(document).ready(function () {
 
    var tablaInspeccion
    tablaInspeccion = $("#tablaInspeccion").DataTable({

      searching: false,
      ordering: false,
      paging: false,
      "bDestroy": true,
      "order": [
        [0, "desc"]
      ],

      columns: [
        
        {
          "data": 'codigo',
          className: "middle text-center"
        },
        {
          "data": 'posicion',
          className: "middle text-center",
          render:function( data, type, row, meta){
            if(row.repuesto==true){
              return "R"
            }
            return data
          }
        },
        {
          "data": 'cubierta',
          className: "middle text-center",
          render: function (data) {
            switch (data) {
              case '1':
                return "NVA"
                break;
              case '2':
                return "R1"
              break;
              case '3':
                return "R2"
              break;
              case '4':
                return "R3"
              break;
              case '5 ':
                return "R4"
              break;
              default:
                return "---"
            }}
        },

        {
          "data": "rem1",
          className: "middle text-center"

        },
        {
          "data": 'rem2',
          className: "middle text-center"
        },
        {
          "data": 'rem3',
          className: "middle text-center"
        },
        {
          "data": "rem_prom",
          className: "middle text-center"

        },
        {
          "data": 'pres_ini',
          className: "middle text-center"

        },
        {
          "data": 'pres_fin',
          className: "middle text-center"

        },
        {
          "data": 'obs',
          className: "middle",
          render: function (data) {
            switch (data) {
              case '1':
                return "DESG. IRREGULAR"
                break;
              case '2':
                return "EDITAMENTO"
              break;
              case '3':
              return "CORTE EN BANDA"
                break;
              case '4':
              return "CORTE EN FLANCO"
                break;
                case '5':
                return "SEPARACION EN FLANCO"
                break;
              case '6':
                return "PROX. REENCAUCHE"
              break;
              case '7':
              return "PARA REENCAUCHE"
                break;
              case '8':
              return "CONFORME"
                break;
                case '9':
              return "INOPERATIVA"
                break;
              case '10':
              return "ROTACIÓN"
                break;
                 default:
                return "---"
              }

          }
        },
        {
          "data": 'accion',
          className: "middle",
          render: function (data) {
            switch (data) {
              case '1':
                return "SEGUIMIENTO"
                break;
              case '2':
                return "CONFORME"
              break;
              case '3':
              return "NIVELAR PRESIONES"
                break;
              case '4':
              return "AJUSTE ESPÁRRAGOS"
                break;
              case '5':
              return "SALIDA ROTACIÓN"
                break;  
              case '6':
              return "SALIDA ALMACÉN"
                break;  
              case '7':
              return "SALIDA REENCAUCHE"
                break;  
              case '8':
              return "SALIDA REPARACIÓN"
                break;  
              case '9':
              return "SALIDA A SCRAP"
                break;
                 default:
                return "---"
              }

          }
        },
        {
          "data":"repuesto"
        }
      ],
          "columnDefs": [
            {
                "targets": [ -1 ],
                "visible": false,
                "searchable": false
            },
          
        ],
      "language": {

        "processing": '<div class="spinner-border text-primary" style="width: 3rem; height: 3rem; role="status"><span class="sr-only">Loading...</span></div>',
        "lengthMenu": "Mostrar _MENU_ registros",
        "zeroRecords": "No se encontraron resultados",
        "emptyTable": "Ningún dato disponible para este vehículo",
        "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        "infoFiltered": "(filtrado de un total de _MAX_ registros)",
        "search": "Buscar:",
        "infoThousands": ",",
        "loadingRecords": '<div class="spinner-border text-primary" style="width: 3rem; height: 3rem; role="status"><span class="sr-only">Loading...</span></div>',

      },
    });
    document.getElementById("inspeccion-vehiculos").addEventListener("change", function (e) {
      tablaInspeccion.clear().draw();

      let data = {
        id: e.target.options[e.target.selectedIndex].value

      }
      fetch("../inspeccion-llantas/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrftoken
        },
        body: JSON.stringify(data)
      }).then(data => data.json()).then(response => {

        console.log(response);
        document.getElementById("inspeccion-url").setAttribute("href", "detalles/" + response.id + "/")
        for (let i = 0; i < response.response.length; i++) {
          console.log(i);
          tablaInspeccion.rows.add([{
              "codigo": response.response[i].codigo,

              "posicion": response.response[i].posicion,
              "cubierta": response.response[i].cubierta,


              "rem1": response.response[i].rem1,
              "rem2": response.response[i].rem2,
              "rem3": response.response[i].rem3,
              "rem_prom": response.response[i].rem_prom,

              "pres_ini": response.response[i].pres_ini,
              "pres_fin": response.response[i].pres_fin,
              "obs": response.response[i].obs,
              "accion": response.response[i].accion,
              "repuesto": response.response[i].repuesto,

            }])
            .draw();

        }


      })

    })



  });
</script>
{%endblock%}