{% extends 'Web/base.html' %}
{% block blockCatalogos%}nav-item active{% endblock  %}
{% block collapseCatalogos %}collapse show{% endblock  %}
{% block llantas %}collapse-item active{% endblock  %}
{% load static %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<style>
  input[type=checkbox] {
    transform: scale(2.5);
  }
</style>
<div id="wrapper">
  <div class="container-fluid">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div class="row">
          <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-edit"></i>
            {% if update %} Editar Llanta {% else %} Crear Llanta {% endif %}</h6>
        </div>
      </div>
      
      {% if obj %}
      <form method="post" action="{% url 'Web:llanta' obj.pk  %}"  id="LlantaForm" novalidate>

      {% else %}
      <form method="post" action="{% url 'Web:llanta' %}"  id="LlantaForm" novalidate>

      {% endif %}
        
        {% csrf_token %}
        <div class="card-body">
          <div class="row">
            <div class="col-lg-2">Seleccionar Vehiculo</div>
            <div class="col-lg-4">{{form.vehiculo}}</div>
            <div class="col-lg-2">Serie</div>
            <div class="col-lg-4">{{form.codigo}}</div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-2">Marca de la Llanta</div>
            <div class="col-lg-4">{{form.marca_llanta}}</div>
            <div class="col-lg-2">Modelo de la Llanta</div>
            <div class="col-lg-4">{{form.modelo_llanta}}</div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-2">Medida</div>
            <div class="col-lg-4">{{form.medida_llanta}}</div>
            <div class="col-lg-2">Posicion</div>
            <div class="col-lg-4">{{form.posicion}}</div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-2">Ubicación {{form.ubicacion.value}}</div>
            <div class="col-lg-4">{{form.ubicacion}}</div>
            <div id="labelAlmacen" class="col-lg-2" {% if form.ubicacion.value == 1 %} style="display: block;"
              {% else %} style="display: none;" {% endif %}>Almacen</div>
            <div id="valueAlmacen" class="col-lg-4" {% if form.ubicacion.value == 1 %} style="display: block;"
              {% else %} style="display: none;" {% endif %}>{{form.almacen}}</div>
          </div>
          <br>
          <!-- <div class="row">
            <div class="col-lg-2">Costo</div>
            <div class="col-lg-4">{{form.costo}}</div>
            <div class="col-lg-2">Km</div>
            <div class="col-lg-3">{{form.km}}</div>
          </div> -->
          <div class="row">
            <div class="col-lg-2">Estado</div>
            <div class="col-lg-4">{{form.estado}}</div>
            <div class="col-lg-2">Acciones</div>
            <div class="col-lg-4">{{form.acciones}}</div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-2">Observaciones</div>
            <div class="col-lg-10">{{form.obs}}</div>
          </div>


        </div>
        <div class="card-header py-3">
          <div class="row">
            <div class="col-lg-6">
              <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-edit"></i>
                Informacion de la cubierta actual</h6>
            </div>
            <div class="col-lg-6"><button id="openModal" type="button" class="btn btn-primary"><i class="fa fa-plus-circle"
                  aria-hidden="true"></i>&nbsp;Agregar</button></div>

          </div>
        </div>
<div class="card-body">
        <div class="form-row">
          <div class="col-lg-3 form-group">
            <label for="">Cubierta:</label>

            {{cubierta.categoria}}

          </div>
          <div class="col-lg-3 form-group">
            <label for="">Km. </label>
            {{cubierta.km}}
          </div>
          <div class="col-lg-3 form-group">
            <label for="">Costo</label>
            {{cubierta.costo}}

          </div>
          <div class="col-lg-3 form-group">
            <label for="">Fecha:</label>

            <div class="input-group mb-3">
                {{cubierta.fech_ren}}
              <!-- <div class="input-group-append">
                <button id="openCalendar" class="btn btn-outline-primary" type="button"><i
                    class="fa fa-calendar"></i></button>
              </div> -->
            </div>

          </div>
        </div>
        <div class="form-row">
          <div class="col-lg-3 form-group"  id="section_nro"    >
            <label for="">Numero Reencauchado</label>
            {{cubierta.nro_ren}}
          </div>
          <div class="col-lg-3 form-group">
            <label for="">Altura Final</label>
            {{cubierta.a_final}}
          </div>
          <div class="col-lg-3 form-group">
            <label for="">Altura</label>
            {{cubierta.a_promedio}}
          </div>
          <div class="col-lg-3 form-group">
            <label for="">Altura Inicial</label>
            {{cubierta.a_inicial}}
          </div>
        </div>
        <div class="form-row" id="section_renovadora"   {% if nro == "1" or not nro %} style="display:none"{% endif %}  >
           <div class="col-lg-4">
            <label for="">Nombre de la Reencauchadora</label>
            <div class="input-group">
              {{cubierta.renovadora}}

             <!-- <input type="hidden" id="id_renova" >
              <input type="text" class="form-control" id="id_renovadora"  aria-describedby="btnSearch" name="renovadora"> -->
              <button class="btn btn-primary" type="button" id="btnSearch"><i class="fa fa-search"
                  aria-hidden="true"></i></button> 
            </div>

          </div>
          <div class="col-lg-4">
            <label for="">Modelo de la banda</label>
            <div class="input-group">
              {{cubierta.modelo_renova}}
            </div>

          </div>
          <div class="col-lg-4">
            <label for="">Ancho de la banda</label>
            <div class="input-group">
              {{cubierta.ancho_banda}}
            </div>

          </div>
          <!--           

            <div class="col-lg-3 form-group">
              <label for="" style="visibility: hidden; width: 100%;">Costo</label>
              <button type="button" class="btn btn-warning" id="openDetails">Detalles</button>
            </div> -->
        </div>
      </div>

        <input type="hidden" name="" id="idrenova">
        <input type="hidden" id="idmodelo">
        <input type="hidden" id=idancho>
        <div class="card-footer text-muted">
          <button type="button" id="btn-add-llanta" class="btn btn-primary">Grabar</button>
          <a href="{% url 'Web:llantas' %}" class="btn btn-secondary">Cancelar</a>
        </div>
      </form>
    </div>
 
  </div>
</div>

{% endblock %}
{% block bottom_scripts %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  $('#id_modelo_llanta').find("option").remove().end()

  var e = document.getElementById("id_marca_llanta");
var strUser = e.options[e.selectedIndex].value; 
console.log(strUser);

$.ajax({
      'url': '/render-option-llanta',
      'type': 'GET',
      'async': false,
      'data': {
        'id_marca': strUser
      },
      'success': function (data) {
        $.each(data, function (index, valuex) {
          $('#id_modelo_llanta').append($("<option>", {
            value: valuex.id,
            text: valuex.descripcion
          }));
        });
      },
      'error': function (request, error) {
        //alert("Request: "+JSON.stringify(request));
      }
    });
});
  let categroai=document.getElementById("id_categoria").value
  document.getElementById("section_nro").style.display="none"
  // jQuery.datetimepicker.setLocale('es');
  // $("#id_fech_ren").datetimepicker({


  //   timepicker: false,
  //   format: 'Y-m-d'
  // });


  // jQuery('#openCalendar').click(function () {
  //   jQuery('#id_fech_ren').datetimepicker('show'); //support hide,show and destroy command
  // });

  // $('#id_marca_llanta option[value="{{instance.modelo_llanta.marca_llanta.pk}}"]').prop("selected", true);

  function actualizar_modelo() {
    $('#id_modelo_llanta').empty();
    $('#id_modelo_llanta').append($("<option>", {
      value: "",
      text: " --------- "
    }));
    $.ajax({
      'url': '/render-option-llanta',
      'type': 'GET',
      'async': false,
      'data': {
        'id_marca': $('#id_marca_llanta').val()
      },
      'success': function (data) {
        $.each(data, function (index, valuex) {
          $('#id_modelo_llanta').append($("<option>", {
            value: valuex.id,
            text: valuex.descripcion
          }));
        });
      },
      'error': function (request, error) {
        //alert("Request: "+JSON.stringify(request));
      }
    });
  }
  $('#id_ubicacion').change(function () {
    //alert($(this).val());
    if ($(this).val() == 1) {
      $('#labelAlmacen').show();
      $('#valueAlmacen').show();
    } else {
      $('#labelAlmacen').hide();
      $('#valueAlmacen').hide();
    }
  });
  var de
  var updateForm
  $("#openModal").on("click", function () {
    $.confirm({
      title: "",
      content: 'URL:{% url "Web:view-condicion" %}',
      buttons: {
        formSubmit: {
          text: 'Submit',
          btnClass: 'btn-blue',
          action: function () {
            var name = this.$content.find('.form-select').val();
            var nroReencauchado = this.$content.find('.valReencauchado').val();
            console.log(name);
            if (parseInt(name) == 1) {

              if (!isNaN(parseInt(nroReencauchado)) && parseInt(nroReencauchado) < 10 && parseInt(
                  nroReencauchado) > 0) {
                $("#id_categoria option[value=2]").attr('selected', 'selected');
                $("#id_categoria option[value=1]").removeAttr("selected")

                      document.getElementById("section_nro").style.display="block"
                document.getElementById("section_renovadora").style.display = "flex"
                document.getElementById("id_nro_ren").value = nroReencauchado
              } else {
                $.alert('Ingrese un número válido');
                return false;

              }
            } else
            if (parseInt(name) == 0) {
              document.getElementById("section_nro").style.display = "none"
              document.getElementById("section_renovadora").style.display = "none"
              $("#id_km").prop("disabled", false).prop("value", "");
              $("#id_categoria option[value=1]").attr('selected', 'selected');
              $("#id_categoria option[value=2]").removeAttr("selected")

              $("#openCalendar").prop("disabled", false);
              $("#id_altura_fin").prop("disabled", false).prop("value", "");
              $("#id_altura_ini").prop("disabled", false).prop("value", "");
              $("#id_altura").prop("disabled", false).prop("value", "");
              $("#id_fech").prop("disabled", false).prop("value", "");
              $("#id_costo").prop("disabled", false).prop("value", "");
              $("#id_renovadora").prop("disabled", false).prop("value", "");
              $("#id_renova").prop("value", "");
              $("#id_modelo_renova").prop("value", "");
              $("#id_ancho_banda").prop("value", "");

            }
          }
        },
        cancel: function () {
          //close
        },
      },
      onContentReady: function () {
        // bind to events
        var jc = this;
        this.$content.find('form').on('submit', function (e) {
          // if the user submits the form by pressing enter in the field.
          e.preventDefault();
          jc.$$formSubmit.trigger('click'); // reference the button and click it
        });
      }
    });
  });

  var searchrenova
  $("#btnSearch").click(function (e) {

    e.preventDefault();
    searchrenova = $.confirm({
      title: 'Buscar renovadora+',
      icon: "fa fa-search-plus",
      type: "blue",
      containerFluid: true,
      content: "URL:{% url 'Web:search-renovadora'%}",
      theme: "material",
      columnClass: 'col-md-12 col-lg-8',

      containerFluid: true,
      buttons: {
        formSubmit: {
          text: 'Submit',
          btnClass: 'btn-blue',
          action: function () {
            var name = this.$content.find('.form-select').val();
            console.log(name);
            console.log("if");
            if (!name) {
              $.alert('provide a valid name');
              return false;
            }
            $.alert('Your name is ' + name);
          }
        },
        cancel: function () {
          //close
        },
      }
    });

  });
  document.getElementById("btn-add-llanta").addEventListener("click", function (e) {
    document.getElementById("btn-add-llanta").setAttribute("disabled",true)
    let url = document.getElementById("LlantaForm").getAttribute("action")
    let form = document.querySelector("#LlantaForm")
    let formData = new FormData(form)

    fetch(url, {
      method: "POST",

      body: formData
    }).then(data => data.json()).then(response => {
      console.log(response);
      if (response.status == 500) {
        notificacion(1500, "Error", "error", "Revise los campos")
      
      } else {
        Swal.fire({
                title: 'Éxito!',
                text: "Llanta guardada!",
                icon: 'success',
                confirmButtonColor: '#3085d6',
                allowOutsideClick:false,

                confirmButtonText: 'Ok!'
              }).then((result) => {
                if (result.isConfirmed) {
                  window.location.href = response.url
                }
              })
      }
    })
  })
</script>
{% endblock %}