{% extends 'Web/base.html' %}
{% block blockCatalogos%}nav-item active{% endblock  %}
{% block collapseCatalogos %}collapse show{% endblock  %}
{% block llantas %}collapse-item active{% endblock  %}
{% load static %}
{% load base_extras %}
{% load l10n %}

{% block content %}



<div id="wrapper">
  <div class="container-fluid">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div class="row align-items-center">
          <div class="col-lg-9">
            <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-list"></i> Bandeja de Registro de Llantas</h6>

          </div>
          <div class="col-lg-3">
            <a href="{% url 'Web:llanta' %}" class="btn btn-success"><i class="fa fa-file-o"></i> Regitrar Nueva
              Llanta</a>
          </div>
        </div>

      </div>
      <div class="card-body">
        <!-- 
          <div class="row">
            <div class="col-lg-3">
              <label>Marca/Modelo</label>
              <select id="modelo" name="modelo" class="select2" style="width: 100%;">
                <option value=""> --------- </option>
                {% for m in marcas %}
                {% if m.modelos.all %}
                <optgroup label="{{m.descripcion}}">
                  {% for mo in m.modelos.all %}
                  {% if not mo.eliminado %}
                  {% if request.GET.modelo|add:0 == mo.pk %}
                  <option value="{{mo.pk}}" selected>{{mo.descripcion}}</option>
                  {% else %}
                  <option value="{{mo.pk}}">{{mo.descripcion}}</option>
                  {% endif %}
                  {% endif %}
                  {% endfor %}
                </optgroup>
                {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="col-lg-2">
              <label> Medida</label>
              <input type="text" class="form-control" data-bs-toggle="tooltip" data-bs-placement="bottom"
                title="Tenga cuidado con los espacios en la búsqueda." id="search_medida" min="0" />
            </div>
            <div class="col-lg-2">
              <label>Fecha Registro Inicial</label>
              <input type="date" class="form-control" name="fecha_inicio"
                value="{% if request.GET.fecha_inicio %}{{request.GET.fecha_inicio}}{% else %}{% now "Y-m-d" %}{% endif %}" />
            </div>
            <div class="col-lg-2">
              <label>Fecha Registro Final</label>
              <input type="date" class="form-control" name="fecha_fin"
                value="{% if request.GET.fecha_fin %}{{request.GET.fecha_fin}}{% else %}{% now "Y-m-d" %}{% endif %}" />
            </div>
            <div class="col-lg-2">
              <label>&nbsp;</label></br>
              <button class="btn btn-primary" id="btnBuscar">
                <span class="d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <i class="fa fa-search"></i>Buscar
              </button>
            </div>
            {% if 'Web.add_llanta' in perm %}

            <div class="col-lg-3">
              <label>&nbsp;</label></br>
              <a href="{% url 'Web:llanta' %}" class="btn btn-success"><i class="fa fa-file-o"></i> Regitrar Nueva
                Llanta</a>
            </div>
            {% endif %}
          </div> -->
        <div class="table-responsive">
          <table class="table table-bordered table-hover" id="tablaLlanta" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>#</th>
                <th>Codigo</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Medida</th>
                <th>Ubicación</th>
                <th>Costo</th>
                <th>KM</th>
                <th>F. Registro</th>
                <th>Vehículo</th>
                <th style="width: 12%;"></th>
              </tr>
            </thead>
            <tbody>

       
              {% for obj in objetos %}
              <tr>
                <td>1</td>
                <td>{{obj.codigo}}</td>
                <td>{{obj.modelo_llanta.marca_llanta}}</td>
                <td>{{obj.modelo_llanta}}</td>
                <td>{{obj.medida_llanta}}</td>
                <td>{{obj.ubicacion}}</td>
                <td>{{obj.cubierta.costo|unlocalize}}</td>
                <td>{{obj.cubierta.km|unlocalize}}</td>
                <td>{{obj.created_at|date:'Y-m-d'}}</td>
                <td>{{obj.vehiculo|default_if_none:''}} </td>
                <td>
                  {% if 'Web.change_llanta' in perm %}

                  <a href="{% url 'Web:llanta' obj.pk %}" class="btn btn-success btn-sm"><i
                      class="fa fa-edit"></i>Editar</a>{% endif %}
                  {% if 'Web.delete_llanta' in perm %}
                  <a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#mdEliminar{{obj.pk}}"><i
                      class="fa fa-ban"></i></a>{% endif %}
                  {% include 'Web/fragments/eliminar_llanta.html' %}
                </td>
              </tr>
              {% endfor %}


            </tbody>

          </table>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- End of Page Wrapper -->
{% endblock %}

{% block bottom_scripts %}



<script>
  

  $(document).ready(function () {
    $('.select2').select2();
    $.fn.dataTable.moment('DD/MM/YYYY');

    var tablaLLantas = $('#tablaLlanta').DataTable({
      responsive: true,
      stateSave: true,


      "lengthMenu": [
        [5, 10, 25, 50, -1],
        [5, 10, 25, 50, "All"]
      ],
  
      columnDefs:[
         {
    targets: [5],
          render: function (data, type, row) {  
            if(data=="None")
            {
              return "MONTADO"
            }else{
              return data
            }
          } 
        },
      ],
      searchBuilder: true,
      searchBuilder: {
        columns: [1, 2, 3, 4, 5, 6, 7, 8, 9]
      },
  
      "language": {

        "processing": '<div class="spinner-border text-primary" style="width: 3rem; height: 3rem; role="status"><span class="sr-only">Loading...</span></div>',
        "lengthMenu": "Mostrar _MENU_ registros",
        "zeroRecords": "No se encontraron resultados",
        "emptyTable": "Ningún dato disponible en esta tabla",
        "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        "infoFiltered": "(filtrado de un total de _MAX_ registros)",
        "search": "Buscar:",
        "infoThousands": ",",
        "loadingRecords": "Cargando...",
        "searchBuilder": {
          "add": "Añadir condición",
          "button": {
            "0": "Constructor de búsqueda",
            "_": "Constructor de búsqueda (%d)"
          },
          data: 'Columna',

          title: {
            0: 'Filtros',
            _: 'Filtros (%d)'
          },
          value: 'Ingrese término de búsqueda.',
          valueJoiner: 'hasta',
          "clearAll": "Borrar todo",
          "condition": "Condición",
          "conditions": {
            "date": {
              "after": "Despues",
              "before": "Antes",
              "between": "Entre",
              "empty": "Vacío",
              "equals": "Igual a",
              "not": "No",
              "notBetween": "No entre",
              "notEmpty": "No Vacio"
            },
            "number": {
              "between": "Entre",
              "empty": "Vacio",
              "equals": "Igual a",
              "gt": "Mayor a",
              "gte": "Mayor o igual a",
              "lt": "Menor que",
              "lte": "Menor o igual que",
              "not": "No",
              "notBetween": "No entre",
              "notEmpty": "No vacío"
            },
            "string": {
              "contains": "Contiene",
              "empty": "Vacío",
              "endsWith": "Termina en",
              "equals": "Igual a",
              "not": "No",
              "notEmpty": "No Vacio",
              "startsWith": "Empieza con"
            }
          },
        }
      },

      "initComplete": function (settings, json) {
        $("select[name='dataTable_length']").removeClass("form-control").addClass("form-select")
        // $(".dtsb-group > .dtsb-add").removeClass("btn-light").addClass("btn-primary")
        console.log($("button[class='dtsb-add']"));


      }

    });
    tablaLLantas.searchBuilder.container().prependTo(tablaLLantas.table().container());
    tablaLLantas.on('order.dt search.dt', function () {
      tablaLLantas.column(0, {
        search: 'applied',
        order: 'applied'
      }).nodes().each(function (cell, i) {
        cell.innerHTML = i + 1;
      });
    }).draw();
    $(document).on("click", '.btn-delete-llanta', function (e) {

e.preventDefault()
var tr = tablaLLantas.cell($(this).closest("td")).index();
var data = tablaLLantas.row(tr.row).data();
Swal.fire({
  title: 'Eliminar llanta',
  icon: "warning",
  text: "¿Está seguro que desea eliminar la llanta?",
  showCancelButton: true,
  confirmButtonColor: "#e74a3b",
  cancelButtonColor: '#6c757d',
  confirmButtonText: 'Sí, eliminarlo!'
}).then((result) => {
  if (result.isConfirmed) {
      Swal.showLoading()

      fetch("../llanta/" + data.id + "/delete/", {
        method: "POST",
        headers: {
          'X-CSRFToken': csrftoken
        },
      }).then(data => data.json()).then(response => {
        if (response.status = 200) {
          notificacion(1500, "Genial!", "success", "Llanta inhabilitada")
          tablaLLantas.ajax.reload()
        } else{
          notificacion(1500, "Error", "error", "Esa llanta no existe")
        }
      })
    
  }
})
})
    $("#btnBuscar").click(function () {
      $('#frmlist').submit();
      let spinner = $(this.currentTarget).find('span')
      spinner.removeClass('d-none')
      setTimeout(_ => spinner.addClass('d-none'), 2000)
      $(this).html(
        '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>  Buscando ...'
      );
      $(this).prop("disabled", true);
    });
  });
</script>
{% endblock %}