{% comment %} {% extends 'Web/base.html' %}
{% block blockCatalogos%}nav-item active{% endblock  %}
{% block collapseCatalogos %}collapse show{% endblock  %}
{% block marca-llantas %}collapse-item active{% endblock  %} {% endcomment %}
{% load static %}
{% block content %}  
<style>

</style>  
{% comment %} <div id="wrapper">
        <div class="container-fluid">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
            	<div class="row">
                <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-edit"></i> 
                  {% if update %} Editar Marca de Llanta {% else %}Crear Marca de Llanta {% endif %}</h6>
            	</div>
            </div>
            <form method="post" action="" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="card-body">
              <div class="row">
              	<div class="col-lg-2">Descripción</div>
                <div class="col-lg-4">{{form.descripcion}}</div>
              </div>
              <br>
       
              <br>            
			
            </div>
            <div class="card-footer text-muted">
                <button type="submit" class="btn btn-primary">Grabar</button>
                <a href="{% url 'Web:marca-llantas' %}" class="btn btn-secondary">Cancelar</a>
            </div>
          	</form>
          </div>				
        </div>
</div> {% endcomment %}
          <div class="container">
           {% if marcallanta %}
  <form method="POST" id="formMarca" action="{% url 'Web:marca-llanta' marcallanta.pk %}" class="needs-validation" novalidate >


    {% else %}
    <form method="POST" id="formMarca" class="needs-validation" novalidate >

      {% endif %}
            {% csrf_token %}
              <div class="form-row">
              <div class="form-group col-lg-12">
              <input type="hidden" name="action" value="add">
              	<label>Descripción</label>
                {{form.descripcion}}
                <div class="invalid-feedback" id="invalid_descripcion">Este campo es requerido.</div>

              </div>
              <div class="form-check">
              {{form.activo}}
  <label class="form-check-label" for="flexCheckChecked">
    Activo
  </label>
</div>
              </div>
             
			
      <button type="submit" class="btn btn-primary" id="btnEditUser" style="display:none">Submit</button>
                {% comment %} <a href="{% url 'Web:marca-llantas' %}" class="btn btn-secondary">Cancelar</a> {% endcomment %}
          	</form>
          </div>				
{% endblock %}
{% block bottom_scripts %}

<script>
  $('.btn_x').on('click', function() {
    //var $this = $(this);
    //archivo = $('#id_solicitud').val()
    //if (archivo!='') { $this.button('loading');}
    $this.button('loading');
  });
  
    $("#btnEditUser").on("click", function (e) {

      var paramaters = new FormData($('.needs-validation')[0])
      $.ajax({
        type: "POST",
        url: $("#formMarca").attr("action"),
        data: paramaters,
        dataType: "json",
        processData: false, // tell jQuery not to process the data
        contentType: false,
        success: function (data) {
          if (data["status"] == 200) {
            de.close()
            notificacion(1500, "Genial!", "success", "Marca guardada!")
          } else {
                if(data.form.descripcion){
                  document.getElementById("id_descripcion").classList.add("is-invalid")
                  document.getElementById("invalid_descripcion").innerHTML=data.form.descripcion[0]
                }
          }
          tablaMarcas.ajax.reload()
        }
      }).done(function (data) {}).fail(function (jqXHR, textStatus, errorThrown) {
        alert("done:" + textStatus + ': ' + errorThrown);
      }).always(function (data) {

      });;
      return false;
    });
  </script>
{% endblock %}
