{% extends 'Web/base.html' %}
{% block blockCatalogos%}nav-item active{% endblock  %}
{% block collapseCatalogos %}collapse show{% endblock  %}
{% block marca-llantas %}collapse-item active{% endblock  %}
{% load static %}
{% load base_extras %}
{% block content %}  
<link href="{% static "vendor/datatables/dataTables.bootstrap4.min.css" %}" rel="stylesheet">
  <div id="wrapper">
        <div class="container-fluid">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-list"></i> Bandeja de Marcas de Llantas</h6>
            </div>
            <div class="card-body">

                <form method="GET" action="" id="frmlist">
                {% csrf_token %}
                  <div class="row">     
                    <div class="col-lg-3">
                      <label>Descripción</label>
                      <input type="text" class="form-control" name="q" value="{{request.GET.q}}" />
                    </div>
                    <div class="col-lg-2">
                        <label>&nbsp;</label></br>
                        <button class="btn btn-primary" id="btnBuscar">
                          <span class="d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                          <i class="fa fa-search"></i>Buscar
                        </button>
                    </div>
                     {% if 'Web.add_marcallanta' in perm %}
                    <div class="col-lg-3">
                      <label>&nbsp;</label></br>
                      <a href="{% url 'Web:marca-llanta' %}" class="btn btn-success"><i class="fa fa-file-o"></i>  Crear Nuevo</a>
                    </div>
        {% endif %}
                </div>
                <br>
                <div class="table-responsive">               
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Descripción</th>
                      <th>Activo</th>
                      <th style="width: 20%;"></th>
                    </tr>
                  </thead>
                  
                  {% comment %}
                  <tbody>
                    <tr>
                      <td>{{obj.descripcion}}</td>
                      <td>{% if obj.activo %}<i class="fa fa-check text-success"></i>{% else %} <i class="fa fa-ban text-danger"></i> {% endif %} </td>
                      <td>
                        <a href="{% url 'Web:marca-llanta' obj.pk %}" class="btn btn-success btn-sm"><i class="fa fa-edit"></i>Editar</a>
                        <button type="button" onclick='eliminateMarca("{% url 'Web:marca-llanta-delete' obj.pk %}")' data-id="{{obj.pk}}" class="btn btn-danger btn-sm btn-desactivate-marca"
                      ><i class="fa fa-ban"></i></button>
                      </td>
                    </tr>
                  </tbody>
                  {% endcomment %}
                    
                 
                </table>
                </div>
              </form>

            </div>
          </div>
        </div>
  </div>
  <!-- End of Page Wrapper -->
  {% endblock %}
  {% block bottom_scripts %}
  <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js  "></script>
  <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
  <script>
    var tablaMarcas
    $(document).ready(function() {
      tablaMarcas = $("#dataTable").DataTable({
     responsive:true,
      ajax: {
        url: "{% url 'Web:marca-llantas' %}",
        type: "POST",
        data: {
          "action": "searchData"
        },
        dataSrc: ""
      },
      "lengthMenu": [
        [5, 10, 25, 50, -1],
        [5, 10, 25, 50, "All"]
      ],
      "language": {
        "sSearch": "Buscar",
        "emptyTable": "No hay datos disponibles para esta tabla",
        "lengthMenu": "Mostrando _MENU_ entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "zeroRecords": "No se encontraron resultados",
        "info": "Mostrando _START_ al _END_ de _TOTAL_ entradas",
        "infoEmpty": "Mostrando 0 al 0 de 0 entradas",


      },
      "order": [
        [0, 'asc']
      ],
      columns: [{
          "data": 'id',className: "text-center middle",
        },
        {
          "data": 'descripcion',className: "middle"
        },
        
     
        {
          "data": 'activo',
          className: "estado middle",
          render: function (data, type, row) {
            if (data) {
              return '<i class="fa fa-check text-success" aria-hidden="true"></i>';
            } else {
              return "Inactivo"
            }
          }
        },
        {
          "data": 'estado',className:"text-center middle"
        },


      ],
      columnDefs: [{
          targets: [-1],

          render: function (row, data, index) {
            var buttons =
                   
 ' {% if 'Web.change_marcallanta' in perm %}<a href="../marca-llanta/'+index.id+'/" class="btn btn-success btn-sm"><i class="fa fa-edit"></i>Editar</a>'+
              '</a> {% endif %}   
               {% if 'Web.delete_marcallanta' in perm %}<button type="button" onclick="eliminateMarca('+index.id+')" data-id="marca-llanta/'+index.id+'/delete/" class="btn btn-danger btn-sm btn-desactivate-marca"><i class="fa fa-ban"></i></button>{% endif %}';

            return buttons;

          },

        },


      ],
      "createdRow": function (row, data, index) {
        // if (!data["estado"]) {
        //   $('.btn-success', row).eq(0).removeClass().addClass("btn btn-danger btn-circle")
        //   $(".fa-thumbs-up", row).eq(0).removeClass().addClass("fas fa-thumbs-down")

        // }
      },

    });


      $("#btnBuscar").click(function() {
        $('#frmlist').submit();
        let spinner = $(this.currentTarget).find('span')
        spinner.removeClass('d-none')
        setTimeout(_ => spinner.addClass('d-none'), 2000)
        $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>  Buscando ...');
        $(this).prop("disabled", true);
      });
    });
    

  </script>
  {% endblock %}
  