{% extends 'Web/base.html' %}
{% load static %}
{% block content %}  
<style>
  input[type=checkbox] {
      transform: scale(2.5);
  }
</style>  
<div id="wrapper">
        <div class="container-fluid">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
            	<div class="row">
                <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-edit"></i> 
                  {% if update %} Editar Medida de Llanta {% else %} Crear Medida de Llanta {% endif %}</h6>
            	</div>
            </div>
            <form method="post" action="" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="card-body">
              <!--div class="row">
              	<div class="col-lg-2">Descripción</div>
                <div class="col-lg-4">{{form.descripcion}}</div>
              </div-->
              <br>
              <div class="row">
              	<div class="col-lg-2">Marca</div>
                <div class="col-lg-4">{{form.marca}}</div>
              </div>
              <br>
              <div class="row">
              	<div class="col-lg-2">Modelo</div>
                <div class="col-lg-4">{{form.modelo_llanta}}</div>
              </div>
              <br>
              <div class="row">
              	<div class="col-lg-2">Medida</div>
                <div class="col-lg-4">{{form.medida}}</div>
              </div>
              <br>
              <div class="row">
              	<div class="col-lg-2">Profundidad</div>
                <div class="col-lg-4">{{form.profundidad}}</div>
              </div>
              <br>
              <div class="row">
              	<div class="col-lg-2">Capas</div>
                <div class="col-lg-4">{{form.capas}}</div>
              </div>
              <br>
              <div class="row">
              	<div class="col-lg-2">Activo</div>
                <div class="col-lg-2">{{form.activo}}</div>
              </div>
              <br>            
			
            </div>
            <div class="card-footer text-muted">
                <button type="submit" class="btn btn-primary">Grabar</button>
                <a href="{% url 'Web:medida-llantas' %}" class="btn btn-secondary">Cancelar</a>
            </div>
          	</form>
          </div>				
        </div>
</div>
{% endblock %}
{% block bottom_scripts %}

<script type="text/javascript" charset="utf-8">
$('#id_marca  option[value="{{instance.modelo_llanta.marca_llanta.pk}}"]').prop("selected", true);
function actualizar_modelo(){
    $('#id_modelo_llanta').empty();
    $('#id_modelo_llanta').append($("<option>", {value: "",text: " --------- "}));              
    $.ajax({
      'url' : '/Web/render-option-llanta',
      'type' : 'GET',
      'async': false,
      'data' : {'id_marca' : $('#id_marca').val()},
      'success' : function(data) {
       $.each(data, function( index, valuex ) {
          $('#id_modelo_llanta').append($("<option>", {value: valuex.id ,text: valuex.descripcion}));              
       });
      },
      'error' : function(request,error){
        //alert("Request: "+JSON.stringify(request));
      }
    });

}
</script>
{% endblock %}
