{% extends 'Web/base.html' %}
{% load static %}
{% block content %}  

<!-- Latest compiled and minified CSS -->
<link href="{% static "vendor/bootstrap-select-1.13.14/dist/css/bootstrap-select.min.css" %}" rel="stylesheet" type="text/css">

    
<div id="wrapper">
        <div class="container-fluid">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
            	<div class="row">
                <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-edit"></i> 
                  {% if update %} Editar Perfil {% else %} Crear Nuevo Perfil {% endif %}</h6>
            	</div>
            </div>
          
          
          {% if perfil %}
          <form method="post" action="{% url 'Web:Perfil' perfil.pk %}"  >

          {% else %}
          <form method="post" action="{% url 'Web:Perfil' %}"  >

          {% endif %}
            
            
            {% csrf_token %}
            <div class="card-body">
              
                <div class="modal-body">
                    {% if error %}
                    <div class="alert alert-danger text-center" role="alert">
                        {% for field, error in error.items %}
                            {{ error | striptags }}
                            <br>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-6">
                           <label for="">Nombre del perfil</label>
                           {{form.name}}
                        <div class="col-lg-6">
                            <label for="">Permissions</label>
                            {{form.permissions}}</div>
                        </div>
                    </div>
                  
                </div>

            </div>
            <div class="card-footer text-muted">
                <button type="submit" class="btn btn-primary">Grabar</button>
                <a href="{% url 'Web:Perfiles' %}" class="btn btn-secondary">Cancelar</a>
            </div>
          	</form>
      


          </div>				
        </div>
</div>

{% endblock %}
{% block bottom_scripts %}

<script src="{% static "vendor/bootstrap-select-1.13.14/dist/js/bootstrap-select.min.js" %}"></script>

<script>
  $('.btn_x').on('click', function() {
    var $this = $(this);
    archivo = $('#id_solicitud').val()
    if (archivo!='') { $this.button('loading');}
  });
  </script>
{% endblock %}
