<div class="container">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  {% if persona %}
  <form method="POST" novalidate id="formPersona" action="{% url 'Web:Persona' persona.pk %}" class="needs-validation" novalidate enctype="multipart/form-data">


    {% else %}
    <form method="POST" id="formPersona" class="needs-validation" novalidate enctype="multipart/form-data">

      {% endif %}

      {% csrf_token %}
      <input type="hidden" name="action" value="{% if persona %}edit{%else%}add{% endif %}">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="id_nom">Nombres:</label>
          <input type="text" value="{% if persona %}{{persona.nom}}{% endif %}" class="form-control" name="nom"
            maxlength="100" required="" id="id_nom">
                    <div class="invalid-feedback" id="invalid_nom">Este campo es requerido.</div>

        </div>
        <div class="form-group col-md-4"> <label for="id_apep">Apellido paterno:</label>
          <input type="text" class="form-control" value="{% if persona %}{{persona.apep}}{% endif %}" name="apep"
            maxlength="100" required="" id="id_apep">
                      <div class="invalid-feedback" id="invalid_apep">Este campo es requerido.</div>
    
            </div>
        <div class="form-group col-md-4"> <label for="id_apem">Apellido materno:</label>
          <input type="text" class="form-control" value="{% if persona %}{{persona.apem}}{% endif %}" name="apem"
            maxlength="100" id="id_apem">
                          <div class="invalid-feedback" id="invalid_apem">Este campo es requerido.</div>

            </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="id_tip_doc">Tip doc:</label>
          <select name="tip_doc" class="form-select" required="" id="id_tip_doc">
            <option selected value="0"> --- </option>

            <option value="1" {% if persona.tip_doc == 1 %}selected{%endif%}>DNI</option>

            <option value="2" {% if persona.tip_doc == 2 %}selected{%endif%}>Carnet Extranjería</option>

            <option value="3" {% if persona.tip_doc == 3 %}selected{%endif%}>Pasaporte</option>
            <option value="4" {% if persona.tip_doc == 4 %}selected{%endif%}>RUC</option>

          </select>
                          <div class="invalid-feedback" id="invalid_tip_doc">Este campo es requerido.</div>

        </div>
        <div class="form-group col-md-4">
          <label for="id_nro_doc">Nro documento:</label>
          <input readonly type="text" class="form-control" value="{% if persona %}{{persona.nro_doc}}{% endif %}" name="nro_doc"
            maxlength="15" required="" id="id_nro_doc">
                          <div class="invalid-feedback" id="invalid_doc">Este campo es requerido.</div>

        </div>
        <div class="form-group col-md-4">
          <label for="id_fech_nac">Fecha de nacimiento:</label>

          <div class="input-group mb-3">

            {{form.fech_nac}}
             <div class="input-group-append">
               <button id="openCalendar" class="btn btn-outline-primary" type="button"><i class="fa fa-calendar"></i></button>
             </div>
              <div class="invalid-feedback" id="invalid_fech_nac">Este campo es requerido.</div>

           </div>
        </div>
     
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="id_sexo">Sexo:</label>
          <select name="sexo" class="form-select" id="id_sexo">
            <option value="" selected="">---------</option>

            <option value="1" {% if persona.sexo == 1 %}selected{%endif%}>Hombre</option>

            <option value="2" {% if persona.sexo == 2 %}selected{%endif%}>Mujer</option>

          </select>
          
          </div>
        <div class="form-group col-md-4">
          <label for="id_fech_nac">Fecha de inicio:</label>

          <div class="input-group mb-3">

            {{form.fech_inicio}}
             <div class="input-group-append">
               <button id="openCalendar2" class="btn btn-outline-primary" type="button"><i class="fa fa-calendar"></i></button>
             </div>
              <div class="invalid-feedback" id="invalid_fech_inicio">Este campo es requerido.</div>

           </div>

        </div>
        <div class="form-group col-md-4">
          <label for="id_fech_nac">Fecha de fin:</label>

          <div class="input-group mb-3">

            {{form.fech_fin}}
             <div class="input-group-append">
               <button id="openCalendar3" class="btn btn-outline-primary" type="button"><i class="fa fa-calendar"></i></button>
             </div>
                <div class="invalid-feedback" id="invalid_fech_fin">Este campo es requerido.</div>

           </div>

        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="id_departamento">Departamento:</label>

          {{form.departamento}}
                        <div class="invalid-feedback" id="invalid_departamento">Este campo es requerido.</div>

        </div>
        <div class="form-group col-md-4">
          <label for="id_provincia">Provincia:</label>
          
          {% if provincia %}
          
          <select  class="form-select" name="provincia" id="id_provincia" data-url="{% url 'Web:Provincia' %}"
            data-urldis="{% url 'Web:Distrito' %}">
            <option value="0" selected>Seleccione provincia..</option>
            
            {% for i in  provincia %}
            <option value="{{i.id}}" >{{i.descripcion}}</option>

            {% endfor %}
              
          </select>
                        <div class="invalid-feedback" id="invalid_provincia">Este campo es requerido.</div>

            {%else%}
            <select  disabled class="form-select " name="provincia" id="id_provincia" data-url="{% url 'Web:Provincia' %}"
            data-urldis="{% url 'Web:Distrito' %}">
            <option value="0" selected>Seleccione provincia..</option>
          </select>
                        <div class="invalid-feedback" id="invalid_provincia">Este campo es requerido.</div>

          {% endif %}
            
          </div>
        <div class="form-group col-md-4">
          <label for="id_provincia">Distrito:</label>

          {% if distrito %}
          <select  class="form-select" name="distrito" id="id_distrito">
          <option value="0" selected>Seleccione provincia..</option>
          
          {% for i in  distrito %}
          <option value="{{i.id}}" >{{i.descripcion}}</option>

          {% endfor %}
          </select>
                        <div class="invalid-feedback" id="invalid_distrito">Este campo es requerido.</div>

          {% else %}
          <label for="id_distrito">Distrito:</label>
          <select  disabled class="form-select" name="distrito" id="id_distrito">
            <option value="0" selected>Seleccione distrito..</option>
          </select>
                        <div class="invalid-feedback" id="invalid_distrito">Este campo es requerido.</div>

          {% endif %}
            
        
        </div>

      </div>

      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="id_direccion">Direccion:</label>
          <input type="text" class="form-control" value="{% if persona %}{{persona.direccion}}{% endif %}"
            name="direccion" maxlength="100" id="id_direccion">
                                            <div class="invalid-feedback" id="invalid_direccion">Este campo es requerido.</div>

        </div>

        <div class="form-group col-md-4">

          <label for="id_referencia">Referencia:</label>
          <input type="text" class="form-control" value="{% if persona %}{{persona.referencia}}{% endif %}"
            name="referencia" maxlength="300" id="id_referencia">
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="id_celular">Celular:</label>

          <input type="text" class="form-control" name="celular" value="{% if persona %}{{persona.celular}}{% endif %}"
            maxlength="15" id="id_celular">
                      <div class="invalid-feedback" id="invalid_celular">Este campo es requerido.</div>

        </div>
        <div class="form-group col-md-4">
          <label for="id_telefono">Telefono:</label>
          <input type="text" class="form-control" name="telefono"
            value="{% if persona %}{{persona.telefono}}{% endif %}" maxlength="15" id="id_telefono">
                          <div class="invalid-feedback" id="invalid_telefono">Este campo es requerido.</div>

        </div>
        <div class="form-group col-md-4">
          <label for="id_correo">Correo:</label>
          <input type="text" class="form-control" name="correo" value="{% if persona %}{{persona.correo}}{% endif %}"
            maxlength="50" id="id_correo">
               <div class="invalid-feedback" id="invalid_correo">Este campo es requerido.</div>
         
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="id_ruc">Subir imagen: </label>

          {{form.foto_nueva}}
        </div>
        
        <div class="form-group col-md-4">

          <label for="id_ruc">Cargo:</label>
         {{form.cargo}}
                        <div class="invalid-feedback" id="invalid_cargo">Este campo es requerido.</div>

        </div>
        <div class="form-group col-md-4">

          <label for="id_ruc">Área:</label>
         {{form.area}}
                        <div class="invalid-feedback" id="invalid_area">Este campo es requerido.</div>

        </div>

        <input type="hidden" value="{{persona.provincia.id}}" id="provinciaid">
        <input type="hidden" value="{{persona.distrito.id}}" id="distritoid">
      </div>
      <input type="hidden" value="{% if persona %}{{persona.id}}{% endif %}" id="id">
      <button type="submit" class="btn btn-primary" id="btnEditUser" style="display:none">Submit</button>

    </form>

</div>
<style>
  .xdsoft_datetimepicker {
    z-index: 9999999999 !important;
  }
</style>
{% block js_page %}
<script>
  $(document).ready(function () {
     let name = document.getElementById("id_nom")
              let apem =document.getElementById("id_apem")
              let apep = document.getElementById("id_apep")
              let tip_doc = document.getElementById("id_tip_doc")
              let nro_doc = document.getElementById("id_nro_doc")
              let fech_nac = document.getElementById("id_fech_nac")
              let fech_inicio = document.getElementById("id_fech_inicio")
              let fech_fin = document.getElementById("id_fech_fin")
              let departamento = document.getElementById("id_departamento")
              let provincia = document.getElementById("id_provincia")
              let distrito = document.getElementById("id_distrito")
              let direccion = document.getElementById("id_direccion")
              let celular = document.getElementById("id_celular")
              let correo = document.getElementById("id_correo")
              let area = document.getElementById("id_area")
              let cargo = document.getElementById("id_cargo")
    name.addEventListener("keyup", function () {
       name.classList.remove("is-invalid")
        })
         apep.addEventListener("keyup", function () {
       apep.classList.remove("is-invalid")
        })
         apem.addEventListener("keyup", function () {
       apem.classList.remove("is-invalid")
        })
         tip_doc.addEventListener("change", function (e) {
       tip_doc.classList.remove("is-invalid")
       console.log(e.target.options[e.target.selectedIndex].value==0);
       if(e.target.options[e.target.selectedIndex].value==0){
        nro_doc.setAttribute("readonly","true")

       }else{
        nro_doc.removeAttribute("readonly")

       }
       nro_doc.value=""

        })
         nro_doc.addEventListener("keyup", function () {
       nro_doc.classList.remove("is-invalid")
        })
         fech_inicio.addEventListener("click", function () {
       fech_inicio.classList.remove("is-invalid")
        })
         fech_fin.addEventListener("click", function () {
           console.log("keyup");
       fech_fin.classList.remove("is-invalid")
        })
         departamento.addEventListener("change", function () {
       departamento.classList.remove("is-invalid")
        })
         provincia.addEventListener("change", function () {
       provincia.classList.remove("is-invalid")
        })
         distrito.addEventListener("change", function () {
       distrito.classList.remove("is-invalid")
        })
           direccion.addEventListener("keyup", function () {
       direccion.classList.remove("is-invalid")
        })
          celular.addEventListener("keyup", function () {
       celular.classList.remove("is-invalid")
        })
         correo.addEventListener("keyup", function () {
       correo.classList.remove("is-invalid")
        })
         area.addEventListener("keyup", function () {
       area.classList.remove("is-invalid")
        })
         cargo.addEventListener("keyup", function () {
       cargo.classList.remove("is-invalid")
        })

    $(function () {
      jQuery.datetimepicker.setLocale('es');
      $("#id_fech_nac").datetimepicker({
        

        timepicker: false,
        format: 'Y-m-d'
      });
      $("#id_fech_inicio").datetimepicker({
        

        timepicker: false,
        format: 'Y-m-d'
      });
      $("#id_fech_fin").datetimepicker({
        

        timepicker: false,
        format: 'Y-m-d'
      });
    });
    jQuery('#openCalendar').click(function(){
  jQuery('#id_fech_nac').datetimepicker('show'); //support hide,show and destroy command
});
jQuery('#openCalendar2').click(function(){
  jQuery('#id_fech_inicio').datetimepicker('show'); //support hide,show and destroy command
});
jQuery('#openCalendar3').click(function(){
  jQuery('#id_fech_fin').datetimepicker('show'); //support hide,show and destroy command
});
    selectDepart = document.getElementById("id_departamento")
    selectProvince = document.getElementById("id_provincia")
    selectDistrict = document.getElementById("id_distrito")
    
    {% if persona %}
        selectProvince.value = document.getElementById("provinciaid").value
      selectDistrict.value = document.getElementById("distritoid").value

    {% endif %}




    selectDepart.addEventListener("change", function (e) {


      let id = e.target.options[e.target.options.selectedIndex].attributes[0].value
      if (id != "") {
       
      fetch("{% url 'Web:Provincia' %}", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrftoken
          },
          body: JSON.stringify(id)
        }).then(data => data.json()).then(response => {
          selectProvince.innerHTML = ""
          selectProvince.disabled = false
          let selectfirst = document.createElement("option")
          selectfirst.value=0
          selectfirst.innerText = "Seleccione provincia..."
          selectProvince.appendChild(selectfirst)

          for (let index = 0; index < response.length; index++) {
            let option = document.createElement("option")
            option.innerText = response[index].fields.descripcion
            option.setAttribute("value", response[index].pk)
            selectProvince.appendChild(option)
          }
        })
      } else {

        selectProvince.innerHTML = ""
        let selectfirst = document.createElement("option")
        selectfirst.value=0
        selectfirst.innerText = "Seleccione provincia..."
        selectProvince.appendChild(selectfirst)
        selectProvince.disabled=true
        
        selectDistrict.innerHTML = ""
        let selectfirstd = document.createElement("option")
        selectfirstd.value=0

        selectfirstd.innerText = "Seleccione distrito..."
        selectDistrict.appendChild(selectfirstd)
        selectDistrict.disabled = true
      }

    })

    //   selectDistrict = document.getElementById("id_distrito")
    //   if (selectProvince != null) {
    //     url = selectProvince.dataset.url

    //     fetch(url).then(data => data.json()).then(response => {
    //       selectProvince.disabled = false

    //       for (let index = 0; index < response.length; index++) {
    //         let option = document.createElement("option")
    //         option.innerText = response[index].fields.name
    //         option.setAttribute("value", response[index].pk)
    //         selectProvince.appendChild(option)
    //       }
    //     })




    selectProvince.addEventListener("change", function (e) {
      let id = e.target.options[e.target.options.selectedIndex].attributes[0].value
      if(id!=0){
   
      fetch("{% url 'Web:Distrito' %}", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrftoken
        },
        body: JSON.stringify(id)
      }).then(data => data.json()).then(response => {
        selectDistrict.innerHTML = ""
        selectDistrict.disabled = false
        let selectfirst = document.createElement("option")
        selectfirst.innerText = "Seleccione ditrito..."
        selectDistrict.appendChild(selectfirst)

        for (let index = 0; index < response.length; index++) {
          let option = document.createElement("option")
          option.innerText = response[index].fields.descripcion
          option.setAttribute("value", response[index].pk)
          selectDistrict.appendChild(option)
        }
      })
    }
    else{
      selectDistrict.innerHTML = ""
      let selectfirst = document.createElement("option")
      selectfirst.value=0
      selectfirst.innerText = "Seleccione ditrito..."
      selectDistrict.appendChild(selectfirst)
      selectDistrict.disabled=true
    }
    })


    $("#btnEditUser").on("click", function (e) {
      var id = $("#id").val()
       de.showLoading()

      var paramaters = new FormData($('.needs-validation')[0])
      $.ajax({
        type: "POST",
        url: "../Persona/" + id + "/",
        data: paramaters,
        dataType: "json",
        processData: false, // tell jQuery not to process the data
        contentType: false,
        success: function (response) {
          console.log(response)
          if (response["stat"] == "ok") {
            de.close()
            notificacion(1500, "Genial!", "success", "Persona guardada!")
          } else {
            de.hideLoading()
                   if (response.error.apem) {
                    document.getElementById("invalid_apem").innerHTML = response.error.apem[0]
                    apem.classList.add("is-invalid")

                  }
                  if (response.error.apep) {
                    document.getElementById("invalid_apep").innerHTML = response.error.apep[0]
                    apep.classList.add("is-invalid")

                  }
                  if (response.error.nom) {
                    document.getElementById("invalid_nom").innerHTML = response.error.nom[0]
                    name.classList.add("is-invalid")

                  }
                  if (response.error.area) {
                    document.getElementById("invalid_area").innerHTML = response.error.area[0]
                    area.classList.add("is-invalid")

                  }
                  if (response.error.cargo) {
                    document.getElementById("invalid_cargo").innerHTML = response.error.cargo[0]
                    cargo.classList.add("is-invalid")

                  }
                  if (response.error.celular) {
                    document.getElementById("invalid_celular").innerHTML = response.error.celular[0]
                    celular.classList.add("is-invalid")

                  }
                  if (response.error.correo) {
                    document.getElementById("invalid_correo").innerHTML = response.error.correo[0]
                    correo.classList.add("is-invalid")

                  }
                  if (response.error.departamento) {
                    document.getElementById("invalid_departamento").innerHTML = response.error.departamento[0]
                    departamento.classList.add("is-invalid")

                  }
                  if (response.error.provincia) {
                    console.log("if provi");

                    document.getElementById("invalid_provincia").innerHTML = response.error.provincia[0]
                    provincia.classList.add("is-invalid")

                  }
                  if (response.error.distrito) {
                    console.log("if distri");

                    document.getElementById("invalid_distrito").innerHTML = response.error.distrito[0]
                    distrito.classList.add("is-invalid")

                  }
                
                  if (response.error.direccion) {
                    console.log("if direccion");

                    document.getElementById("invalid_direccion").innerHTML = response.error.direccion[0]
                    direccion.classList.add("is-invalid")

                  }
                  if (response.error.fech_inicio) {
                    console.log("if gech iniico");

                    document.getElementById("invalid_fech_inicio").innerHTML = response.error.fech_inicio[0]
                    fech_inicio.classList.add("is-invalid")

                  }
                  if (response.error.fech_fin) {
                    console.log("if fecha fin");

                    document.getElementById("invalid_fech_fin").innerHTML = response.error.fech_fin[0]
                    fech_fin.classList.add("is-invalid")

                  }
                  if (response.error.tip_doc) {
                    console.log("if tip doc");

                    document.getElementById("invalid_tip_doc").innerHTML = response.error.tip_doc[0]
                    tip_doc.classList.add("is-invalid")

                  }
                  if (response.error.nro_doc) {
                    console.log("if nro_doc");

                    document.getElementById("invalid_doc").innerHTML = response.error.nro_doc[0]
                    nro_doc.classList.add("is-invalid")

                  }
                  if (response.error.docValid) {

                    document.getElementById("invalid_doc").innerHTML = response.error.docValid
                    nro_doc.classList.add("is-invalid")

                  }
                  if (response.error.mailValid) {
                    document.getElementById("invalid_correo").innerHTML = response.error.mailValid
                    correo.classList.add("is-invalid")

                  }
          }
          tablaPersonas.ajax.reload()
        }
      }).done(function (data) {}).fail(function (jqXHR, textStatus, errorThrown) {
        alert("done:" + textStatus + ': ' + errorThrown);
      }).always(function (data) {

      });;
      return false;
    });
  })
</script>

{% endblock js_page %}