{% extends 'Web/base.html' %}
{% block blockCatalogos%}nav-item active{% endblock  %}
{% block collapseCatalogos %}collapse show{% endblock  %}
{% block ubicaciones %}collapse-item active{% endblock  %}
{% load static %}
{% load base_extras %}
{% block content %}  
  <div id="wrapper">
        <div class="container-fluid">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-list"></i> Bandeja de Ubicaciones</h6>
            </div>
            <div class="card-body">

                <form method="GET" action="" id="frmlist">
                {% csrf_token %}
                  <div class="row">     
                    <div class="col-lg-3">
                      <label>Descripción</label>
                      <input type="text" class="form-control" name="q" value="{{request.GET.q}}" />
                    </div>
                    <div class="col-lg-2">
                        <label>&nbsp;</label></br>
                        <button class="btn btn-primary" id="btnBuscar">
                          <span class="d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                          <i class="fa fa-search"></i>Buscar
                        </button>
                    </div>
                                                                                      {% if 'Web.add_ubicacion' in perm %}

                    <div class="col-lg-3">
                      <label>&nbsp;</label></br>
                      <a href="{% url 'Web:Ubicacion' %}" class="btn btn-success"><i class="fa fa-file-o"></i>  Crear Nuevo</a>
                    </div>
      {% endif %}
                </div>
                <br>                  
                <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th class="text-center middle">#</th>
                      <th class="text-center middle">Descripción</th>
                      <th class="text-center middle">Activo</th>
                      <th class="text-center middle" style="width: 20%;"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for u in ubicaciones %}
                    <tr>
                      <td class="text-center middle"></td>
                      <td class=" middle" >{{u.descripcion}}</td>
                      <td class="text-center middle">{% if u.activo %}<i class="fa fa-check text-success"></i>{% else %} <i class="fa fa-ban text-danger"></i> {% endif %} </td>
                      <td class="text-center middle">
                      {% if perms %}{% endif %}
                                                                                                            {% if 'Web.change_ubicacion' in perm %}

                        <a href="{% url 'Web:Ubicacion' u.pk %}" class="btn btn-success btn-sm"><i class="fa fa-edit"></i>Editar</a>{% endif %}
                                                                                                        {% if 'Web.delete_ubicacion' in perm %}
      <a href="{% url 'Web:Ubicacion' u.pk %}" class="btn btn-danger btn-sm"
                        data-toggle="modal" data-target="#mdEliminar{{u.pk}}"><i class="fa fa-ban"></i></a>{% endif %}
                        {% include 'Web/fragments/eliminar_ubicacion.html' %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                </div>
              </form>

            </div>
          </div>
        </div>
  </div>
  <!-- End of Page Wrapper -->
  {% endblock %}
  {% block bottom_scripts %}

  <script>
  var tablaUbicaciones
    $(document).ready(function() {
     tablaUbicaciones=$('#dataTable').DataTable({
            responsive: true,
       "lengthMenu": [
        [5, 10, 25, 50, -1],
        [5, 10, 25, 50, "All"]
      ],
               language:{
                    "url": "{% static 'language.json' %}",

          },
      });
    tablaUbicaciones.on('order.dt search.dt', function () {
      tablaUbicaciones.column(0, {
        search: 'applied',
        order: 'applied'
      }).nodes().each(function (cell, i) {
        cell.innerHTML = i + 1;
      });
    }).draw();
      $("#btnBuscar").click(function() {
        $('#frmlist').submit();
        let spinner = $(this.currentTarget).find('span')
        spinner.removeClass('d-none')
        setTimeout(_ => spinner.addClass('d-none'), 2000)
        $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>  Buscando ...');
        $(this).prop("disabled", true);
      });
    });
  </script>
  {% endblock %}
  