<form class="needs-validation" action="{% url 'Web:UsuarioChangePassword' usuario.pk %}" method="post">
    {% csrf_token %}
    <div class="col-12">
        <div class="form-outline">
            <label for="id_password1" class="form-label">Nueva Contraseña</label>

            {{ form.new_password1}}

          <div class="invalid-feedback" id="invalid_new_password1"></div>
    
        </div>
      </div>
      <div class="col-12">
        <div class="form-outline">
            <label for="id_password1" class="form-label">Repetir Contraseña</label>

            {{form.new_password2}}

            <div class="invalid-feedback" id="invalid_new_password2"></div>
    
        </div>
      </div>


    <button type="submit" class="btn btn-primary" id="btnEditUser" style="display:none">Submit</button>
</form>
{% block bottom_scripts %}
<script>
   
    $("#btnEditUser").on("click", function (e) {
        de.showLoading(true)

        var id = $("#id").val()
        let password = document.getElementById("id_new_password1")
    let password2 = document.getElementById("id_new_password2")
        var paramaters = new FormData($('.needs-validation')[0])
        console.log($(".needs-validation").attr("action"));
        $.ajax({
            type: "POST",
            url: $(".needs-validation").attr("action"),
            data: paramaters,
            dataType: "json",
            processData: false, // tell jQuery not to process the data
            contentType: false,
            success: function (response) {
                console.log(response);
                if (response.status == 200) {
                    de.close()
                    notificacion(1500, "Genial!", "success", "Contraseña actualizada!")
                } else {
                    if (response.form.new_password1) {
                        if (response.form.new_password1.length > 1) {
                            console.log("if")
                            let errors = ""
                            if (response.form.new_password1.length > 2) {
                                document.getElementById("invalid_password1").parentNode.parentNode
                                    .classList.add("mb-4")
                                    password2.value = ""
                            }
                            for (let i = 0; i < response.form.new_password1.length; i++) {
                                errors += `${response.form.new_password1[i]}\n`

                            }
                            document.getElementById("invalid_new_password1").innerHTML = errors
                            password.classList.add("is-invalid")

                        } else {
                            console.log("else");

                            document.getElementById("invalid_new_password1").innerHTML = response.form
                                .new_password1[0]
                            password.classList.add("is-invalid")
                            password.value = ""
                            password2.value = ""

                        }

                    }
                    if (response.form.new_password2) {
                        document.getElementById("invalid_new_password2").innerHTML = response.form.new_password2[0]
                        password2.classList.add("is-invalid")
                        password2.value = ""
                        password.value = ""

                    }
                }
            }
        }).done(function (data) {}).fail(function (jqXHR, textStatus, errorThrown) {
            alert("done:" + textStatus + ': ' + errorThrown);
        }).always(function (data) {

        });;
        return false;
    });
</script>
{% endblock bottom_scripts %}