
<!-- Latest compiled and minified CSS -->
<div class="container">

{% if usuario %}
<form method="post" action="{% url 'Web:Usuario' usuario.pk %}" class="needs-validation" novalidate enctype="multipart/form-data">

  {% else %}
  <form method="post"  class="needs-validation" novalidate enctype="multipart/form-data">

    {% endif %}

   {% csrf_token %}
   <input type="hidden" name="action" value="{% if usuario %}edit{%else%}add{% endif %}">

    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-lg-4 offset-lg-4">
          <label for="">Usuario:</label>
          {{form.persona}}
        </div>

      </div>
      <div class="form-row">
        <div class="form-group col-lg-4">
          <label for="">Usuario:</label>
          {{form.username}}
        </div>
        <div class="form-group col-lg-4">
          <label for="">Contraseña</label>
          {{form.password}}
        </div>
        <div class="form-group col-lg-4">
          <label for="">Repetir Contraseña</label>
          {{form.password2}}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-lg-6">
          <label for="">Usuario:</label>
          {{form.groups}}
        </div>

      </div>

    </div>
    <div class="card-footer text-muted">
      <button type="submit" class="btn btn-primary" id="btnEditUser" style="display:none">Submit</button>
      <a href="{% url 'Web:Usuarios' %}" class="btn btn-secondary">Cancelar</a>
    </div>

  </form>

</div>

  <script>
    $(document).ready(function () {

      $("#btnEditUser").on("click", function (e) {
        var id = "{{usuario.pk}}"
        de.showLoading(true)

        let paramaters = new FormData($('.needs-validation')[0])
        $.ajax({
          type: "POST",
          url: "../Usuario/" + id + "/",
          data: paramaters,
          dataType: "json",
          processData: false, // tell jQuery not to process the data
          contentType: false,
          success: function (data) {
            console.log(data)
            if (data["stat"] == "ok") {
              de.close()
              notificacion(1500, "Genial!", "success", "Persona guardada!")
            } else {
              $(":text").keypress(function (e) {
                $(this).removeClass("is-invalid")
              });
            }
            TablaUsuarios.ajax.reload()
          }
        }).done(function (data) {}).fail(function (jqXHR, textStatus, errorThrown) {
          alert("done:" + textStatus + ': ' + errorThrown);
        }).always(function (data) {

        });;
        return false;
      });
    })
  </script>
