{% extends 'Web/base.html' %}
{% block blockCatalogos%}nav-item active{% endblock  %}
{% block collapseCatalogos %}collapse show{% endblock  %}
{% block vehiculos %}collapse-item active{% endblock  %}
{% load static %}
{% load base_extras %}
{% load l10n %}
{% block content %}  
<link href="{% static "vendor/datatables/dataTables.bootstrap4.min.css" %}" rel="stylesheet">
<link href="{% static "vendor/select2/select2.min.css" %}" rel="stylesheet" />
<style>
  table.dataTable tbody th, table.dataTable tbody td {
      padding: 3px 3px; /* e.g. change 8x to 4px here */
  }
  </style>  
<div id="wrapper">
        <div class="container-fluid">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <div class="d-flex justify-content-between">
               <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-list"></i> Bandeja de Registro de Vehiculos</h6>
                                                                                     {% if 'Web.add_vehiculo' in perm %}
<a href="{% url 'Web:vehiculo' %}" class="btn btn-success"><i class="fa fa-file-o"></i> Regitrar Nuevo Vehiculo</a>{% endif %}
              </div>

            </div>
            <div class="card-body">

  
                <div class="table-responsive">
                <table class="table table-bordered table-hover" id="tablaVehiculo" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th class="middle text-center" style="width: 5%;">#</th>
                      <th class="middle text-center" style="width: 10%;">Placa</th>
                      <th class="middle text-center" style="width: 10%;">Marca</th>
                      <th class="middle text-center" style="width: 15%;">Modelo</th>
                      <th class="middle text-center" style="width: 5%;">Año</th>
                      <th class="middle text-center" style="width: 5%;">N° Llantas</th>
                      <th class="middle text-center" style="width: 5%;">Llantas Repuesto</th>

                      <th class="middle text-center" style="width: 10%;">KM</th>
                      <th class="middle text-center" style="width: 15%;">F. Registro</th>
                      <th style="width: 20%;"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for obj in objetos %}
                    <tr>
                      <td class="middle text-center">{{pag}}</td>
                      <td class="middle text-center">{{obj.placa}}</td>
                      <td class="middle text-center">{{obj.modelo_vehiculo.marca_vehiculo}}</td>
                      <td class="middle ">{{obj.modelo_vehiculo}}</td>
                      <td class="middle text-center">{{obj.ano}}</td>
                      <!--td>{{obj.ubicacion}} {% if obj.almacen %} / {{obj.almacen}} {% endif %}</td-->
                      <td class="middle text-center">{{obj.nro_llantas}}</td>
                      <td class="middle text-center">{{obj.nro_llantas_repuesto}}</td>

                      <td class="middle text-center">{{obj.km|unlocalize}}</td>
                      <td class="middle text-center">{{obj.created_at|date:'d/m/Y'}}</td>
                      <td>
                        <a href="{% url 'Web:ver-vehiculo' obj.pk %}" class="btn btn-warning btn-sm"><i class="fa fa-tools"></i>Operaciones</a>
                      {% if 'Web.change_vehiculo' in perm %}
                        <a href="{% url 'Web:vehiculo' obj.pk %}" class="btn btn-success btn-sm"><i class="fa fa-edit"></i>Editar</a>
                      {% endif %}


                    {% if 'Web.delete_vehiculo' in perm %}
                        <a href="#" class="btn btn-danger btn-sm"   data-toggle="modal" data-target="#mdEliminar{{obj.pk}}"><i class="fa fa-ban"></i></a>
                        
                      {% endif %}
                        {% comment %} {% include 'Web/fragments/eliminar_vehiculo.html' %} {% endcomment %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                </div>
                {% comment %} {% include 'Common/paginacion.html' %} {% endcomment %}
              </form>

            </div>
          </div>
        </div>
  </div>
  <!-- End of Page Wrapper -->
  {% endblock %}
  {% block bottom_scripts %}

  <script src="{% static "vendor/select2/select2.min.js" %}"></script>
  <script>
  var tablaVehiculo
    $(document).ready(function() {
      $('.select2').select2();
     var tablaVehiculo = $('#tablaVehiculo').DataTable({
      responsive: true,
      stateSave: true,


      "lengthMenu": [
        [5, 10, 25, 50, -1],
        [5, 10, 25, 50, "All"]
      ],
  
    
      searchBuilder: true,
      searchBuilder: {
        columns: [1, 2, 3, 4, 5, 6, 7, 8, 9]
      },
  
      "language": {

        "processing": '<div class="spinner-border text-primary" style="width: 3rem; height: 3rem; role="status"><span class="sr-only">Loading...</span></div>',
        "lengthMenu": "Mostrar _MENU_ registros",
        "zeroRecords": "No se encontraron resultados",
        "emptyTable": "Ningún dato disponible en esta tabla",
        "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        "infoFiltered": "(filtrado de un total de _MAX_ registros)",
        "search": "Buscar:",
        "infoThousands": ",",
        "loadingRecords": "Cargando...",
        "searchBuilder": {
          "add": "Añadir condición",
          "button": {
            "0": "Constructor de búsqueda",
            "_": "Constructor de búsqueda (%d)"
          },
          data: 'Columna',

          title: {
            0: 'Filtros',
            _: 'Filtros (%d)'
          },
          value: 'Ingrese término de búsqueda.',
          valueJoiner: 'hasta',
          "clearAll": "Borrar todo",
          "condition": "Condición",
          "conditions": {
            "date": {
              "after": "Despues",
              "before": "Antes",
              "between": "Entre",
              "empty": "Vacío",
              "equals": "Igual a",
              "not": "No",
              "notBetween": "No entre",
              "notEmpty": "No Vacio"
            },
            "number": {
              "between": "Entre",
              "empty": "Vacio",
              "equals": "Igual a",
              "gt": "Mayor a",
              "gte": "Mayor o igual a",
              "lt": "Menor que",
              "lte": "Menor o igual que",
              "not": "No",
              "notBetween": "No entre",
              "notEmpty": "No vacío"
            },
            "string": {
              "contains": "Contiene",
              "empty": "Vacío",
              "endsWith": "Termina en",
              "equals": "Igual a",
              "not": "No",
              "notEmpty": "No Vacio",
              "startsWith": "Empieza con"
            }
          },
        }
      },

      "initComplete": function (settings, json) {
        $("select[name='tablaVehiculo_length']").removeClass("form-control").addClass("form-select")
        // $(".dtsb-group > .dtsb-add").removeClass("btn-light").addClass("btn-primary")
        console.log($("button[class='dtsb-add']"));


      }

    });
      tablaVehiculo.searchBuilder.container().prependTo(tablaVehiculo.table().container());
    tablaVehiculo.on('order.dt search.dt', function () {
      tablaVehiculo.column(0, {
        search: 'applied',
        order: 'applied'
      }).nodes().each(function (cell, i) {
        cell.innerHTML = i + 1;
      });
    }).draw();
      $("#btnBuscar").click(function() {
        $('#frmlist').submit();
        let spinner = $(this.currentTarget).find('span')
        spinner.removeClass('d-none')
        setTimeout(_ => spinner.addClass('d-none'), 2000)
        $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>  Buscando ...');
        $(this).prop("disabled", true);
      });
    });
  </script>
  {% endblock %}
  