    <div class="container-fluid">
    {% load base_extras %}
    {% load static %}
{% load l10n %}
            <div class="row no-gutters align-items-center">
                <div class="col">
                    <table class="table  table-hover" id="tablaSearch" style="width: 100%;">
                        <thead>
                            <th>#</th>
                                 <th>Código</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Medida</th>

                                <th>Ubicación</th>
                            <th class="all">Acciones</th>
                        </thead>
                        <tbody>
                            {% for item in obj %}
                            <tr>
                                <td></td>
                                <td class="id">{{item.codigo}}</td>
                                 <td>{{item.marca_llanta}}</td>
                                <td>{{item.modelo_llanta}}</td>
                                <td>{{item.medida_llanta}}</td>

                                    <td>{{item.ubicacion}}</td>

                                <td>
                                    <button
                                        onclick="seleccionarRenovadora({{item.id}},'{{item.codigo}}')"
                                        class="btn btn-warning" id="btnselect"><i
                                            class="far fa-hand-pointer"></i></button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
{% block bottom_scripts %}
<script>
  var tablaLlanta
    $(document).ready(function () {
              responsive: true,

        tablaLlanta= $("#tablaSearch").DataTable({
            "lengthMenu": [
                [5, 10, 25, 50, -1],
                [5, 10, 25, 50, "All"]
            ],
               language:{
                    "url": "{% static 'language.json' %}",

          },
                "initComplete": function (settings, json) {
        $("select[name='dataTable_length']").removeClass("form-control").addClass("form-select")
        // $(".dtsb-group > .dtsb-add").removeClass("btn-light").addClass("btn-primary")


      }
        })
 

   tablaLlanta.on( 'order.dt search.dt', function () {
        tablaLlanta.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
       });

       
    function seleccionarRenovadora(id,  descripcion) {
        console.log("aea")
        $("#id_neu").val(descripcion)
                $("#id_llanta").val(id)

        searchLlanta.close()
        

    }
</script>
{% endblock bottom_scripts %}