{% extends 'Web/Catalogos/catalogos_base.html' %}
{% block blockCatalogos%}nav-item active{% endblock  %}
{% block collapseCatalogos %}collapse show{% endblock  %}
{% block estado-llantas %}collapse-item active{% endblock  %}
{% load static %}
{% block content %}  
<style>
  input[type=checkbox] {
      transform: scale(2.5);
  }
</style>  
<div id="wrapper">
        <div class="container-fluid">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
            	<div class="row">
                <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-edit"></i> 
                  {% if update %} Editar Estado de Llanta {% else %}Crear Estado de Llanta {% endif %}</h6>
            	</div>
            </div>
            <form method="post" action="" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="card-body">
              <div class="row">
              	<div class="col-lg-2">Descripción</div>
                <div class="col-lg-4">{{form.descripcion}}</div>
              </div>
              <br>
              <div class="row">
              	<div class="col-lg-2">Activo</div>
                <div class="col-lg-2">{{form.activo}}</div>
              </div>
              <br>            
			
            </div>

            <div class="card-footer text-muted">
                <button type="submit" class="btn btn-primary">Grabar</button>
                <a href="{% url 'Web:estado-llantas' %}" class="btn btn-secondary">Cancelar</a>
            </div>
          	</form>
          </div>				
        </div>
</div>

{% endblock %}
{% block bottom_scripts %}

<script>
  $('.btn_x').on('click', function() {
    //var $this = $(this);
    //archivo = $('#id_solicitud').val()
    //if (archivo!='') { $this.button('loading');}
    $this.button('loading');
  });
  </script>
{% endblock %}
