{% extends 'Web/Catalogos/catalogos_base.html' %}
{% block blockCatalogos%}nav-item active{% endblock  %}
{% block collapseCatalogos %}collapse show{% endblock  %}
{% block llantas %}collapse-item active{% endblock  %}
{% load static %}
{% block content %}
{% load base_extras %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<style>
  .section {
    transition: opacity 0.5s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }

  .section.activo {
    opacity: 1;
    height: auto;
  }
</style>
<div id="wrapper">
  <div class="container-fluid">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div class="row">
          <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-edit"></i>
            Editar Neumático</h6>
        </div>
      </div>


      <div class="card-body">
        <form method="post" action="{% url 'Web:llanta' obj.pk  %}" class="needs-validation" id="LlantaForm" novalidate>

          {% csrf_token %}
          <div class="row g-3">

            <div class="col-md-4">
              <label class="form-label">Código del Neumático</label>
              {{form.codigo}}
            </div>
            <div class="col-md-4">
              <label class="form-label">Marca del Neumático</label>
              <select name="marca_llanta" id="id_marca_llanta" class="form-select" onchange="actualizar_modelo()">
                <option value=""></option>

                {% for i in marca_llanta  %}
                {% if  i.activo and not i.eliminado or obj.modelo_llanta.marca_llanta.id == i.id %}
                <option value="{{i.id}}" {% if obj.modelo_llanta.marca_llanta.id == i.id %}selected{% endif %}>
                  {{i.descripcion}}</option>
                {% endif %}

                {% endfor %}
              </select>
            </div>
            <div class="col-md-4">

              <label class="form-label">Modelo del Neumático</label>
              <select name="modelo_llanta" class="form-select" required="" id="id_modelo_llanta">
                </select> 
                              <div class="invalid-feedback" id="invalid_modelo_llanta">Este campo es requerido.</div>
            </div>

            <div class="col-md-4">
              <label class="form-label">Medida del Neumático</label>
              <select name="medida_llanta" id="id_medida_llanta" class="form-select">
                <option value=""></option>

                {% for i in medida_llanta  %}
                {% if  i.activo and not i.eliminado or obj.medida_llanta.id == i.id %}
                <option value="{{i.id}}" {% if obj.medida_llanta.id == i.id %}selected{% endif %}>Medida
                  {{i.medida}}-{{i.profundidad}}
                  {% if i.capas %}
                  -{{i.capas}}
                  {% else %}
                  {% endif %}
                </option>
                {% endif %}
                {% endfor %}
              </select>
              <div class="invalid-feedback" id="invalid_medida_llanta">Este campo es requerido.</div>
            </div>
            <div class="col-md-4">
              <label class="form-label" for="">Estado del Neumático</label>
              {{form.estado}}
              <div class="invalid-feedback" id="invalid_estado">Este campo es requerido.</div>
            </div>
            <div class="col-md-4">
              <label class="form-label" for="">Fecha:</label>

              <div class="input-group">
                {{form.fech_ren}}
                <div class="invalid-feedback" id="invalid_fech_ren">Este campo es requerido.</div>

              </div>

            </div>
            <div class="col-md-4">
              <label class="form-label" for="">Costo del Neumático</label>
              {{form.costo}}
              <div class="invalid-feedback" id="invalid_costo">Este campo es requerido.</div>
            </div>
            <div class="col-md-4">
              <label class="form-label" for="">Altura Inicial</label>
              {{form.a_inicial}}
              <div class="invalid-feedback" id="invalid_a_ini">Este campo es requerido.</div>
            </div>
            <div class="col-md-4">
              <label class="form-label" for="">Altura Final</label>
              {{form.a_final}}
              <div class="invalid-feedback" id="invalid_a_fin">Este campo es requerido.</div>
            </div>

            <div class="col-md-6">
              <div class="form-check">

                {% if obj %}
                <input type="checkbox" name="activo" class="form-check-input" id="id_activo"
                  {% if obj.activo %}checked{% endif %}>
                {% else %}
                <input type="checkbox" checked name="activo" class="form-check-input" id="id_activo">
                {% endif %}


                <label class="form-label" class="form-check-label" for="id_activo">Activo</label>
                <div class="invalid-feedback">Este campo es requerido</div>

              </div>
            </div>
          </div>
        </form>


      </div>
      <div class="card-header py-3">
        <div class="row">
          <div class="col-md-6">
            <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-edit"></i>
              Informacion de la cubierta actual</h6>
          </div>

        </div>
      </div>
      <div class="card-body">

        <div class="row">

          <div class="col-lg-12">
            <table class="table renova_table table-bordered" id="tabla" style="width: 100%;">
              <thead>
                <th class="text-center middle" style="width: 5%;">N° Reenc.</th>
                <th class="text-center middle" style="width: 10%;">Km</th>
                <th class="text-center middle" style="width: 10%;">Alt.Ini</th>
                <th class="text-center middle" style="width: 10%;">Alt.Fin</th>

                <th style="width: 15%;">Reencauchadora</th>
                <th style="width: 15%;">Modelo de Banda</th>
                <th style="width: 20%;">Ancho de Banda</th>
                <th class="text-center middle" style="width: 10%;">Fecha</th>
                <th style="width: 5%;"></th>
              </thead>

            </table>

          </div>
        </div>

        <input type="hidden" name="" id="idrenova">
        <input type="hidden" id="idmodelo">
        <input type="hidden" id=idancho>
        <input type="hidden" id=codigo_d>

       
      </div>
 <div class="card-footer text-muted">
          <button type="button" id="btn-add-llanta" class="btn btn-primary">Guardar</button>
          <a href="{% url 'Web:llantas' %}" class="btn btn-secondary">Regresar</a>
        </div>
    </div>
  </div>

  {% endblock %}
  {% block bottom_scripts %}
  <script>

           $("input[name='codigo']").on("input", function (e) {
             
                var cant = $(this).val();
                if (cant == "" || cant =="0") {
                  $("#btn-add-llanta").prop("disabled", true)
                  $(this).addClass("is-invalid").on("input", function () {
                    $(this).removeClass("is-invalid")
                    $(this).next().text("")
                  })
                } else {
                   
                  if(cant!={{obj.codigo}}){
                  fetch("../exist/" + cant).then(s => s.json())
                    .then(response => {
                      if (response.status == 300) {
                        $(this).addClass("is-invalid")
                          .on("input", function () {
                            $(this).removeClass(
                              "is-invalid")
                          })

                        alerta(1500, "error", "El código " + cant +
                          " ya se encuentra registrado.")
                        $("#btn-add-llanta").prop("disabled", true)
                        $("#codigo_d").val("1")

                      }
                      else{
                        $(this).removeClass("is-invalid")
                        $("#btn-add-llanta").prop("disabled", false)
                        $("#codigo_d").val("0")
                      }
                    })

                }}
          
              })
    let array = document.getElementById("id_marca_llanta").options
    let options = []
    for (let i = 0; i < array.length; i++) {
      const element = array[i].value;
      options.push(element)
    }
    let array3 = document.getElementById("id_modelo_llanta").options
    let options3 = []
    for (let i = 0; i < array3.length; i++) {
      const element3 = array3[i].value;
      options3.push(element3)
    }
    {% if obj %}
    let modelo = "{{obj.modelo_llanta.id}}"
    if (options3.includes(modelo) != true) {

      let option3 = document.createElement("option")
      option3.textContent = "{{obj.modelo_llanta.descripcion}}"
      option3.selected = true
      option3.value = modelo

      $("#id_modelo_llanta").append(option3)

    } else {
      document.getElementById('id_modelo_llanta').value = modelo;

    }
    let marca = "{{obj.modelo_llanta.marca_llanta.id}}"
    if (options.includes(marca) != true) {

      let option = document.createElement("option")
      option.textContent = "{{obj.modelo_llanta.marca_llanta.descripcion}}"
      option.selected = true
      option.value = marca

      $("#id_marca_llanta").append(option)




    } else {

      document.getElementById('id_marca_llanta').value = marca;


    }
    
    {%endif%}
    actualizar_modelo()

function actualizar_modelo() {
  $('#id_modelo_llanta').prop("disabled", true)

  $('#id_modelo_llanta').empty();
  $('#id_modelo_llanta').append($("<option>", {
    value: "",
    text: " --------- "
  }));
  $.ajax({
    'url': '/catalogos/render-option-llanta/' + $('#id_marca_llanta').val(),
    'type': 'GET',
    'async': false,

    'success': function (data) {
      let modelo2 = "{{obj.modelo_llanta.id}}"
      let marca2 = "{{obj.modelo_llanta.marca_llanta.id}}"
      $('#id_modelo_llanta').prop("disabled", false)
      $.each(data, function (index, valuex) {
        if (!valuex.eliminado && valuex.activo) {
          let opcion = document.createElement("option")
          opcion.value = valuex.id
          opcion.textContent = valuex.descripcion
          document.getElementById("id_modelo_llanta").append(opcion)

        }
      });
      if ($("#id_marca_llanta").val() == marca2) {
        let array4 = document.getElementById("id_modelo_llanta").options
        let options4 = []
        for (let i = 0; i < array4.length; i++) {
          const element4 = array4[i].value;
          options4.push(element4)
        }

        if (options4.includes(modelo2) != true) {

          let option4 = document.createElement("option")
          option4.textContent = "{{obj.modelo_llanta.descripcion}}"
          option4.selected = true
          option4.value = modelo2

          $("#id_modelo_llanta").append(option4)

        } else {
          document.getElementById('id_modelo_llanta').value = modelo2;

        }
      }

      $('#id_modelo_llanta').prop("disabled", false)

    },
    'error': function (request, error) {
      //alert("Request: "+JSON.stringify(request));
    }
  });
}
$("#id_estado").on("change",function () { 
                if($(this).val()=="2"){
                  objeto.list()
                  $("tbody .form").prop("disabled",false)

                }else{
                  objeto.items=[]
                  objeto.list()

               $("tbody .form").prop("disabled",true)
                }
               })
    $("#btn-add-llanta").on("click", function (e) {
      e.preventDefault()
      if($("#codigo_d").val()!="1"){
        $("#loadingCharge").css("visibility","visible")
        $("#spinner").css("visibility","visible")

      if (objeto.items.length === 0 && $("#id_estado").val()=="2") {
        notificacion(2000, "Faltan llenar datos en la tabla!", "error")
        return false;
      } else {
        let b = 0
        $.each($(".form"), function (index, value) {
          let name = $(value).attr("name")

          if ($(value).hasClass("is-invalid")) {
            b = b + 1
            $("#btn-save").prop("disabled", true)
          }
        });

        if (b == 0) {
          let result = !Object.values(objeto.items).every(o => o === "")
          var parameters = new FormData(document.getElementById("LlantaForm"));

          parameters.append("objeto", JSON.stringify(objeto.items))
          fetch(window.location.href, {
            method: "POST",
            headers: {
              // "Content-Type": "application/json",
              "X-CSRFToken": csrftoken
            },
            body: parameters
          }).then(l => l.json()).then(res => {
            $("#loadingCharge").css("visibility","hidden")
        $("#spinner").css("visibility","hidden")

            notificacion(1000, "Neumáticos guardados!", "success")
            setTimeout(() => {
              window.location.href="{% url 'Web:llantas' %}"
            }, 1000);
          })
          $("#btn-save").prop("disabled", false)
        }
      }}else{
        alert("Revise el codigo")
      }
    });
    var tabla
    var data = {
      fech_ren: "",
      alt_inicial: "",
      alt_final:"",
      nro_ren: "",
      km: "",
      renovadora:  "",
      modelo_renova: "",
      ancho_banda: "",
      activo:0

    }
    var objeto = {
      items: [],

      list: function () {

        tabla = $("#tabla").DataTable({
          searching: false,
          paging: false,
          info: false,
          data: this.items,
          destroy: true,
          columns: [


            {
              "data": 'nro_ren',
              className: "middle"
            },


            {
              "data": "km",
              className: "middle"

            },
            {
              "data": "alt_inicial",
              className: "middle"

            },
            {
              "data": "alt_final",
              className: "middle"

            },
            {
              "data": "renovadora",
              className: "middle"

            },
            {
              "data": "modelo_renova",
              className: "middle"

            },
            {
              "data": "ancho_banda",
              className: "middle"

            },
            {
              "data": "fech_ren",
              className: "middle"

            },
            {
              "data": null,
              className: "middle"

            }
          ],
          "createdRow": function( row, data, dataIndex ) {
            console.log(objeto.items.length);

                if (data.activo==0 && dataIndex!=objeto.items.length) {
            $(row).hide();
        };
  },
          columnDefs: [{
              targets: [0],
              render: function (data, type, row) {
                let disabled
                if(objeto.items.length==0){
                  disabled="disabled"
                }
                return `<input type="number" name="nro_ren" min="1" ${disabled} class="form form-control" value="${data}">`;

              }
            },
            {
              targets: [1],

              render: function (data, type, row) {
                let disabled
                if(objeto.items.length==0){
                  disabled="disabled"
                }
                return `<input type="number" name="km" ${disabled} step="0.01" min="0.00"  class="form form-control" value="${data}">`;

              }
            },
            {
              targets: [2],
              render: function (data, type, row) {
                let disabled
                if(objeto.items.length==0){
                  disabled="disabled"
                }
                return `<input type="number" name="alt_inicial" ${disabled} step="0.01" min="0.00" class="form form-control" value="${data}">`;

              }
            },
            {
              targets: [3],
              render: function (data, type, row) {
                let disabled
                if(objeto.items.length==0){
                  disabled="disabled"
                }
                return `<input type="number" name="alt_final" ${disabled} step="0.01" min="0.00" class="form form-control" value="${data}">`;

              }
            },
            {
              targets: [4],

              render: function (data, type, row) {
                let disabled
                if(objeto.items.length==0){
                  disabled="disabled"
                }
               
                var $select = $('<select name="renovadora"  '+disabled+' class="form form-select change_marca">' +
                  ' <option value="0">Seleccione...</option>' +
                  '{% for i in renova  %}' +
                  '{% if  i.activo and not i.eliminado %}' +
                  '<option value="{{i.id}}">{{i.descripcion}}</option>' +
                  '{% endif %}' +
                  '{% endfor %}' +
                  '</select>');
                $select.find('option[value="' + row.renovadora + '"]').attr('selected', 'selected');
                return $select[0].outerHTML
              }
            },
            {
              targets: [5],
              render: function (data, type, row) {
                let disabled
                if(objeto.items.length==0){
                  disabled="disabled"
                }
                var $select = $('<select name="modelo_renova" '+disabled+' class="form form-select">' +
                  '</select>');

                $select.find('option[value="' + data + '"]').attr('selected', 'selected');
           
               
                return $select[0].outerHTML
              }
            },
            {
              targets: [6],
              render: function (data, type, row) {
                let disabled
                if(objeto.items.length==0){
                  disabled="disabled"
                }
                var $select = $('<select name="ancho_banda" '+disabled+'  class="form form-select">' +
                  '</select>');

                $select.find('option[value="' + data + '"]').attr('selected', 'selected');        
                return $select[0].outerHTML
              }
            },
            {
              targets: [7],
              render: function (data, type, row) {
            
                let disabled
                if(objeto.items.length==0){
                  disabled="disabled"
                }
                  return `<input type="date"  style="width:155px" name="fech_ren" ${disabled} class="form form-control " value="${data}" >`;

                
              }
            },
            {
              targets: [8],

              render: function (data, type, row) {
                let disabled
                if(objeto.items.length==0){
                  disabled="disabled"
                }
                if (data.nro_ren != "") {
                  return `<button class="btn btn-success btn-remove form" ${disabled}><i class="fas fa-check"></i></button>`;

                } else {
                  return `<button class="btn btn-primary btn-add form" ${disabled}><i class="fas fa-plus"></i></button>`;

                }

               
              }
            },
          ],
          // "createdRow": function (row, data, index) {
  
          // },
          initComplete: function (settings, json) {
            $(function () {
              function validaInputs() {
                let a = 0
                $.each($(".form"), function (index, value) {

                  if ($(value).hasClass("is-invalid")) {
                    a = a + 1
                    $("#btn-add-llanta").prop("disabled", true)
                  }
                });
                if (a == 0) {
                  $("#btn-add-llanta").prop("disabled", false)
                }
              }
              validaInputs()
              $("select[name='renovadora']").each(function (index, el) {
                let select = $(el).parent().next().children()
                let select2 = $(el).parent().next().next().children()

                select.append($("<option>", {
                  value: "0",
                  text: " --------- "
                }));
                if($(this).val()!="0"){
                  fetch('/catalogos/render-option?id_marca=' + $(el).val()).then(res => res
                    .json())
                  .then(data => {
                    $.each(data, function (index, valuex) {
                      if (!valuex.eliminado && valuex.activo) {
                        $(el).parent().next().children().append($("<option>", {
                          value: valuex.id,
                          text: valuex.descripcion
                        }));
                      }
                    });
                    $(el).parent().next().children().find('option[value="' + settings.aoData[
                      index]._aData.modelo_renova + '"]').attr('selected', 'selected');
                      select2.empty();
                      select2.append($("<option>", {
                            value: "0",
                            text: " Seleccione... "
                          }));
                          fetch('/catalogos/render-option-renova?id_marca_renova=' +
                              select.val())
                            .then(
                              res => res
                              .json())
                            .then(data => {
                              let a=0
                              let opciones = []
                              let modelo={
                                id:"",descripcion:"",activo:"",ancho_banda:""
                              }
                              $.each(data, function (index, valuex) {
                                modelo.activo=valuex.activo
                                modelo.id=valuex.id
                                modelo.descripcion=valuex.descripcion
                                modelo.ancho_banda=valuex.ancho_banda
                                opciones.push(modelo)
                                console.log(opciones);
                                modelo={id:"",descripcion:"",activo:""}
                                if (!valuex.eliminado && valuex.activo) {
                                  let opcion = document.createElement("option")
                                  opcion.value = valuex.id
                                  opcion.textContent = valuex.descripcion + " (" + valuex.ancho_banda + " mm )"
                                  select2.append(opcion)
                                }
                              });
                                console.log(settings.aoData[index]);
                             
                      if (settings.aoData[index]._aData.modelo_renova == select.val()) {
                         for (let i = 0; i < opciones.length; i++) {
                           console.log(opciones[i]);
                           if(opciones[i].id==settings.aoData[index]._aData.ancho_banda && opciones[i].activo==false){
                           console.log(opciones[i].ancho_banda);
                            let option4 = document.createElement("option")
                                     option4.textContent = opciones[i].descripcion+ " (" + opciones[i].ancho_banda+ " mm )"
                                      option4.selected = true
                                       option4.value = opciones[i].id
                              select2.append(option4)
                            a=1
                           }
                           
                         }
                         if(a==0){
                          $(el).parent().next().next().children().find('option[value="' + settings.aoData[
                      index]._aData.ancho_banda + '"]').attr('selected', 'selected');
                         }
                      // if (options4.includes(modelo2) != true) {

                      //                 let option4 = document.createElement("option")
                      //                 option4.textContent = "{{obj.modelo_llanta.descripcion}}"
                      //                 option4.selected = true
                      //                 option4.value = modelo2

                      //                 $("#id_modelo_llanta").append(option4)

                      //                 } else {
                      //                 document.getElementById('id_modelo_llanta').value = modelo2;

                      //                 }
                                  }
                            })
                  })
                }
              })
              console.log(objeto.items);

              $(".btn-remove").hover(function () {

$(this).children().remove()
$(this).append('<i class="fas fa-times"></i>').css("width", "42px")
$(this).removeClass("btn-success").addClass("btn-danger");
}, function () {
$(this).children().remove()
$(this).append('<i class="fas fa-check"></i>')
$(this).removeClass("btn-danger").addClass("btn-success");
}

)
                 $("td").on("click",".btn-add",function () {
                  let error = 0
                var tr = tabla.cell($(this).closest("td", "li")).index()
                let nro_ren = $("td:eq(0)", tabla.row(tr.row).node()).children()
                let km = $("td:eq(1)", tabla.row(tr.row).node()).children()
                let alt_inicial = $("td:eq(2)", tabla.row(tr.row).node()).children()
                let alt_final = $("td:eq(3)", tabla.row(tr.row).node()).children()
                let renovadora = $("td:eq(4)", tabla.row(tr.row).node()).children()
                let modelo_renova = $("td:eq(5)", tabla.row(tr.row).node()).children()
                let ancho_banda = $("td:eq(6)", tabla.row(tr.row).node()).children()
                let fech_ren = $("td:eq(7)", tabla.row(tr.row).node()).children()

            
                data.nro_ren = nro_ren.val()
                data.renovadora = renovadora.val()
                data.modelo_renova = modelo_renova.val()
                data.ancho_banda = ancho_banda.val()
                data.fech_ren = fech_ren.val()
                data.km = km.val()
                data.alt_inicial = alt_inicial.val()
                data.alt_final = alt_final.val()
                for (let i = 0; i < settings.aoData.length - 1; i++) {
                  if (settings.aoData[i]._aData.nro_ren == nro_ren.val()) {
                    error = 1
                    alerta(1500, "error", "El codigo " + nro_reencauchado.val() +
                      " ya se encuentra en la tabla.")
                      nro_ren.addClass("is-invalid").on("input", function (e) {
                        nro_ren.removeClass("is-invalid")
                    })
                  }
                }
           

                function valid(that, name, mensaje = "Revise los campos") {
                  let ele = $(that).parent().parent().find(name)
                  if (ele.val() == "0" || ele.val() == "") {
                    error = 1
                    ele.addClass("is-invalid")
                    ele.on("change input", function () {
                      ele.removeClass("is-invalid")
                    })
                    alerta(1500, "error", mensaje)
                    // $(this).prop("disabled", false)

                  }
                }

                valid(this, "[name='nro_ren']")
                valid(this, "[name='renovadora']")
                valid(this, "[name='modelo_renova']")
                valid(this, "[name='ancho_banda']")
                if (fech_ren.val() == "") {
                  alerta(1500, "error", "Revise el campo fecha.")

                  error = 1
                  fech_ren.css("border-color", "red")
                  fech_ren.on("change input", function () {
                    fech_ren.css("border-color", "black")
                  })

                }
                if (km.val() == "") {
                  error = 1
                  km.addClass("is-invalid").on("change input", function () {
                    km.removeClass("is-invalid")
                  })
                  alerta(1500, "error", "Revise los campos")
                  $(this).prop("disabled", false)
                } else {
                  if (km.val() < 0) {
                    error = 1
                    km.addClass("is-invalid").on("change input", function () {
                      km.removeClass("is-invalid")
                    })
                    alerta(1500, "error", "El km debe ser positivo.")
                    $(this).prop("disabled", false)

                  }
                }

                if (alt_inicial.val() == "0" || alt_inicial.val() == "") {
                  error = 1

                  alt_inicial.addClass("is-invalid")
                  alt_inicial.on("change input", function () {
                    alt_inicial.removeClass("is-invalid")
                  })
                  alerta(1500, "error", "Revise los campos")
                  $(this).prop("disabled", false)

                } else {
                  let validate_a_ini = validatePunto(alt_inicial.val())
                  if (!validate_a_ini) {
                    error = 1
                    alt_inicial.addClass("is-invalid").on("input", function () {
                      alt_inicial.removeClass("is-invalid")
                    })
                    alerta(1500, "error", "Los campos altura inicial deben tener 2 decimales")
                    $(this).prop("disabled", false)

                  }
                }
                if (alt_final.val() == "0" || alt_final.val() == "") {
                  error = 1
                  alt_final.addClass("is-invalid")
                  alt_final.on("change input", function () {
                    alt_final.removeClass("is-invalid")
                  })
                  alerta(1500, "error", "Revise los campos")
                  $(this).prop("disabled", false)


                } else {
                  let validate_a_fin = validatePunto(alt_final.val())
                  if (!validate_a_fin) {
                    error = 1
                    alt_final.addClass("is-invalid").on("input", function () {
                      alt_final.removeClass("is-invalid")
                    })
                    alerta(1500, "error", "Los campos altura final deben tener 2 decimales")
                    $(this).prop("disabled", false)


                  }
                }
     
                if (!checkDate(fech_ren.val())) {
                  alerta(1500, "error", "Revise el campo fecha.")

                  error = 1
                  fech_ren.css("border-color", "red")
                  fech_ren.on("change input", function () {
                    fech_ren.css("border-color", "black")
                  })
                }
                if (error == 0) {                   
                   
                     

                  
                    data.activo = 1;
                  
                        objeto.items.push(data)
                         data = {
                          fech_ren: "",
                          alt_inicial: "",
                          alt_final:"",
                          nro_ren: "",
                          km: "",
                          renovadora:  "",
                          modelo_renova: "",
                          ancho_banda: "",
                          activo:0
                      }

                        $(this).children().remove()
                        $(this).append('<i class="fas fa-check"></i>')
                        $(this).removeClass("btn-primary").addClass("btn-success")
                        $(this).removeClass("btn-add").addClass("btn-remove")

                        $(this).hover(function () {
                            $(this).children().remove()
                            $(this).append('<i class="fas fa-times"></i>').css("width",
                              "42px")
                            $(this).removeClass("btn-success").addClass("btn-danger");
                          }, function () {

                            $(this).children().remove()
                            $(this).append('<i class="fas fa-check"></i>')
                            $(this).removeClass("btn-danger").addClass("btn-success");
                          }

                        )
 
                  
                            objeto.list()

                        
                      
                   

                }
                   })
                   $(".btn-remove").on("click", function () {
                var tr = tabla.cell($(this).closest("td", "li")).index()

                let a = confirmar(function () {
                  objeto.items.splice(tr.row, 1)
                  objeto.list()

                }, "¿Desea eliminar este reencauche de la lista?", function () {

                })


              })
              $("select[name='renovadora']").on("change", function (e) {
            
                var cant = $(this).val();
                var tr = tabla.cell($(this).closest("td", "li")).index()
                select = $(this).parent().next().children()
                select2 = select.parent().next().children()
                select.empty()
                select.append($("<option>", {
                  value: "0",
                  text: " --------- "
                }));
                select2.empty()
                select2.append($("<option>", {
                  value: "0",
                  text: " --------- "
                }));

                if (select.val() == "0") {
                  select.addClass("is-invalid")
                }
                if (select2.val() == "0") {
                  select2.addClass("is-invalid")
                }
                if ($(this).val() == "0") {
                  $("#btn-add-llanta").prop("disabled", true)
                  $(this).addClass("is-invalid")
                } else {
                  $(this).removeClass("is-invalid")
                  validaInputs()
                  fetch('/catalogos/render-option?id_marca=' + $(this).val()).then(res => res
                      .json())
                    .then(data => {
                      select.prop("disabled", false)
                      $.each(data, function (index, valuex) {
                        if (!valuex.eliminado && valuex.activo) {
                          let opcion = document.createElement("option")
                          opcion.value = valuex.id
                          opcion.textContent = valuex.descripcion
                          select.append(opcion)
                        }
                      });
                      select.prop("disabled", false)
                      // if (select.val() == "0") {
                      //   $("#btn-add-llanta").prop("disabled", true)
                      //   select.addClass("is-invalid")
                      // } else {
                      //   $("#btn-add-llanta").prop("disabled", false)
                      //   select.on("change", function () {
                      //     select.removeClass("is-invalid")
                      //   })
                      // }
                    })
                  if (typeof objeto.items[tr.row] !== "undefined") {
                    objeto.items[tr.row].renovadora = cant;
                  }
                }
              })
              $("select[name='modelo_renova']").on("change", function (e) {
                e.stopPropagation();
                var cant = $(this).val();
                var tr = tabla.cell($(this).closest("td", "li")).index()
                select = $(this).parent().next().children()
                select.empty()
                select.append($("<option>", {
                  value: "0",
                  text: " --------- "
                }));
                select.prop("disabled", true)
                if ($(this).val() == "0") {
                  $("#btn-add-llanta").prop("disabled", true)
                  $(this).addClass("is-invalid")
                } else {
                  
                  $(this).removeClass("is-invalid")
                  validaInputs()
                  fetch('/catalogos/render-option-renova?id_marca_renova=' + $(this).val()).then(
                      res => res
                      .json())
                    .then(data => {
                      select.prop("disabled", false)
                      $.each(data, function (index, valuex) {
                        if (!valuex.eliminado && valuex.activo) {
                          let opcion = document.createElement("option")
                          opcion.value = valuex.id
                          opcion.textContent = valuex.descripcion+" ("+valuex.ancho_banda+" mm)"
                          select.append(opcion)
                        }
                      });
                      select.prop("disabled", false)

                    })
                  if (typeof objeto.items[tr.row] !== "undefined") {
                    objeto.items[tr.row].modelo_renova = cant;
                  }
                }
              })
              $("select[name='ancho_banda']").on("change", function (e) {
                e.stopPropagation();
                var cant = $(this).val();
                var tr = tabla.cell($(this).closest("td", "li")).index()
                if ($(this).val() == "0") {
                  $("#btn-add-llanta").prop("disabled", true)
                  $(this).addClass("is-invalid")
                } else {
                  $(this).removeClass("is-invalid")
                  validaInputs()
                  if (typeof objeto.items[tr.row] !== "undefined") {
                    objeto.items[tr.row].ancho_banda = cant;
                  }
                }
              })
              $("input[name='km']").on("input", function () {
                var cant = $(this).val();
                var tr = tabla.cell($(this).closest("td", "li")).index()

                if ($(this).val() == "") {
                  $("#btn-add-llanta").prop("disabled", true)
                  $(this).addClass("is-invalid")
                } else {
                  $(this).removeClass("is-invalid")
                  let a = 0
                  validaInputs()
                  if (typeof objeto.items[tr.row] !== "undefined") {
                    objeto.items[tr.row].km = cant;
                  }
                }
              })
              $("input[name='alt_prom']").on("input", function () {
                var cant = $(this).val();
                var tr = tabla.cell($(this).closest("td", "li")).index()
                if ($(this).val() == "") {
                  $("#btn-add-llanta").prop("disabled", true)
                  $(this).addClass("is-invalid")
                } else {
                  $(this).removeClass("is-invalid")
                  validaInputs()
                  if (typeof objeto.items[tr.row] !== "undefined") {
                    objeto.items[tr.row].alt_prom = cant;
                  }
                }
              })
              $("input[name='nro_ren']").on("input", function () {
                var cant = $(this).val();
                var tr = tabla.cell($(this).closest("td", "li")).index()
                if ($(this).val() == "") {
                  $("#btn-add-llanta").prop("disabled", true)
                  $(this).addClass("is-invalid")
                } else {
                  if(cant>6){
                    
                    $("#btn-add-llanta").prop("disabled", true)
                  $(this).addClass("is-invalid")

                  alerta(1500, "error","Revise los numeros de reencauches")
                        $("#btn-save-llanta").prop("disabled", true)
                  }else{
                      for (let i = 0; i < settings.aoData.length; i++) {
                    if (settings.aoData[i]._aData.nro_ren == cant && i != tr.row) {
                      alerta(1500, "error", "El codigo " + cant +
                        " ya se encuentra en la tabla.")
                        $(this).addClass("is-invalid")
                  $("#btn-add-llanta").prop("disabled", true)
                      break;
                    }else{

                      $(this).removeClass("is-invalid")
                    if (typeof objeto.items[tr.row] !== "undefined") {
                      objeto.items[tr.row].nro_ren = cant;
                    }
                    $("#btn-add-llanta").prop("disabled", false)
                    }
                  }
           
                  validaInputs()

                  }
                }
              })
              $("input[name='fech_ren']").on("input", function () {
                var cant = $(this).val();
                var tr = tabla.cell($(this).closest("td", "li")).index()
                if ($(this).val() == "") {
                  $("#btn-add-llanta").prop("disabled", true)
                  $(this).addClass("is-invalid")
                } else {
                  
                  validaInputs()
                                    if(checkDate($(this).val())){
                  $("#btn-add-llanta").prop("disabled", false)

                  $(this).removeClass("is-invalid")
                  if (typeof objeto.items[tr.row] !== "undefined") {
                    objeto.items[tr.row].fech_ren = cant;
                  }
                  
                  }else{
                  $("#btn-add-llanta").prop("disabled", true)
                  $(this).addClass("is-invalid")

                  alerta(1500, "error", "Revise la fecha")
                  }
                }
              })

              $(".btn-remove").on("click", function () {
                var tr = tabla.cell($(this).closest("td", "li")).index()

                let a = confirmar(function () {
                  if (typeof objeto.items[tr.row] !== "undefined") {
                    objeto.items[tr.row].activo = 0;
                  }
                  objeto.list()
                  console.log(objeto.items);
                }, "¿Desea eliminar este neumático de la lista?", function () {

                })

              })
            })
          }
        })
        tabla.row.add(data).draw()
      }

    }

    objeto.items = {{ cubierta | safe }}
    objeto.list()
  </script>
  {% endblock %}