{% extends 'Web/Catalogos/catalogos_base.html' %}
{% block blockCatalogos%}nav-item active{% endblock  %}
{% block collapseCatalogos %}collapse show{% endblock  %}
{% block lugares %}collapse-item active{% endblock  %}
{% load static %}
{% load base_extras %}
{% block content %}  
  <div id="wrapper">
        <div class="container-fluid">
          <div class="card shadow mb-4">
        <div class=" card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-list"></i> Bandeja de Ubicaciones de Vehículos</h6>
 <a class="btn btn-primary " href="{% url 'Web:lugar' %}"><i
                    class="fa fa-plus-circle "></i>&nbsp;Nuevo Registro</a>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th class="text-center middle">Ubicación del Vehículo</th>
                      <th  class="text-center middle">Activo</th>
                      <th style="width: 20%;"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for obj in objetos %}
                    <tr>
                      <td  class="text-center middle">{{obj.descripcion}}</td>
                      <td  class="text-center middle">{% if obj.activo %}<i class="fa fa-check text-success"></i>{% else %} <i class="fa fa-ban text-danger"></i> {% endif %} </td>
                      <td class="middle text-center">
                        {% if 'Web.change_lugar' in perm %}

                        <a href="{% url 'Web:lugar' obj.pk %}" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i>Editar</a>
                        {%endif%}
                                              {% comment %} {% if 'Web.delete_lugar' in perm %}

                        <a href="{% url 'Web:lugar' obj.pk %}" class="btn btn-danger btn-sm"
                        data-toggle="modal" data-target="#mdEliminar{{obj.pk}}"><i class="fa fa-ban"></i></a>{% endif %}
                        {% include 'Web/fragments/eliminar_lugar.html' %} {% endcomment %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                </div>               
              

            </div>
          </div>
        </div>
  </div>
  <!-- End of Page Wrapper -->
  {% endblock %}
  {% block bottom_scripts %}
 
  <script>
    $(document).ready(function() {
      $('#dataTable').DataTable({
            responsive: true,
                 "lengthMenu": [
        [5, 10, 25, 50, -1],
        [5, 10, 25, 50, "All"]
      ],
					   language:{
                    "url": "{% static 'language.json' %}",

          },
      });

  
    });
  </script>
  {% endblock %}
  