{% extends 'Web/Catalogos/catalogos_base.html' %}

{% load static %}
{% load base_extras %}

{% block sidebar %}
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="transition:1s">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-circle"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Catalogos<sup>1.0</sup></div>
      </a>
      <hr class="sidebar-divider my-0">
  
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">MÓDULOS</div>

         {% if request.user|has_group:"Catalogos" or request.user|has_group:"Administrador" %} 

      <li class="nav-item active">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>CATÁLOGOS</span>
        </a>
        <div id="collapseUtilities" class="collapse show" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            {% if 'Web.view_marcavehiculo' in perm %}

            <a class="{% block marca-vehiculos %}collapse-item{% endblock %}" href="{% url 'Web:marca-vehiculos' %}">Marca del Vehículo</a>
            {%endif%} 
                {% if 'Web.view_modelovehiculo' in perm %}

            <a class="{% block modelo-vehiculos %}collapse-item{% endblock %}" href="{% url 'Web:modelo-vehiculos' %}">Modelo del Vehículo</a>
            {%endif%} 
               {% if 'Web.view_tipovehiculo' in perm %}

            <a class="{% block tipo-vehiculos %}collapse-item{% endblock %}" href="{% url 'Web:tipo-vehiculos' %}">Configuración Vehicular</a>
            {%endif%}
             {% if 'Web.view_lugar' in perm %}

            <a class="{% block lugares %}collapse-item{% endblock %}" href="{% url 'Web:lugares' %}">Ubicación del Vehículo</a>
            {% endif %} 
             {% if 'Web.view_vehiculo' in perm %}

            <a class="{% block vehiculos %}collapse-item{% endblock %}" href="{% url 'Web:vehiculos' %}">Registro del Vehículo</a>
            {%endif%}
              {% if 'Web.view_marcallanta' in perm %}

            <a class="collapse-item active" href="{% url 'Web:marca-llantas' %}">Marca del Neumático</a>
            {% endif %}
            {% if 'Web.view_modelollanta' in perm %}

            <a class="{% block modelo-llantas %}collapse-item{% endblock %}" href="{% url 'Web:modelo-llantas' %}">Modelo del Neumático</a>
            {% endif %}
            {% if 'Web.view_medidallanta' in perm %}

            <a class="{% block medida-llantas %}collapse-item{% endblock %}" href="{% url 'Web:medida-llantas' %}">Medida del Neumático</a>
            {% endif %}
            {% if 'Web.view_marcarenova' in perm %}

            <a class="{% block marca-renovaciones %}collapse-item{% endblock %}" href="{% url 'Web:marca-renovaciones' %}">Reencauchadora</a>
            {% endif %}
            {% if 'Web.view_modelorenova' in perm %}

            <a class="{% block modelo-renovaciones %}collapse-item{% endblock %}" href="{% url 'Web:modelo-renovaciones' %}">Modelo de Banda</a>
            {% endif %}
            {% if 'Web.view_anchobandarenova' in perm %}

            <a class="{% block ancho-banda-renovaciones %}collapse-item{% endblock %}" href="{% url 'Web:ancho-banda-renovaciones' %}">Ancho de Banda</a>
            {% endif %}
             {% if 'Web.view_ubicacion' in perm %}

            <a class="{% block ubicaciones %}collapse-item{% endblock %}" href="{% url 'Web:Ubicaciones' %}">Ubicación del Neumático</a>
            {%endif%} 
           

            {% if 'Web.view_llanta' in perm %}

            <a class="{% block llantas %}collapse-item{% endblock %}" href="{% url 'Web:llantas' %}">Registro del Neumático</a>
            {% endif %}
        

          </div>
        </div>
      </li>
  {% endif %}
      
   

      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
{% endblock sidebar %}
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="transition:1s">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-circle"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Inspección<sup>1.0</sup></div>
      </a>
      <hr class="sidebar-divider my-0">
  
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">MÓDULOS</div>

         {% if request.user|has_group:"Catalogos" or request.user|has_group:"Administrador" %} 

      <li class="{% block blockCatalogos %}nav-item{% endblock %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>CATÁLOGOS</span>
        </a>
        <div id="collapseUtilities" class="{% block collapseCatalogos %}collapse{% endblock %}" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            {% if 'Web.view_marcavehiculo' in perm %}

            <a class="collapse-item" href="{% url 'Web:marca-vehiculos' %}">Marca del Vehículo</a>
            {%endif%} 
                {% if 'Web.view_modelovehiculo' in perm %}

            <a class="collapse-item" href="{% url 'Web:modelo-vehiculos' %}">Modelo del Vehículo</a>
            {%endif%} 
               {% if 'Web.view_tipovehiculo' in perm %}

            <a class="collapse-item" href="{% url 'Web:tipo-vehiculos' %}">Configuración Vehicular</a>
            {%endif%}
             {% if 'Web.view_lugar' in perm %}

            <a class="collapse-item" href="{% url 'Web:lugares' %}">Ubicación del Vehículo</a>
            {% endif %} 
             {% if 'Web.view_vehiculo' in perm %}

            <a class="collapse-item" href="{% url 'Web:vehiculos' %}">Registro del Vehículo</a>
            {%endif%}
              {% if 'Web.view_marcallanta' in perm %}

            <a class="collapse-item" href="{% url 'Web:marca-llantas' %}">Marca del Neumático</a>
            {% endif %}
            {% if 'Web.view_modelollanta' in perm %}

            <a class="collapse-item" href="{% url 'Web:modelo-llantas' %}">Modelo del Neumático</a>
            {% endif %}
            {% if 'Web.view_medidallanta' in perm %}

            <a class="collapse-item" href="{% url 'Web:medida-llantas' %}">Medida del Neumático</a>
            {% endif %}
            {% if 'Web.view_marcarenova' in perm %}

            <a class="collapse-item" href="{% url 'Web:marca-renovaciones' %}">Reencauchadora</a>
            {% endif %}
            {% if 'Web.view_modelorenova' in perm %}

            <a class="collapse-item" href="{% url 'Web:modelo-renovaciones' %}">Modelo de Banda</a>
            {% endif %}
            {% if 'Web.view_anchobandarenova' in perm %}

            <a class="collapse-item" href="{% url 'Web:ancho-banda-renovaciones' %}">Ancho de Banda</a>
            {% endif %}
             {% if 'Web.view_ubicacion' in perm %}

            <a class="collapse-item" href="{% url 'Web:Ubicaciones' %}">Ubicación del Neumático</a>
            {%endif%} 
           

            {% if 'Web.view_llanta' in perm %}

            <a class="collapse-item" href="{% url 'Web:llantas' %}">Registro del Neumático</a>
            {% endif %}
      

          </div>
        </div>
      </li>
  {% endif %}
      
   
           {% if 'Web.view_historialllantas' in perm and 'Web.view_inpeccionllantas' in perm %}

      <li class="{% block blockProcesos %}nav-item{% endblock %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>PROCESOS</span>
        </a>
        <div id="collapseOne" class="{% block blockReportes %}collapse{% endblock %}" aria-labelledby="headingOne" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="{% block movimientos %}collapse-item{% endblock %}" href="{% url 'Web:hoja-movimientos' %}">Hoja de movimientos</a>
            <a class="{% block inspeccion %}collapse-item{% endblock %}"  href="{% url 'Web:inspeccion-llantas' %}">Inspección de llantas</a>
            <a class="collapse-item" href="#">Reparaciones en carretera</a>
            <a class="collapse-item" href="#">Recepción de Reencauchado</a>
            <a class="collapse-item" href="#">Transeferencia entre pilas</a>
            <a class="collapse-item" href="#">Ajustar llantas</a>

          </div>
        </div>
      </li>
   
      {% endif %}
 
      <!-- Divider -->
      <!-- <hr class="sidebar-divider"> -->

      <!-- Heading -->
      <!-- <div class="sidebar-heading">
        Addons
      </div> -->

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="{% block blockHistorial %}nav-item{% endblock %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>REPORTES</span>
        </a>
        <div id="collapsePages" class="{% block collapseHistorial %}collapse{% endblock %}" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <!-- <h6 class="collapse-header">Login Screens:</h6> -->
            <a class="{% block historial %}collapse-item{% endblock %} " href="{% url 'Web:ver-historial' %}">Historial</a>
            <a class="collapse-item" href="#">Indicadores</a>
           
          </div>
        </div>
      </li>
      {% if 'Web.view_usuario' in perm %}
      
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="{% block blockAdmin %}nav-item{% endblock %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>ADMINISTRACIÓN</span>
        </a>
        <div id="collapseTwo" class="{% block collapseAdmin %}collapse{% endblock %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="{% block personas %}collapse-item{% endblock %}" href="{% url 'Web:Personas' %}">Personas</a>

            <a class="{% block usuarios %}collapse-item{% endblock %}" href="{% url 'Web:Usuarios' %}">Usuarios</a>
            <a class="{% block perfiles %}collapse-item{% endblock %}" href="{% url 'Web:Perfiles' %}">Perfiles</a>
          </div>
        </div>
      </li>
   
      {% endif %}
      
      <!-- Divider -->
    {%comment%}  <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Principal</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      {% autoescape off %}
      {% MenuUsuario request %}
      {% endautoescape %}
{%endcomment%}

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
{% block content %}  
  <div id="wrapper">
        <div class="container-fluid">
          <div class="card shadow mb-4">
      <div class=" card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-list"></i> Bandeja de Marcas de Neumáticos</h6>

                     {% if 'Web.add_marcallanta' in perm %}
                      <button id="btn-add-marca" class="btn btn-primary"><i class="fa fa-plus-circle "></i>&nbsp;Crear Nuevo</button>
        {% endif %}
            </div>
            <div class="card-body">

              
                <div class="table-responsive">               
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th  class="text-center middle">N° de marca</th>
                      <th class="text-center middle">Marca del Neumático</th>
                        <th  class="text-center middle">Estado</th>
                      <th style="width: 20%;">Acciones</th>
                    </tr>
                  </thead>
                  
         
                    
                 
                </table>
                </div>

            </div>
          </div>
        </div>
  </div>
  <!-- End of Page Wrapper -->
  {% endblock %}
  {% block bottom_scripts %}
 
  <script>
    var tablaMarcas
    $(document).ready(function() {
      tablaMarcas = $("#dataTable").DataTable({
     responsive:true,
      ajax: {
        url: "{% url 'Web:marca-llantas' %}",
        type: "POST",
        data: {
          "action": "searchData"
        },
        dataSrc: ""
      },
      "lengthMenu": [
        [5, 10, 25, 50, -1],
        [5, 10, 25, 50, "All"]
      ],
      language:{
                    "url": "{% static 'language.json' %}",
          },
  
      columns: [
    
        {
          "data": 'id',className: "middle text-center"
        },
        
        {
          "data": 'descripcion',className: "middle text-center"
        },
        
          {
          "data": 'activo',
          className: "estado middle  text-center",
          render: function (data, type, row) {
            if (data) {
              return '<i class="fa fa-check-circle text-success" aria-hidden="true"></i>';
            } else {
              return '<i class="fas fa-times-circle text-danger"></i>';
            }
          }
        },
        {
          "data": 'estado',className:"text-center middle"
        },


      ],
       "order": [[ 1, 'asc' ]],		
      columnDefs: [ {

          "targets": [0],
          "visible": false
        },{
               
          targets: [-1],
   render: function (row, data, index) {
            var buttons ='{% if 'Web.change_marcallanta' in perm %}<a href="../marca-llanta/'+index.id+'/" class="btn btn-warning btn-sm btn-edit-marca"><i class="fa fa-edit"></i>Editar</a>'+
              '</a> {% endif %}';

            return buttons;

          },
          {% comment %} render: function (row, data, index) {
            var buttons ='{% if 'Web.change_marcallanta' in perm %}<a href="../marca-llanta/'+index.id+'/" class="btn btn-warning btn-sm btn-edit-marca"><i class="fa fa-edit"></i>Editar</a>'+
              '</a> {% endif %}{% if 'Web.delete_marcallanta' in perm %}<button type="button" onclick="eliminateMarca('+index.id+')" data-id="marca-llanta/'+index.id+'/delete/" class="btn btn-danger btn-sm btn-desactivate-marca"><i class="fa fa-ban"></i></button>{% endif %}';

            return buttons;

          }, {% endcomment %}

        },


      ],
      "createdRow": function (row, data, index) {
        // if (!data["estado"]) {
        //   $('.btn-success', row).eq(0).removeClass().addClass("btn btn-danger btn-circle")
        //   $(".fa-thumbs-up", row).eq(0).removeClass().addClass("fas fa-thumbs-down")

        // }
      },
  "initComplete": function( settings, json ) {
    $('select[name="dataTable_length"]').removeClass("form-control").removeClass("form-control-sm")

  }
    });
 

        document.getElementById('btn-add-marca').addEventListener("click", function (e) {  
    e.preventDefault()
    let url = "{% url 'Web:marca-llanta' %}";
    var jc = $.confirm({
      title: "Nueva Marca de Llanta",
      content: "URL:{% url 'Web:marca-llanta' %}",
      columnClass: 'col-xl-4 col-lg-6 col-md-8 col-sm-12',
      icon: "fa fa-plus-circle",
      type: "dark",
      theme:"material",
      animateFromElement: true,
      buttons: {
        submit: {
          text: 'Registrar Marca',
          btnClass: 'btn-dark',
          action: function () {       
            form = this.$content
            console.log(form)
            let data= new FormData(form[0].ownerDocument.forms[1])
            console.log(data)
            fetch(url, {
              method: "POST",
              headers: {
                'X-CSRFToken': csrftoken
              },
              body: data
              
            }).then(data => data.json()).then(response => {
              console.log(response)
              if(response.status==500){
                if(response.form.descripcion){
                  document.getElementById("id_descripcion").classList.add("is-invalid")
                  document.getElementById("invalid_descripcion").innerHTML=response.form.descripcion[0]
                }
              
              }else{
                  jc.showLoading(true)
                    jc.close()
                    notificacion(2000,"Éxito","success","Marca guardada")

                    tablaMarcas.ajax.reload()            
              }
            })
              return false;
          }
        },
        cancel: function () {

        },
      },
      onContentReady: function () {
        // when content is fetched & rendered in DOM
          this.$content.find('form').on('submit', function (e) {
            e.preventDefault();
        });;
    },
    });
  });

    $(document).on("click",'.btn-edit-marca', function (e) {
      
    e.preventDefault()
    var tr = tablaMarcas.cell($(this).closest("td")).index();
    var data = tablaMarcas.row(tr.row).data();
    de = $.confirm({
      title: "Editar Marca Llanta",
      content: "URL:../marca-llanta/" + data.id,
      columnClass: 'col-xl-4 col-lg-6 col-md-8 col-sm-12',
      icon: "fa fa-edit",
      type: "orange",
      theme:"material",
      scrollToPreviousElement: true,
      scrollToPreviousElementAnimate: true,

      buttons: {
        Confirm: {
          text: 'Guardar cambios',
          btnClass: 'btn-orange',

          action: function url(e) {

            this.$content[0].ownerDocument.getElementById("btnEditUser").click()
            return false;
          }
        },

        cancel: function () {

        },
      },
    onContentReady: function () {
        // when content is fetched & rendered in DOM
          this.$content.find('form').on('submit', function (e) {
            e.preventDefault();
        });;
    },


    });
  

    });
    });
    

  </script>
  {% endblock %}
  