{% extends 'Web/Catalogos/catalogos_base.html' %}
{% block marca-llantas %}collapse-item active{% endblock  %}

{% load static %}
{% load base_extras %}
{% block content %}  
  <div id="wrapper">
        <div class="container-fluid">
          <div class="card shadow mb-4">
      <div class=" card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-list"></i> Bandeja de Marcas de Neumáticos</h6>

                     {% if 'Web.add_marcallanta' in perm %}
                      <button id="btn-add-marca" class="btn btn-primary"><i class="fa fa-plus-circle "></i>&nbsp;Crear Nuevo</button>
        {% endif %}
            </div>
            <div class="card-body">

              
                <div class="table-responsive">               
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th  class="text-center middle">N° de marca</th>
                      <th class="text-center middle">Marca del Neumático</th>
                        <th  class="text-center middle">Estado</th>
                      <th style="width: 20%;">Acciones</th>
                    </tr>
                  </thead>
                  
         
                    
                 
                </table>
                </div>

            </div>
          </div>
        </div>
  </div>
  <!-- End of Page Wrapper -->
  {% endblock %}
  {% block bottom_scripts %}
 
  <script>
    var tablaMarcas
    $(document).ready(function() {
      tablaMarcas = $("#dataTable").DataTable({
     responsive:true,
      ajax: {
        url: "{% url 'Web:marca-llantas' %}",
        type: "POST",
        data: {
          "action": "searchData"
        },
        dataSrc: ""
      },
      "lengthMenu": [
        [5, 10, 25, 50, -1],
        [5, 10, 25, 50, "All"]
      ],
      language:{
                    "url": "{% static 'language.json' %}",
          },
  
      columns: [
    
        {
          "data": 'id',className: "middle text-center"
        },
        
        {
          "data": 'descripcion',className: "middle text-center"
        },
        
          {
          "data": 'activo',
          className: "estado middle  text-center",
          render: function (data, type, row) {
            if (data) {
              return '<i class="fa fa-check-circle text-success" aria-hidden="true"></i>';
            } else {
              return '<i class="fas fa-times-circle text-danger"></i>';
            }
          }
        },
        {
          "data": 'estado',className:"text-center middle"
        },


      ],
       "order": [[ 1, 'asc' ]],		
      columnDefs: [ {

          "targets": [0],
          "visible": false
        },{
               
          targets: [-1],
   render: function (row, data, index) {
            var buttons ='{% if 'Web.change_marcallanta' in perm %}<a href="../marca-llanta/'+index.id+'/" class="btn btn-warning btn-sm btn-edit-marca"><i class="fa fa-edit"></i>Editar</a>'+
              '</a> {% endif %}';

            return buttons;

          },
          {% comment %} render: function (row, data, index) {
            var buttons ='{% if 'Web.change_marcallanta' in perm %}<a href="../marca-llanta/'+index.id+'/" class="btn btn-warning btn-sm btn-edit-marca"><i class="fa fa-edit"></i>Editar</a>'+
              '</a> {% endif %}{% if 'Web.delete_marcallanta' in perm %}<button type="button" onclick="eliminateMarca('+index.id+')" data-id="marca-llanta/'+index.id+'/delete/" class="btn btn-danger btn-sm btn-desactivate-marca"><i class="fa fa-ban"></i></button>{% endif %}';

            return buttons;

          }, {% endcomment %}

        },


      ],
      "createdRow": function (row, data, index) {
        // if (!data["estado"]) {
        //   $('.btn-success', row).eq(0).removeClass().addClass("btn btn-danger btn-circle")
        //   $(".fa-thumbs-up", row).eq(0).removeClass().addClass("fas fa-thumbs-down")

        // }
      },
  "initComplete": function( settings, json ) {
    $('select[name="dataTable_length"]').removeClass("form-control").removeClass("form-control-sm")

  }
    });
 

        document.getElementById('btn-add-marca').addEventListener("click", function (e) {  
    e.preventDefault()
    let url = "{% url 'Web:marca-llanta' %}";
    var jc = $.confirm({
      title: "Nueva Marca",
      content: "URL:{% url 'Web:marca-llanta' %}",
      columnClass: 'col-xl-4 col-lg-6 col-md-8 col-sm-12',
      icon: "fa fa-plus-circle",
      type: "dark",
      theme:"material",
      animateFromElement: true,
      buttons: {
        submit: {
          text: 'Registrar Marca',
          btnClass: 'btn-dark',
          action: function () {       
            form = this.$content
            console.log(form)
            let data= new FormData(form[0].ownerDocument.forms[1])
            console.log(data)
            fetch(url, {
              method: "POST",
              headers: {
                'X-CSRFToken': csrftoken
              },
              body: data
              
            }).then(data => data.json()).then(response => {
              console.log(response)
              if(response.status==500){
                if(response.form.descripcion){
                  document.getElementById("id_descripcion").classList.add("is-invalid")
                  document.getElementById("invalid_descripcion").innerHTML=response.form.descripcion[0]
                }
              
              }else{
                  jc.showLoading(true)
                    jc.close()
                    notificacion(2000,"Éxito","success","Marca guardada")

                    tablaMarcas.ajax.reload()            
              }
            })
              return false;
          }
        },
        cancel: function () {

        },
      },
      onContentReady: function () {
        // when content is fetched & rendered in DOM
          this.$content.find('form').on('submit', function (e) {
            e.preventDefault();
        });;
    },
    });
  });

    $(document).on("click",'.btn-edit-marca', function (e) {
      
    e.preventDefault()
    var tr = tablaMarcas.cell($(this).closest("td")).index();
    var data = tablaMarcas.row(tr.row).data();
    de = $.confirm({
      title: "Editar Marca del Neumático",
      content: "URL:../marca-llanta/" + data.id,
      columnClass: 'col-xl-4 col-lg-6 col-md-8 col-sm-12',
      icon: "fa fa-edit",
      type: "orange",
      theme:"material",
      scrollToPreviousElement: true,
      scrollToPreviousElementAnimate: true,

      buttons: {
        Confirm: {
          text: 'Guardar cambios',
          btnClass: 'btn-orange',

          action: function url(e) {

            this.$content[0].ownerDocument.getElementById("btnEditUser").click()
            return false;
          }
        },

        cancel: function () {

        },
      },
    onContentReady: function () {
        // when content is fetched & rendered in DOM
          this.$content.find('form').on('submit', function (e) {
            e.preventDefault();
        });;
    },


    });
  

    });
    });
    

  </script>
  {% endblock %}
  