{% extends 'Web/Catalogos/catalogos_base.html' %}
{% block blockCatalogos%}nav-item active{% endblock  %}
{% block collapseCatalogos %}collapse show{% endblock  %}
{% block modelo-renovaciones %}collapse-item active{% endblock  %}
{% load static %}
{% block content %}
<style>

</style>
<div id="wrapper">
  <div class="container-fluid">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div class="row">
          <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-edit"></i>
            {% if update %} Editar Modelo de Banda {% else %}Crear Modelo de Banda {% endif %}</h6>
        </div>
      </div>
      <form method="post" action="" class="g-3 needs-validation" novalidate>
        {% csrf_token %}
        <div class="card-body">
           <div class="form-row">
                <div class="form-group col-lg-6">
                	<label>Reencauchadora</label>
               <select name="marca_renova" id="marca_renova" class="form-select">
                <option value=""></option>
                
                  {% for i in marca_renova  %}
                  {% if  i.activo and not i.eliminado or obj.marca_renova.id == i.id %}
                   <option value="{{i.id}}" {% if obj.marca_renova.id == i.id %}selected{% endif %}>{{i.descripcion}}</option>
                  {% endif %}
                   
                  {% endfor %}
                  </select>
                </div>
              </div>
          <div class="form-row">
            <div class="form-group col-lg-6">
              <label class="form-label">Modelo de Banda</label>
              {{form.descripcion}}
              <div class="invalid-feedback" id="invalid_descripcion">Este campo es requerido</div>
            </div>
          </div>
       
          <div class="form-row">
            <div class="form-group col-lg-6">
              <label class="form-label">Profundidad</label>
              {{form.profundidad}}
              <div class="invalid-feedback" id="invalid_profundidad">Este campo es requerido</div>
            </div>
          </div>
          <div class="form-check mb-3">
            {{form.activo}}
            <label class="form-check-label" for="id_activo">Activo</label>
            <div class="invalid-feedback">Este campo es requerido</div>
          </div>
        

        </div>
        <div class="card-footer text-muted">
          <button type="submit" class="btn btn-primary">Grabar</button>
          <a href="{% url 'Web:modelo-renovaciones' %}" class="btn btn-secondary">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
{% block bottom_scripts %}

<script>
  $('.btn_x').on('click', function () {
    //var $this = $(this);
    //archivo = $('#id_solicitud').val()
    //if (archivo!='') { $this.button('loading');}
    $this.button('loading');
  });
  document.getElementById("id_profundidad").addEventListener('input', function (event) {

    let profundidad = document.getElementById("id_profundidad").value
    let validate = validatePunto(profundidad)

    if (profundidad.trim() == "") {
      console.log("if");
      document.getElementById("id_profundidad").classList.remove("is-invalid")
      document.getElementById("invalid_profundidad").innerHTML = "Este campo es requerido."
    } else
    if (profundidad.trim().startsWith(".")) {
      console.log("if stars");
      document.getElementById("id_profundidad").classList.remove("is-invalid")
      document.getElementById("invalid_profundidad").innerHTML = ""
    } else {
      if (validate) {
        console.log("validate if fuera del form");
        document.getElementById("id_profundidad").setCustomValidity("")
        document.getElementById("id_profundidad").classList.remove("is-invalid")
      } else {
        console.log("validate else fuera del form");
        document.getElementById("id_profundidad").classList.add("is-invalid")
        document.getElementById("invalid_profundidad").innerHTML = "Este campo debe tener 2 decimales y un punto."
        document.getElementById("id_profundidad").setCustomValidity("Este campo debe tener 2 decimales y un punto.")


      }
    }


  });

  (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {

          let profundidad = document.getElementById("id_profundidad").value

          if (!validatePunto(profundidad)) {
            document.getElementById("id_profundidad").classList.add("is-invalid")
            document.getElementById("id_profundidad").setCustomValidity("Ingrese un valor válido.")

          }
          if (startPunto(profundidad)) {
            document.getElementById("id_profundidad").classList.add("is-invalid")
            document.getElementById("id_profundidad").setCustomValidity("Revise un valor válido.")
            document.getElementById("invalid_profundidad").innerHTML = "Ingrese un valor válido."

          }
         
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
          form.classList.add('was-validated')



        }, false)
      })
  })()

 {% if obj %}

  let marca_renova="{{obj.marca_renova.id}}"
  if (options3.includes(marca_renova)!=true) {

  let option3=document.createElement("option")
  option3.textContent="{{obj.marca_renova.descripcion}}"
  option3.selected=true
    option3.value=marca_renova

  $("#marca_renova").append(option3)

  }else{
    document.getElementById('marca_renova').value=marca_renova;

  }

  {%endif%}
document.getElementById("marca_renova").value="{{form.cleaned_data.marca_renova.id}}"
</script>
{% endblock %}