{% extends 'Web/Catalogos/catalogos_base.html' %}
{% block blockCatalogos%}nav-item active{% endblock  %}
{% block collapseCatalogos %}collapse show{% endblock  %}
{% block modelo-vehiculos %}collapse-item active{% endblock  %}
{% load static %}
{% block content %}  
  
<div id="wrapper">
        <div class="container-fluid">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
            	<div class="row">
                <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-edit"></i> 
                  {% if update %} Editar Modelo de Vehículo {% else %}Crear Modelo de Vehículo {% endif %}</h6>
            	</div>
            </div>
            <h1></h1>
            <form method="post" action="" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="card-body">
             <div class="form-row">
             <div class="form-group col-lg-4">
             	<label>Marca del Vehículo</label>
                <select name="marca_vehiculo" id="marca_vehiculo" class="form-select">
                <option value=""></option>
                
                  {% for i in marca_vehiculo  %}
                  {% if  i.activo or obj.marca_vehiculo.id == i.id %}
                   <option value="{{i.id}}" {% if obj.marca_vehiculo.id == i.id %}selected{% endif %}>{{i.descripcion}}</option>
                  {% endif %}
                   
                  {% endfor %}
                  </select>
             </div>
              
              </div>

              <div class="form-row">
              <div class="form-group col-lg-4">
              	<label>Modelo del Vehículo</label>
                {{form.descripcion}}
              </div>
              
              </div>
              	<div class="form-check">
                {{form.activo}}
  <label class="form-check-label" for="id_activo">
    Activo
  </label>
</div>
			
            </div>
            <div class="card-footer text-muted">
                <button type="submit" class="btn btn-primary">Grabar</button>
                <a href="{% url 'Web:modelo-vehiculos' %}" class="btn btn-secondary">Cancelar</a>
            </div>
          	</form>
          </div>				
        </div>
</div>

{% endblock %}
{% block bottom_scripts %}

<script>
$(document).ready(function () {
  // $("#id_marca_vehiculo option[value={{obj.marca_vehiculo.id}}]").attr("selected","selected")

  $('.btn_x').on('click', function() {
    //var $this = $(this);
    //archivo = $('#id_solicitud').val()
    //if (archivo!='') { $this.button('loading');}
    $this.button('loading');})
  });
  
  
  {% if obj %}
  let option=document.createElement("option")
  option.textContent="{{obj.marca_vehiculo.descripcion}}"
  option.selected=true
    option.value="{{obj.marca_vehiculo.id}}"

  $("#id_marca_vehiculo").append(option)
  {% else %}
  document.getElementById("marca_vehiculo").value="{{form.cleaned_data.marca_vehiculo.id}}"

  {%endif%}
  </script>
{% endblock %}
