{% extends 'Web/Catalogos/catalogos_base.html' %}
{% block blockCatalogos%}nav-item active{% endblock  %}
{% block collapseCatalogos %}collapse show{% endblock  %}
{% block tipo-vehiculos %}collapse-item active{% endblock  %}
{% load static %}
{% block content %}
<style>

</style>
<div id="wrapper">
  <div class="container-fluid">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div class="row">
          <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-edit"></i>
            {% if update %} Editar Configuración Vehicular {% else %}Crear Configuración Vehicular {% endif %}</h6>
        </div>
      </div>
      <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-lg-4">
             <label for="id_descripcion">Configuración Vehicular:</label>
          {{form.descripcion}}
            </div>
            <div class="form-group col-lg-4">
                         <label for="id_descripcion">N° de Llantas</label>

          {{form.nro_llantas}}
            </div>
             <div class="form-group col-lg-4">
                         <label for="id_descripcion">N° Repuesto</label>

          {{form.max_rep}}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-lg-6">
              <label for="id_image">Imagen Y:</label>
          <input type="file" name="image" accept="image/*"  onchange="showMyImage(this)" >
          <img id="thumbnil"  class="img-fluid" style=" margin-top:10px;"  src="{% if obj  %}{% get_media_prefix %}/{{obj.image}} {%else%} https://via.placeholder.com/100 {%endif%}" alt="image"/>
            </div>
                <div class="form-group col-lg-6">
                  <label for="id_image2">Imagen X:</label>
          <input type="file" name="image2" accept="image/*"  id="id_image2" onchange="showMyImage2(this)">
          <img id="thumbnil2" class="img-fluid" style="margin-top:10px;" src="{% if obj  %}{% get_media_prefix %}/{{obj.image2}} {%else%} https://via.placeholder.com/100 {%endif%}"  alt="image"/>
                </div>
          </div>
        



        
                 	<div class="form-check">
                {{form.activo}}
  <label class="form-check-label" for="id_activo">
    Activo
  </label>
</div>
         

     


        </div>
        <div class="card-footer text-muted">
          <button type="submit" class="btn btn-primary">Grabar</button>
          <a href="{% url 'Web:tipo-vehiculos' %}" class="btn btn-secondary">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
{% block bottom_scripts %}

<script>
function showMyImage(fileInput) {
        var files = fileInput.files;
        for (var i = 0; i < files.length; i++) {           
            var file = files[i];
            var imageType = /image.*/;     
            if (!file.type.match(imageType)) {
                continue;
            }           
            var img=document.getElementById("thumbnil");            
            img.file = file;    
            var reader = new FileReader();
            reader.onload = (function(aImg) { 
                return function(e) { 
                    aImg.src = e.target.result; 
                    aImg.style.width="100%"
                }; 
            })(img);
            reader.readAsDataURL(file);
        }    
    }
    function showMyImage2(fileInput) {
        var files = fileInput.files;
        for (var i = 0; i < files.length; i++) {           
            var file = files[i];
            var imageType = /image.*/;     
            if (!file.type.match(imageType)) {
                continue;
            }           
            var img=document.getElementById("thumbnil2");            
            img.file = file;    
            var reader = new FileReader();
            reader.onload = (function(aImg) { 
                return function(e) { 
                    aImg.src = e.target.result; 
                                        aImg.style.width="100%"

                }; 
            })(img);
            reader.readAsDataURL(file);
        }    
    }
</script>
{% endblock %}