{% extends 'Web/Catalogos/catalogos_base.html' %}
{% block blockCatalogos%}nav-item active{% endblock  %}
{% block collapseCatalogos %}collapse show{% endblock  %}
{% block tipo-vehiculos %}collapse-item active{% endblock  %}
{% load static %}
{% block content %}
<style>

</style>
<div id="wrapper">
  <div class="container-fluid">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div class="row">
          <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-edit"></i>
            {% if update %} Editar Configuración Vehicular {% else %}Crear Configuración Vehicular {% endif %}</h6>
        </div>
      </div>
      <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">
          <label for="id_descripcion">Descripcion:</label>
          {{form.descripcion}}
          
          <label for="id_image">Image:</label>
          <input type="file" name="image" accept="image/*"  onchange="showMyImage(this)" >
          <img id="thumbnil" style="width:20%; margin-top:10px;"  src="{% if obj  %}{% get_media_prefix %}/{{obj.image}} {%else%} https://via.placeholder.com/150 {%endif%}" alt="image"/>



          <label for="id_image2">Image2:</label>
          <input type="file" name="image2" accept="image/*"  id="id_image2" onchange="showMyImage2(this)">
          <img id="thumbnil2" style="width:20%; margin-top:10px;" src="{% if obj  %}{% get_media_prefix %}/{{obj.image2}} {%else%} https://via.placeholder.com/150 {%endif%}"  alt="image"/>


          {{form.nro_llantas}}
          <label for="id_activo">Activo:</label>
          <input type="checkbox" name="activo" class="form-check-input"
            id="id_activo" checked="">
         

     


        </div>
        <div class="card-footer text-muted">
          <button type="submit" class="btn btn-primary">Grabar</button>
          <a href="{% url 'Web:tipo-vehiculos' %}" class="btn btn-secondary">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
{% block bottom_scripts %}

<script>
function showMyImage(fileInput) {
        var files = fileInput.files;
        for (var i = 0; i < files.length; i++) {           
            var file = files[i];
            var imageType = /image.*/;     
            if (!file.type.match(imageType)) {
                continue;
            }           
            var img=document.getElementById("thumbnil");            
            img.file = file;    
            var reader = new FileReader();
            reader.onload = (function(aImg) { 
                return function(e) { 
                    aImg.src = e.target.result; 
                }; 
            })(img);
            reader.readAsDataURL(file);
        }    
    }
    function showMyImage2(fileInput) {
        var files = fileInput.files;
        for (var i = 0; i < files.length; i++) {           
            var file = files[i];
            var imageType = /image.*/;     
            if (!file.type.match(imageType)) {
                continue;
            }           
            var img=document.getElementById("thumbnil2");            
            img.file = file;    
            var reader = new FileReader();
            reader.onload = (function(aImg) { 
                return function(e) { 
                    aImg.src = e.target.result; 
                }; 
            })(img);
            reader.readAsDataURL(file);
        }    
    }
</script>
{% endblock %}