{% extends 'Web/Catalogos/catalogos_base.html' %}
{% block blockCatalogos%}nav-item active{% endblock  %}
{% block collapseCatalogos %}collapse show{% endblock  %}
{% block ubicaciones %}collapse-item active{% endblock  %}
{% load static %}
{% block content %}  

<div id="wrapper">
        <div class="container-fluid">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
            	<div class="row">
                <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-edit"></i> 
                  {% if update %} Editar Ubicación {% else %}Crear nueva Ubicación {% endif %}</h6>
            	</div>
            </div>
            <form method="post" action="" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="card-body">
              <div class="form-row">
              	<div class="form-group col-lg-6">
                <label for="">Ubicación del Neumático</label>
                {{form.descripcion}}
                </div>
              </div>
           <div class="form-check">
              {{form.activo}}
  <label class="form-check-label" for="flexCheckChecked">
    Activo
  </label>
</div>
			
            </div>
            <div class="card-footer text-muted">
                <button type="submit" class="btn btn-primary">Grabar</button>
                <a href="{% url 'Web:Ubicaciones' %}" class="btn btn-secondary">Cancelar</a>
            </div>
          	</form>
          </div>				
        </div>
</div>

{% endblock %}
{% block bottom_scripts %}

<script>
  $('.btn_x').on('click', function() {
    var $this = $(this);
    archivo = $('#id_solicitud').val()
    if (archivo!='') { $this.button('loading');}
  });
  </script>
{% endblock %}
