{% extends 'Web/Catalogos/catalogos_base.html' %}
{% block blockCatalogos%}nav-item active{% endblock  %}
{% block collapseCatalogos %}collapse show{% endblock  %}
{% block vehiculos %}collapse-item active{% endblock  %}
{% load static %}
{% load base_extras %}
{% load l10n %}
{% block content %}  

 
<div id="wrapper">
        <div class="container-fluid">
          <div class="card shadow mb-4">
      <div class=" card-header py-3 d-flex flex-row align-items-center justify-content-between">
             <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-list"></i> Bandeja de Registro de Vehículos</h6>
                 {% if 'Web.add_vehiculo' in perm %}
                <a href="{% url 'Web:vehiculo' %}" class="btn btn-primary"><i class="fa fa-plus-circle"></i> </i> Regitrar Nuevo Vehículo</a>{% endif %}

            </div>
            <div class="card-body">
           
              <div class="form-row">
               <div class="form-group col-lg-3">
                <label for="">Filtrar por Placa</label>
                    <select name="placa" id="placa" class="form-select">
                    <option value="0"></option>
                    {% for i in placa %}
                      <option value="{{i.id}}">{{i.placa}}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="form-group col-lg-3">
                  <label for="">Filtrar por Marca</label>
                      <select name="marca" id="marca" class="form-select">
                      <option value=""></option>
                      {% for i in marca %}
                        <option value="{{i.id}}">{{i.descripcion}}</option>
                      {% endfor %}
                      </select>
                  </div>
                  <div class="form-group col-lg-3">
                    <label for="">Filtrar por Modelo</label>
                        <select name="modelo" id="modelo" class="form-select">
                      
                        </select>
                    </div>
                <div class="form-group col-lg-3">
                <label for="">Filtrar por Fecha de Creación</label>
                            <input type="text" name="date_ranger" class="form-control" id="date_ranger" autocomplete="off">

                </div>
              </div>  
                <div class="table-responsive">
                <table class="table table-bordered table-hover" id="tablaVehiculo" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th class="middle text-center" >#</th>
                      <th class="middle text-center" >Placa</th>
                      <th class="middle text-center" >Marca</th>
                      <th class="middle text-center" >Modelo</th>
                      <th class="middle text-center" >Año</th>
                      <th class="middle text-center" >N° Neumáticos</th>

                      <th class="middle text-center">KM</th>
                      <th class="middle text-center" >F. Registro</th>
                                            <th class="middle text-center" >Est.</th>

                      <th></th>
                    </tr>
                  </thead>
       
                </table>
                </div>
              </form>

            </div>
          </div>
        </div>
  </div>
  <!-- End of Page Wrapper -->
  {% endblock %}
  {% block bottom_scripts %}

  <script>
  var tablaVehiculo


      $('#placa').select2();
      $('#marca').select2();

       $('#modelo').select2();

 var date_range = null
  var date_now = new moment().format('YYYY-MM-DD');
  var parameters = {
      "start_date": "",
      "end_date": "",
      "placa":"",
      "modelo":"",
      "marca":""

    }
  function generate_reports() {
    
    
    tabla = $("#tablaVehiculo").DataTable({
      processing:"true",
              stateSave: true,

    responsive: true,
            destroy: true,
      "lengthMenu": [
        [5, 10, 25, 50, -1],
        [5, 10, 25, 50, "All"]
      ],
      language:{"url":"{% static 'language.json' %}"},
      ajax: {
        url: window.location.pathname,
        type: "POST",
        data: parameters,
        dataSrc: ""
      },
      

      columns: [
       {
          "data": "id",
            className: "middle text-center"

        },
        {
          "data": "placa",
            className: "middle text-center"
        },
         {
          "data": "marca",
            className: "middle text-center"
        },
         {
          "data": "modelo",
            className: "middle text-center"
        },
          {
          "data": "ano",
            className: "middle text-center"
        },
        {
          "data": "nro_llantas",
            className: "middle text-center"
        },
       
        {
          "data": "km",
            className: "middle text-center"
        },
        {
          "data": "created_at",
            className: "middle text-center"
        },
           {
          "data": 'activo',
          className: "estado middle  text-center",
          render: function (data, type, row) {
            if (data) {
              return '<i class="fa fa-check-circle text-success" aria-hidden="true"></i>';
            } else {
              return '<i class="fas fa-times-circle text-danger"></i>';
            }
          }
        },
          {
          "data": "null",
            className: "middle text-center"
        },
       ],
                  "order": [[ 1, 'asc' ]],		

       columnDefs: [
         {

              "targets": [0],
              "visible": false
            },
       {
          targets: [-1],
    render: function (row, data, index) {
              var buttons =
                ' {% if "Web.change_vehiculo" in perm %}<a class="btn btn-success" href="../ver-vehiculo/'+index.id+'/"><i class="fas fa-tools"></i>&nbsp;Operaciones</a><a class="btn btn-warning"  role="button" href="../vehiculo/'+ index.id +
    
                '"><i class="far fa-edit" ></i></a>'+
                
                '{%endif%}'
              return buttons;
            
          },
          {% comment %} render: function (row, data, index) {
              var buttons =
                ' {% if "Web.change_vehiculo" in perm %}<a class="btn btn-light mr-1" href="../ver-vehiculo/'+index.id+'/"><i class="fas fa-tools"></i>&nbsp;Operaciones</a><a class="btn btn-warning mr-1"  role="button" href="../vehiculo/'+ index.id +
    
                '"><i class="far fa-edit" ></i></a>'+
                
                '{%endif%}' +
                  ' {% if "Web.delete_vehiculo" in perm %}<button class="btn btn-danger mr-1 btn-eliminar-vehiculo"'+      
                '"><i class="fa fa-ban" ></i></button>{%endif%}';
              return buttons;
            
          }, {% endcomment %}

        }]
  

    });

    tabla.page('next');
tabla.state.save();
  }
  $('input[name="date_ranger"]').daterangepicker({
        autoUpdateInput: false,

       locale: {
      format: 'YYYY-MM-DD'
    },
    opens: 'right'
  }).on("apply.daterangepicker", function (ev, picker) {
    parameters["placa"]=""
        $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));

    date_range = picker;
    parameters["modelo"]=""
    parameters["marca"]=""
    
    parameters["start_date"] = date_range.startDate.format("YYYY-MM-DD")
     parameters["end_date"] = date_range.endDate.format("YYYY-MM-DD")
    generate_reports()

  }).on('cancel.daterangepicker', function (ev, picker) {
    date_range = picker;
    $(this).val("");
    parameters["start_date"]=""
    parameters["end_date"]=""
    parameters["placa"]=""
    parameters["modelo"]=""
    parameters["marca"]=""
    generate_reports();
  });
    $(document).on("click", '.btn-eliminar-vehiculo', function (e) {

      e.preventDefault()
      var tr = tabla.cell($(this).closest("td")).index();
      var data = tabla.row(tr.row).data();
      Swal.fire({
        title: 'Eliminar vehículo',
        icon: "warning",
        text: "¿Está seguro que desea Eliminar el vehículo?",
        showCancelButton: true,
        confirmButtonColor: "#e74a3b",
        cancelButtonColor: '#6c757d',
        confirmButtonText: 'Sí, eliminarlo!'
      }).then((result) => {
        if (result.isConfirmed) {
            Swal.showLoading()

            fetch("../vehiculo/" + data.id + "/delete/", {
              method: "POST",
              headers: {
                'X-CSRFToken': csrftoken
              },
            }).then(data => data.json()).then(response => {
              if (response.status = 200) {
                $("#placa option[value='"+data.id+"']").remove()
                notificacion(1500, "Genial!", "success", "Vehículo eliminado!")
                tabla.ajax.reload()
              } else
              if (response == 404) {
                notificacion(1500, "Error", "error", "Ese vehículo no existe")
              }
            })
          
        }
      })
    })
    generate_reports();

    $("#placa").on("change",function (e) { 
      $('#marca').prop("disabled",true)
           $('#date_ranger').prop("disabled",true)
               $('#date_ranger').val("")

      e.preventDefault();
      if(  $('#placa').val()=="0"){
           $('#marca').prop("disabled",false)
           $('#date_ranger').prop("disabled",false)
          

           
       } 
      parameters["modelo"]=""
      parameters["marca"]=""

      parameters["placa"]=$( "#placa option:selected").text();
      parameters["start_date"]=""
      parameters["end_date"]=""
      generate_reports();

    });
    if(  $('#marca').val()==""){
           $('#modelo').prop("disabled",true)
           $('#modelo').empty();
      

           
       } 
       
       
       $("#modelo").on("change",function (e) { 
            parameters["modelo"]= $("#modelo").val()
                  generate_reports();
       })

    $("#marca").on("change",function (e) { 
            parameters["marca"]= $("#marca").val()
                  generate_reports();
                  $('#placa').prop("disabled",true)
                  $('#date_ranger').prop("disabled",true)

    $('#date_ranger').val("")

  if(  $('#marca').val()==""){
    $('#placa').prop("disabled",false)

                  $('#date_ranger').prop("disabled",false)
    $('#modelo').prop("disabled",false)
           $('#modelo').empty();       }else{
    $('#modelo').empty();
    $('#modelo').append($("<option>", {value: "",text: " --------- "}));              
    $.ajax({
      'url' : '/catalogos/render-option-vehiculo',
      'type' : 'GET',
      'data' : {'id_marca' : $('#marca').val()},
      'success' : function(data) {
       $.each(data, function( index, valuex ) {
          $('#modelo').append($("<option>", {value: valuex.id ,text: valuex.descripcion}));              
       });
         $('#modelo').removeAttr("disabled")
      },
      'error' : function(request,error){
        //alert("Request: "+JSON.stringify(request));
      }
    });}
    });

















 
  </script>
  {% endblock %}
  