 {% extends 'Web/base.html' %}
{% load base_extras %}
                   {% block titleheader %}{% endblock %}

{% block none %}
  
{% endblock none %}
    {% block vh %}{% endblock %}

{% block inicio %}
   <li class="nav-item dropdown no-arrow mx-1 d-flex align-items-center justify-content-between">
              <a class="btn btn-light" href="{% url 'Web:inicio' %}"> <i class="fa fa-home" aria-hidden="true">Inicio</i></a>

            </li>
{% endblock inicio %}
 

{% block sidebar %}
   
    <li class="nav-item active">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>REPORTES</span>
        </a>
        <div id="collapsePages" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <!-- <h6 class="collapse-header">Login Screens:</h6> -->
            <a class="{% block historial %}collapse-item{% endblock %} " href="{% url 'Web:ver-historial' %}">Historial</a>
            <a class="collapse-item" href="#">Indicadores</a>
           
          </div>
        </div>
      </li>
{% endblock sidebar %}

{% block content %}
    
{% endblock content %}
    
