 {% extends 'Web/base.html' %}
{% load base_extras %}
                   {% block titleheader %}{% endblock %}

{% block none %}{% endblock none %}
  {% block vh %}{% endblock %}
{% block inicio %}
   <li class="nav-item dropdown no-arrow mx-1 d-flex align-items-center justify-content-between">
              <a class="btn btn-light" href="{% url 'Web:inicio' %}"> <i class="fa fa-home" aria-hidden="true">Inicio</i></a>

            </li>
{% endblock inicio %}
 

{% block sidebar %}
   <li class="nav-item active">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>ADMINISTRACIÓN</span>
        </a>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="{% block personas %}collapse-item{% endblock %}" href="{% url 'Web:Personas' %}">Personas</a>

            <a class="{% block usuarios %}collapse-item{% endblock %}" href="{% url 'Web:Usuarios' %}">Usuarios</a>
            <a class="{% block perfiles %}collapse-item{% endblock %}" href="{% url 'Web:Perfiles' %}">Perfiles</a>
          </div>
        </div>
      </li>
   
{% endblock sidebar %}

{% block content %}
    
{% endblock content %}
    
