{% extends 'Web/Seguridad/seguridad_base.html' %}
{% load staticfiles %}
{% block content %}
<style>
</style>
<form method="POST" action="" name="frmList" id="frmList">
    {% csrf_token %}
    <input type="hidden" name="perfil" id="perfil">
    <div class="container">
    <div class="card" style="width:300px">
      <img class="card-img-top" src="{% static "img/img_avatar1.png" %}" width="60%" alt="Card image">
      <div class="card-body">
        	<label><h4>Seleccione un Perfil:</h4></label>
        
            <ul class="list-group list-group-flush">
                {% for p in perfiles %}
                    <li class="list-group-item">
                        <input type="button" class="btn btn-primary" name="btnIngresar" id="btnIngresar" onclick="send('{{p.pk}}');" value="{{p}}" />
                    </li>
                {% endfor %}
            </ul>
        
        
      </div>
    </div>
    </div>
</form>
<script>
    function send(perfil){
        $('#perfil').val(perfil);
        $('#frmList').submit();
    }
</script>
{% endblock %}